// MIXIN Utility for generating CTD buttons

@mixin set-button($col, $bg-color, $border-color) {
    color: $col;
    background: $bg-color;
    border: 1px solid $border-color;
}

// MIXIN Utility for generating CTD typography

@mixin set-typography-text($ffamily, $fsize, $fweight, $col, $line-height, $letter-spacing) {
    font-family: $ffamily;
    font-size: $fsize + px;
    font-weight: $fweight;
    color: $col;
    line-height: $line-height + px;
    letter-spacing: $letter-spacing + px;
}
