@import "~base/utilities/swatch";

.product-detail {
    .swatch-circle {
        &.color-value {
            margin-right: 0;
            width: 100%;
            height: 100%;

            &.selected {
                &::after {
                    display: none;
                }
            }
        }
    }

    .attribute {
        .product-swatches {
            display: inline-block;
            margin-right: 13px;
            position: relative;
            width: 2.5em;
            height: 2.5em;

            .selected-span {
                display: none;
            }

            .selected + .selected-span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }
        }

        .color {
            color: $ctd-secondary-2;
            font-weight: $font-weight-medium;
            font-family: $barlow;
            font-size: $base-font - 1px;
            line-height: 18px;
            text-transform: capitalize;
        }

        .size {
            color: $ctd-secondary-2;
            font-weight: normal;
            font-family: $barlow;
            font-size: $base-font - 1px;
            line-height: 18px;
            text-transform: capitalize;
        }
    }

    .product-attribute-size {
        .attribute {
            width: 50%;
            max-width: 246px;
            vertical-align: middle;
            padding: 0;
            margin-right: 44px;
            display: inline-block;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                width: 100%;
                margin-right: 0;

                .custom-select {
                    width: 100%;
                }
            }
        }
    }
}
