@import "~base/storeLocator/storeLocator";

.store-locator-inner-container {
    &.store-locator-page {
        max-width: 1088px;
        margin: 0 auto;

        .ffl-page-header {
            margin-bottom: 30px;
            margin-top: 30px;

            @include media-breakpoint-down(md) {
                margin-top: 10px;
                text-align: center;
                width: 100%;
            }

            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                flex-basis: 100%;
            }

            .dealer-right {
                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }

                a {
                    color: $ctd-secondary-1;
                    font-size: $base-font;
                    line-height: 19px;
                }
            }
        }

        .store-locator-top-content {
            max-width: 920px;
            margin: 0 auto;
            flex-wrap: wrap;
        }

        .store-locator-left-content,
        .store-locator-right-content {
            .card {
                border: 1px solid $ctd-secondary-5;
                border-radius: 0;
            }
        }

        .store-locator-left-content {
            max-width: 354px;
            width: 100%;

            @include media-breakpoint-down(md) {
                padding-right: 12px;
                max-width: 100%;
                padding-left: 12px;
            }

            .search-form {
                padding: 20px 30px 30px;
                margin-bottom: 0;

                @include media-breakpoint-down(md) {
                    padding: 20px 20px 30px;
                }

                .card-body {
                    padding: 0;
                }
            }

            .form-group {
                margin-bottom: 10px;
            }

            .detect-location {
                margin-bottom: 0;

                &::before {
                    content: '';
                    background-image: url("../../images/CTD-location-icon.svg");
                    height: 18px;
                    width: 18px;
                    margin-right: 6px;
                    display: inline-block;
                    background-size: 100%;
                    vertical-align: text-top;
                }
            }

            .or-line {
                margin: 0 auto;
                width: 100%;
                max-width: 56px;
                text-align: center;
                position: relative;
                font-family: $barlow;
                font-size: $base-font + 1px;
                color: $ctd-secondary-1;
                line-height: 20px;
                font-weight: $font-weight-medium;
                margin-bottom: 20px;
                margin-top: 20px;

                &::after {
                    content: '';
                    border-bottom: 1px solid $ctd-secondary-1;
                    width: 100%;
                    left: 49%;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 55%;
                }

                span {
                    padding: 0 6px;
                    background: $ctd-primary-4;
                    position: relative;
                    z-index: 1;
                }
            }
        }

        .button-find-dealer {
            color: $ctd-secondary-2;
            font-size: $base-font - 1px;
            line-height: 18px;
            font-weight: $font-weight-bold;
            border: 1px solid $ctd-secondary-2;
            border-radius: 0;
            padding: 12px;
            background-color: transparent;
            text-transform: uppercase;

            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
                color: $ctd-secondary-2;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .store-locator-right-content {
            max-width: 546px;
            width: 100%;
            display: inline-block;

            .show-more-stores {
                @include media-breakpoint-down(md) {
                    margin-top: 20px;
                }
            }

            &.stores-visible {
                .results-card {
                    border: 0;

                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                    }

                    .results-card-select {
                        border: 1px solid $ctd-secondary-5;
                    }

                    .results {
                        border: 1px solid $ctd-secondary-5;

                        @include media-breakpoint-down(md) {
                            border: 0;
                        }
                    }
                }

                .store-result-list {
                    border-top: 0;
                    padding: 0;

                    @include media-breakpoint-down(md) {
                        padding: 0 12px;
                    }
                }

                .select-dealer.select-dealer-one {
                    display: block;
                }
            }

            @include media-breakpoint-down(md) {
                padding-left: 12px;
                padding-right: 12px;
                max-width: 100%;
                padding-top: 30px;
            }

            .results-card {
                height: 100%;
            }

            .results-card-select {
                padding: 38px 30px 30px;

                @include media-breakpoint-down(md) {
                    padding: 38px 20px 30px;
                }
            }

            .store-result-list {
                border-top: 1px solid $ctd-secondary-5;
                padding: 20px 30px 0;

                @include media-breakpoint-down(md) {
                    padding: 20px 20px 0;
                }

                .store-locator-no-results {
                    color: $ctd-light-red;
                    font-size: $base-font;
                    font-style: italic;
                    line-height: 19px;
                }

                .results {
                    max-width: 100%;

                    @include media-breakpoint-up(lg) {
                        max-height: 300px;
                    }

                    .ps__rail-y {
                        right: 20px !important;
                    }

                    .card-body {
                        border-bottom: 1px solid $ctd-secondary-5;
                        padding: 20px 20px 30px 30px;
                        background-color: $ctd-primary-4;

                        @include media-breakpoint-down(md) {
                            padding: 15px 20px;
                            border-left: 1px solid $ctd-secondary-5;
                            border-right: 1px solid $ctd-secondary-5;

                            &.show-more {
                                display: none;
                            }
                        }

                        &.background-color {
                            background-color: $ctd-secondary-7;

                            @include media-breakpoint-down(md) {
                                border-top: 1px solid $ctd-secondary-5;
                            }
                        }

                        &:last-child {
                            border-bottom: 0;
                        }

                        &.card-body-border {
                            padding-top: 10px;

                            @include media-breakpoint-down(md) {
                                padding-top: 15px;
                                border-left: 1px solid $ctd-secondary-5;
                                border-right: 1px solid $ctd-secondary-5;
                            }

                            .store-preffered {
                                color: $ctd-primary-1;
                                font-size: $base-font - 3px;
                                font-weight: $font-weight-semibold;
                                line-height: 16px;
                                width: 100%;
                                text-align: right;
                                display: inline-block;
                                padding-right: 40px;

                                @include media-breakpoint-down(md) {
                                    text-align: left;
                                    padding-left: 27px;
                                    margin-bottom: 7px;
                                    padding-right: 0;
                                }

                                &::before {
                                    content: '';
                                    background-image: url("../../images/reviews/Star_Rating_Filled_Red.svg");
                                    height: 11px;
                                    width: 13px;
                                    margin-right: 4px;
                                    display: inline-block;
                                    background-size: 100%;
                                }
                            }
                        }
                    }
                }

                .select-dealer {
                    display: none;

                    .select-store {
                        margin-top: 0;

                        @include media-breakpoint-down(md) {
                            width: 100%;
                        }
                    }
                }

                .form-check-label {
                    width: 100%;
                    position: relative;
                }

                .store-details {
                    max-width: 100%;
                    display: inline-block;
                    width: 100%;
                    float: left;
                    margin-left: 0;

                    @include media-breakpoint-down(md) {
                        margin-left: 8px;
                    }
                }

                .store-result-number {
                    color: $ctd-primary-4;
                    font-size: $base-font - 2px;
                    font-weight: 600;
                    line-height: 17px;
                    text-align: center;
                    background: $ctd-primary-1;
                    padding: 0 5px;
                    position: absolute;
                    top: 2px;
                    left: 3px;

                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }

                .select-location-div {
                    @include media-breakpoint-down(md) {
                        width: 100%;
                        float: none;
                        display: inline-block;
                        text-align: center;
                        margin-top: 20px;
                    }
                }

                .store-name {
                    color: $ctd-secondary-1;
                    font-family: Barlow;
                    font-size: $base-font + 1px;
                    font-weight: $font-weight-medium;
                    line-height: 20px;
                    margin-bottom: 10px;
                    margin-left: 25px;

                    @include media-breakpoint-down(md) {
                        margin-left: 0;
                    }
                }

                address {
                    color: $ctd-secondary-1;
                    font-family: Barlow;
                    font-size: $base-font;
                    line-height: 19px;
                    margin-bottom: 0;
                    text-decoration: underline;

                    a {
                        display: inline-block;
                        color: $ctd-secondary-1;
                        text-decoration: underline;
                    }
                }

                .store-map {
                    display: inline-block;
                    color: $ctd-secondary-1;
                    text-decoration: underline;
                }

                .store-hours {
                    padding-top: 17px;
                    display: inline-block;
                    width: 100%;
                }
            }

            .select-dealer-one {
                margin: 20px 0;
            }
        }

        .ffl-state-content-list {
            padding-top: 60px;
            border-top: 1px solid $ctd-secondary-5;
            margin-top: 60px;
            display: inline-block;
            width: 100%;
            margin-bottom: 60px;

            .ffl-state-inner-content-list {
                max-width: 950px;
                margin: 0 auto;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    border-top: 1px solid $ctd-secondary-5;
                    padding-top: 60px;
                }
            }

            @include media-breakpoint-down(md) {
                padding: 0 12px;
                border: 0;
            }

            ul {
                margin-top: 30px;

                li {
                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }

                    a {
                        font-size: $base-font;
                        line-height: 24px;
                        font-family: $barlow;
                        color: $ctd-secondary-1;
                    }
                }
            }
        }

        .hide-in-page {
            display: none !important;
        }

        .cant-findyour-dealer {
            span {
                width: 100%;
                display: inline-block;
                margin-top: 20px;
                color: $ctd-secondary-1;
                font-size: $base-font - 1px;
                line-height: 18px;
            }

            .cant-find-link {
                color: $ctd-secondary-1;
                font-size: $base-font - 1px;
                line-height: 18px;
                cursor: pointer;
            }
        }

        .store-page-button {
            max-width: 920px;
            width: 100%;
            text-align: center;
            margin: 30px auto 0;

            @include media-breakpoint-down(md) {
                padding: 0 24px;
                max-width: 100%;
                margin-top: 20px;
            }

            .inner-store-page {
                max-width: 546px;
                width: 100%;
                float: right;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }

                .cant-findyour-dealer {
                    display: none;
                }

                .select-store {
                    margin-top: 0;

                    @include media-breakpoint-down(md) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//FFL By State
.ffl-dealer-container {
    max-width: 1340px;

    .category-breadcrumb {
        margin-top: 10px;

        .breadcrumb {
            padding: 0 0 8px;
            margin: 0;
            border-bottom: 1px solid $ctd-secondary-5;
        }
    }

    .ffl-dealer-locator {
        margin: 60px 0;

        @include media-breakpoint-down(md) {
            margin-bottom: 40px;
        }
    }

    .brand-list-text {
        margin-bottom: 25px;
    }

    .anchor-link {
        margin: 0 auto 35px;
        display: inline-block;

        @include media-breakpoint-up(lg) {
            max-width: 723px;
            display: flex;
            justify-content: space-between;
        }

        @include media-breakpoint-down(md) {
            text-align: center;

            .links {
                margin-right: 6px;
                letter-spacing: 7px;
            }
        }

        .dim-color {
            color: $ctd-secondary-3;
        }

        .text-bold {
            font-weight: $font-weight-bold;
        }
    }

    .country-link-list {
        padding: 25px 0;
        border-top: 2px solid $ctd-secondary-5;

        @include media-breakpoint-down(md) {
            padding: 20px 0;

            .left-list {
                max-width: 15%;
            }

            .right-list {
                max-width: 85%;
            }
        }
    }

    .country-refinements {
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 10px;
        }

        span {
            line-height: 24px;
            color: $ctd-secondary-1;
        }
    }
}

//FFL By City
.ffl-by-city {
    margin-bottom: 30px;

    .ffl-dealer-locator {
        margin: 30px 0;
    }

    .country-store-list {
        .store-details {
            margin: {
                bottom: 30px;
                left: 0;
            }

            .store-name {
                color: $ctd-secondary-1;
                font-size: $base-font + 1px;
                font-weight: $font-weight-medium;
                line-height: 20px;
                margin-bottom: 10px;
            }

            .store-map {
                color: $ctd-secondary-1;
                font-size: $base-font;
                line-height: 19px;
                text-decoration: underline;
            }

            address {
                margin-bottom: 0;
            }
        }
    }
}
