@import "~base/components/breadcrumb";

.category-breadcrumb,
.page-breadcrumb {
    @include media-breakpoint-up(md) {
        margin-top: 20px;
    }

    @include media-breakpoint-down(md) {
        .row {
            margin: 0;

            .col {
                padding: 0;
            }
        }
    }

    .breadcrumb {
        font-family: $barlow;
        font-size: $base-font - 1px;
        padding-left: 0;
        margin-bottom: 5px;
        padding-top: 0;
        border: 0;

        @include media-breakpoint-down(md) {
            padding: 5px 10px 0;
        }

        a {
            color: $ctd-secondary-1;
        }

        li {
            &:last-child {
                color: $ctd-secondary-3;

                a {
                    color: $ctd-secondary-3;
                }
            }
        }

        .breadcrumb-item {
            + .breadcrumb-item {
                padding-left: 5px;

                &::before {
                    color: $ctd-secondary-1;
                    padding-right: 2px;
                }
            }
        }
    }
}
