@import "~base/components/common";

header ~ .container a:not(.btn-primary, .btn-outline-primary) {
    color: inherit;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: $ctd-primary-1-hv;
}

.btn-primary.button-pdp:not(:disabled):not(.disabled).active,
.btn-primary.button-pdp:not(:disabled):not(.disabled):active,
.show > .btn-primary.button-pdp.dropdown-toggle,
.btn-outline-primary.button-pdp:not(:disabled):not(.disabled).active,
.btn-outline-primary.button-pdp:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.button-pdp.dropdown-toggle {
    background-color: $ctd-primary-2;
}

.modal-background-tile {
    background-color: $ctd-primary-4;
    opacity: 0;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.quickview-show {
    .modal-background-tile {
        display: block;
    }
}
