@import "~base/components/footer";

footer {
    padding-top: 0;
    background-color: $ctd-secondary-7;

    .footer-wrapper {
        max-width: 1610px;
        margin: 0 auto;
        padding: 0 15px;
        @include media-breakpoint-down(md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .content {
        li {
            &:last-child {
                @include media-breakpoint-up(md) {
                    height: auto;
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding-top: 20px;

        .guarantee-message {
            width: 100%;
        }
    }

    .social-links {
        max-width: 300px;
        margin: 0 auto;
        float: none;
        @include media-breakpoint-down(xs) {
            width: 100%;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
        }

        li {
            margin-right: 30px;
            display: inline-block;
            vertical-align: middle;
            float: none;
            width: auto;

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
            }

            a {
                &.hover-off {
                    display: inline-block;
                }

                &.hover-on {
                    display: none;
                }
            }

            &:hover {
                a {
                    &.hover-off {
                        display: none;
                    }

                    &.hover-on {
                        display: inline-block;
                    }
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .home-email-signup {
        background: transparent;

        .email-form {
            padding: 0;
        }

        .email-description {
            padding-top: 30px;
            padding-bottom: 15px;
            width: 100%;
            color: $ctd-secondary-1;
            text-align: center;
            @include media-breakpoint-up(md) {
                text-align: left;
                padding-top: 0;
            }
        }
    }

    .input-group {
        margin-bottom: 0;

        .form-control {
            border-radius: 0;
            border: 1px solid $ctd-primary-1;
        }

        .form-control-label {
            font-style: italic;
        }
    }

    .input-group-btn {
        button {
            line-height: normal;
            padding: 0.375rem 2.1rem;
        }
    }

    .email-input {
        width: 100%;

        @include media-breakpoint-up(md) {
            .form-control-label {
                font-size: $base-font - 2px;
            }
        }
    }

    .store {
        border-bottom: none;
        padding-top: 27px;
        text-align: center;
    }

    .copyright-notice {
        margin-top: 25px;
        width: 100%;

        @include media-breakpoint-down(md) {
            padding: 0 12px;
            margin-top: 22px;
            margin-bottom: 10px;
        }
    }

    .back-button {
        position: relative;
    }

    .back-to-top-button {
        width: 100%;
        position: relative;
        margin-top: 20px;

        .back-to-top {
            padding: 6px 11.5px;
            background-color: $ctd-primary-1;
        }
    }

    .social-msg {
        padding-bottom: 15px;
        text-align: center;
    }

    .footer-middle {
        .footer-item {
            &:first-child {
                @include media-breakpoint-down(sm) {
                    border-bottom: 1px solid $ctd-secondary-5;
                    border-top: 1px solid $ctd-secondary-5;
                }
            }

            @include media-breakpoint-down(sm) {
                h3 {
                    padding: 5px 0;
                }
            }
        }

        .emailSocial {
            .footer-item {
                @include media-breakpoint-down(sm) {
                    border-bottom: none;
                }
            }
        }

        .footer-right-content {
            @include media-breakpoint-up(md) {
                flex-basis: 70%;
            }
        }
    }

    .menu-footer {
        a {
            color: $ctd-secondary-1;
        }
    }

    @include media-breakpoint-up(md) {
        .emailSocial {
            flex-basis: 30%;
            padding-right: 3%;
        }

        .social-msg,
        .store {
            text-align: left;
        }

        .social-links {
            float: left;
        }

        .footer-middle {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
        }

        .footer-item {
            padding: 0 2%;

            &:first-child {
                padding-left: 5%;
                border-left: 1px solid $ctd-secondary-3;
            }

            &.store {
                padding: 27px 0 0;
            }

            .footer-content-header {
                padding-bottom: 10px;
                cursor: auto;
                margin-bottom: 10px;
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-size: $base-font;
                font-weight: $font-weight-bold;
                line-height: 18px;

                a {
                    cursor: text;
                }
            }

            .plus-icon,
            .minus-icon {
                display: none;
            }
        }

        .copyright-notice {
            max-width: 1479px;
            margin: 66px 0;
        }

        .back-to-top-button {
            position: absolute;
            margin-top: 0;
            right: 25px;
            top: 60px;
        }
    }

    .footer-middle {
        div {
            &.footer-item {
                h3 {
                    a {
                        &.title {
                            color: $ctd-secondary-1;
                        }
                    }
                }
            }
        }
    }
}

.footer-item {
    @include media-breakpoint-down(sm) {
        border-bottom: 1px solid $ctd-secondary-5;

        &:first-child {
            border-bottom: none;
        }

        a.title {
            &::after {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .minus-icon {
            display: none;
        }

        .plus-icon {
            display: inline-block;
        }

        .plus-icon,
        .minus-icon {
            margin-top: 15px;
        }

        &.active {
            .minus-icon {
                display: inline-block;
            }

            .plus-icon {
                display: none;
            }
        }
    }

    h3 {
        cursor: pointer;
    }
}

.guarantee-submsg {
    .more {
        font-weight: 700;
        color: $ctd-secondary-1;
    }
}

.guarantee-submsg {
    padding-bottom: 23px;
    border-bottom: 1px solid $ctd-secondary-1;
}

@include media-breakpoint-up(md) {
    .guarantee-submsg {
        border-bottom: none;
        padding-bottom: 0;
    }

    .guarantee-heading {
        padding-bottom: 10px;
        padding-top: 0;
    }

    .guarantee-box {
        border-bottom: 1px solid $ctd-secondary-3;
        width: 100%;
        display: inline-block;
        display: flex;
        align-items: center;
        padding: 0;
        flex-flow: row;
        justify-content: center;
        padding-bottom: 12px;

        .guarantee-img {
            padding-top: 10px;
            margin-right: 80px;
        }

        .guarantee-message {
            padding-top: 20px;
        }
    }
}
