@import "~base/components/formFields";

$max-width: 1024px;

.span-radio,
.span-checkbox {
    width: 15px;
    height: 15px;
    display: inline-flex;
    border: 1px solid $ctd-secondary-3;
    border-radius: 50%;
}

.span-checkbox {
    border-radius: 0;
    margin-right: 5px;
    vertical-align: middle;
}

.container {
    &.search-results {
        .span-active-radio {
            &::before {
                content: "";
            }
        }
    }
}

.span-active-radio {
    &::before {
        width: 11px;
        height: 11px;
        display: inline-block;
        border-radius: 50%;
        background-color: $ctd-primary-1;
        margin: auto;
    }
}

.span-checkbox {
    span {
        margin: auto;
    }
}

.custom-checkbox,
.custom-radio {
    position: relative;

    .checked-span,
    .span-active-radio {
        display: none;
    }

    label {
        font-size: $base-font;
        line-height: 16px;
        vertical-align: text-top;
    }

    input {
        width: 15px;
        height: 15px;
        opacity: 0;
        cursor: pointer;
        margin-top: 4px;

        &:checked {
            ~ .span-checkbox,
            ~ .span-radio {
                .checked-span {
                    display: block;
                }

                .span-active-radio {
                    display: inline-flex;
                }
            }
        }
    }

    .span-checkbox,
    .span-radio {
        position: absolute;
        top: 0;
        z-index: 0;
        margin-top: 4px;
        left: 0;
    }
}

.custom-radio {
    input {
        z-index: 11;

        &:checked {
            ~ .span-radio {
                .span-active-radio {
                    &::before {
                        content: "";
                    }
                }
            }
        }
    }

    .span-radio {
        z-index: 0;
        justify-content: center;
    }
}

.form-group {
    position: relative;

    .form-control-label {
        font-size: $base-font;
        font-weight: normal;
        color: $ctd-secondary-3;
        line-height: 19px;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(13px, 13px);
        z-index: 1;
        transition: transform 0.3s ease, font-size 0.3s, color 0.3s, -webkit-transform 0.3s ease;

        &.input-focus {
            transform: translate(10px, -5px);
            font-size: $base-font - 4px;
            color: $ctd-secondary-4;
            background: $ctd-white;
            line-height: 9px;
            padding: 0 3px;
        }
    }

    &.required {
        .form-control-label {
            &::before {
                display: none;
            }
        }
    }

    .form-control {
        border-radius: 0;
        border: 1px solid $ctd-secondary-4;
        padding: 11.5px 12px;
        line-height: normal;
        font-size: $base-font;
        color: $ctd-secondary-1;

        &.is-invalid {
            border: 1px solid $ctd-dark-red;
        }
    }

    .invalid-feedback {
        color: $ctd-dark-red;
        margin-top: 2px;
        font-size: $base-font - 5px;
        line-height: 13px;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
        text-align: left;
    }
}

.custom-select {
    width: 100%;
    display: inline-block;
    position: relative;
    border-radius: 0;
    border: 0;
    height: auto;
    font-size: $base-font;
    color: $ctd-secondary-1;
    background: none;
    padding: 0;

    &.current_item {
        .selected-option {
            border-bottom: 1px solid transparent;
        }
    }

    .custom-select-label,
    .form-control-label {
        &.input-focus {
            transform: translate(10px, -5px);
            font-size: $base-font - 4px;
            color: $ctd-secondary-4;
            background: $ctd-white;
            line-height: 9px;
            padding: 0 3px;
            position: absolute;
            margin: 0;
            z-index: 2;
        }
    }

    select {
        position: absolute;
        left: -9999px;
        top: 0;
        opacity: 0;
        z-index: 0;
        width: 100%;
        height: 100%;

        &:disabled {
            + .selected-option,
            + .is-invalid + .selected-option {
                opacity: 0.4;
            }
        }

        &.is-invalid ~ .selected-option {
            border: 1px solid $ctd-dark-red;
        }

        @media screen and (max-width: $max-width) {
            left: 0;
            z-index: 2;
        }
    }

    .selected-option {
        display: block;
        line-height: 19px;
        font-size: $base-font;
        color: $ctd-secondary-1;
        border: 1px solid $ctd-secondary-4;
        overflow: hidden;
        position: relative;
        padding: 11.5px 15px;
        width: 100%;
        min-height: 44px;
        max-height: 44px;
        cursor: pointer;
        z-index: 1;

        &::before {
            background: url("../images/Dropdown-Arrow-down.svg") no-repeat;
            content: '';
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -3px;
            width: 12px;
            height: 7px;
        }
    }

    .selection-list {
        background-color: $white;
        list-style: none;
        display: none;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 99;
        border: 1px solid $ctd-secondary-4;
        border-top: 0;
        transition: all 0.15s linear;
        overflow: auto;
        height: 150px;

        li {
            line-height: 19px;
            font-size: $base-font;
            color: $ctd-secondary-1;
            float: left;
            width: 100%;
            padding: 8px 15px;
            cursor: pointer;
            text-align: left;

            &:last-child {
                border-bottom: 0;
            }

            &.option-disabled {
                pointer-events: none;
                cursor: auto;
                color: $ctd-secondary-3;
            }

            &:hover,
            &:active,
            &.selected,
            &.hover {
                background-color: $ctd-secondary-7;
            }
        }
    }

    &.current_item {
        .selection-list {
            display: block;
        }

        .selected-option {
            &::before {
                transform: rotate(-180deg);
            }
        }
    }
}

//Overriding from bootstrap input-group scss file
.input-group > .custom-file:focus,
.input-group > .custom-select:focus,
.input-group > .form-control:focus {
    z-index: initial;
}

//overriding Existing custom checkbox
.custom-checkbox {
    padding-left: 0;

    .custom-control-input {
        position: relative;
        z-index: 11;
    }

    label {
        margin-left: 5px;

        &::before,
        &::after {
            display: none;
        }
    }

    .span-checkbox {
        z-index: 0;
    }
}
