@import "~base/components/headerSearch";

.site-search {
    width: 100%;

    input {
        border: 1px solid $ctd-secondary-2;
        border-radius: 0;
        padding: 10px 10px 10px 40px;
        font-family: $barlow;
        font-size: $base-font - 1px;
        font-style: italic;
        line-height: 18px;
        color: $ctd-secondary-3;
        //border: 1px solid $ctd-secondary-2;
        @include media-breakpoint-down(sm) {
            border: 1px solid $ctd-primary-1;
            font-size: $base-font;
        }
    }

    .close-icon {
        display: none;
    }

    .fa-close-icon {
        .search-icon {
            display: none !important;
        }

        .close-icon {
            display: inline-block;
            top: 35%;
        }
    }
}

.search-icon,
.close-icon {
    position: absolute;
    top: 25%;
    left: 2%;
}

.search {
    .searchbox-message {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font - 2px;
        font-weight: $font-weight-medium;
        line-height: 17px;
        padding-bottom: 10px;
        display: inline-block;
    }

    .suggestions {
        width: 100%;
    }
}

.search-mobile {
    padding-bottom: 1px;
}

.suggestions {
    border-color: $ctd-secondary-3;

    .category-parent {
        font-size: inherit;
    }

    .sm2-grey-1 {
        @include media-breakpoint-up(lg) {
            font-weight: 700;
        }
    }

    .header {
        &:not(:first-child) {
            border-color: $ctd-secondary-3;
        }
    }

    @include media-breakpoint-down(md) {
        display: flex;
        position: fixed;
        width: 100%;
    }
}
