@import "~base/components/header";
@import "menu";

header {
    position: relative;
    background-color: $ctd-secondary-7;

    .navigation-logo {
        display: none;
    }
}

@include media-breakpoint-down(md) {
    .header {
        .mobile-livechat {
            .live-chatmsg {
                display: none;
            }

            .livechat-icon {
                display: block;
            }

            .bcText {
                display: inline-block;

                .live-chat {
                    &.fa-flip-horizontal {
                        transform: none;
                    }
                }
            }
        }

        .login-user {
            padding-right: 4px;
        }
    }
}

.brand {
    width: 158px;
    left: calc((100vw - 25vw) / 2);

    @include media-breakpoint-only(sm) {
        width: 190px;
        left: calc((100vw - 14vw) / 2);
    }

    @include media-breakpoint-up(md) {
        left: 0;
        margin-left: 0;
        width: 116px;
        height: auto;
        position: relative;
        display: inline-block;
        float: left;
    }
}

.header {
    &.container {
        max-width: 1610px;
        margin: 0 auto;
    }
}

.header-box {
    padding: 0 12px 8px;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
        padding: 0 12px;
    }
}

.header-banner {
    font-family: $barlow;
    font-weight: $font-weight-semibold;
    font-size: $base-font;
    background-color: $ctd-secondary-2;
    @include media-breakpoint-down(sm) {
        font-size: $base-font - 3px;
    }

    .header-promo {
        padding: {
            top: 6px;
            bottom: 6px;
        }
    }

    @include media-breakpoint-down(md) {
        .header-promo {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .content {
        margin-right: 0;
    }

    .banner-text {
        @include media-breakpoint-down(md) {
            margin: 0;

            .promo-text {
                padding: 0;
            }
        }
    }

    .header-promotion {
        a {
            color: $ctd-primary-4;
        }
    }

    .close-button {
        width: auto;
        position: relative;
        left: 8px;

        @include media-breakpoint-down(md) {
            margin-top: 3px;
            left: 0;
            margin-right: 5px;
        }

        .close {
            background: transparent;
            @include media-breakpoint-down(md) {
                font-size: inherit;
            }
        }
    }
}

.navbar-header {
    height: auto;

    .navbar-toggler {
        margin: 0 25px 0 0;
        padding: 0;

        @include media-breakpoint-down(sm) {
            margin: 0 14px 0 0;
        }
    }

    .header-left {
        width: 41%;
        margin: 0 0 0 3%;

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        .search {
            @include media-breakpoint-down(xs) {
                display: none;
            }

            @include media-breakpoint-only(sm) {
                position: absolute;
                top: 100%;
                z-index: 16;
                margin: 0;
                left: 0;

                .searchbox-message {
                    display: none;
                }
            }
        }
    }

    .user-unauthenticated,
    .user-authenticated {
        display: inline-block;
        position: relative;
        line-height: 2.25em;
        margin: 1.125em 0 0 0.5em;

        .livechat-icon {
            display: block;
        }

        .bcText {
            @include media-breakpoint-up(lg) {
                display: inline-block;
                margin-right: 40px;

                a {
                    margin-right: 0;
                }

                .live-chat {
                    &.fa-flip-horizontal {
                        transform: none;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            margin-top: 25px;

            a {
                margin-right: 40px;
            }
        }
        @include media-breakpoint-only(md) {
            a {
                margin-right: 15px;

                &.login-user {
                    margin-right: 0;
                }
            }
        }

        a {
            span {
                font-size: $base-font - 3px;
                font-family: $barlow;
                line-height: 14px;
                color: $ctd-secondary-1;

                &.live-chatmsg {
                    font-style: normal;
                }
            }
        }

        .popover {
            width: 288px;
            max-width: 100%;
            border: none;
            padding: 20px;
            box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);
            border-radius: 0;
            position: absolute;
            display: none;
            top: 100%;
            left: auto;
            right: 30px;
            @include media-breakpoint-up(md) {
                &.show {
                    display: block;
                }
            }

            span {
                width: 100%;
                display: inline-block;

                &.welcome-text {
                    color: $ctd-secondary-1;
                    font-family: $barlow;
                    font-size: $base-font - 1px;
                    font-weight: $font-weight-bold;
                    line-height: 18px;
                    margin-bottom: 15px;
                }

                a {
                    margin-right: 0;
                    display: inline-block;
                    width: auto;
                    margin-bottom: 11px;
                    color: $ctd-secondary-1;
                    font-family: $barlow;
                    font-size: $base-font - 2px;
                    line-height: 17px;
                }

                &:last-child {
                    a {
                        margin-bottom: 0;
                    }
                }

                &.sign-out {
                    text-align: right;

                    a {
                        position: relative;
                        margin-bottom: 15px;

                        &::after {
                            content: "";
                            border-bottom: 2px solid $ctd-secondary-3;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            bottom: 1px;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    .minicart {
        @include media-breakpoint-up(sm) {
            padding-right: 6px;
        }

        a.minicart-link {
            &:hover {
                text-decoration: underline;
            }
        }

        .minicart-quantity {
            background-color: $ctd-primary-1;
            color: $ctd-primary-4;
            top: -9px;
            left: auto;
            position: absolute;
            right: -5px;
            width: auto;
            height: auto;
            padding: 0 4px;
            font-size: $base-font - 4px;
            @include media-breakpoint-down(md) {
                top: -5px;
                right: -8px;
            }
        }

        .minicart-msg {
            display: none;
            font-size: $base-font - 3px;
            font-family: $barlow;
            line-height: 14px;
            color: $ctd-secondary-1;
        }

        @include media-breakpoint-up(md) {
            margin-top: 25px;
            margin-left: 0;
        }
    }
}

