@import "~base/components/hero";

h1.page-title {
    &::before {
        @include media-breakpoint-only(xl) {
            width: calc((134vw - #{map-get($container-max-widths, xl)}) / 2);
            left: calc((134vw - #{map-get($container-max-widths, xl)}) / 2 * -1);
        }
    }
    @include media-breakpoint-only(xl) {
        left: calc((134vw - #{map-get($container-max-widths, xl)}) / 2);
    }
}
