@import "~base/components/menu";

//Secondary Navigation Links

.secondaryNavLinks {
    width: 100%;
    background-color: $ctd-white;

    &.homepage-nav-links {
        position: absolute;
        top: 100%;
        z-index: 1;
        background-color: transparent;
    }

    .secondary-links {
        display: flex;
        justify-content: space-around;
        max-width: 1075px;
        padding: 14px 0;
        opacity: 0.85;
        background-color: $ctd-white;
        @include media-breakpoint-down(md) {
            padding: 10px 5px;
            background-color: $ctd-black;
            text-align: center;
        }

        .border-line {
            border-left: 2px solid $ctd-secondary-3;
            @include media-breakpoint-down(md) {
                border-left: 2px solid $ctd-white;
            }
        }

        .content-links {
            font-size: $base-font - 2px;
            font-weight: 700;
            letter-spacing: 0.3px;
            line-height: 17px;
            @include media-breakpoint-down(md) {
                font-size: $base-font - 4px;
                line-height: 14px;
                letter-spacing: 0.26px;
                flex: 1 1 auto;
                padding-right: 10px;

                &:last-child {
                    padding-right: 0;
                }
            }

            a {
                color: $ctd-secondary-1;
                position: relative;

                span {
                    display: inline-block;
                    position: absolute;
                    right: -13px;
                    top: auto;
                    bottom: 3px;
                    @include media-breakpoint-down(md) {
                        bottom: 0;
                    }
                }
                @include media-breakpoint-down(md) {
                    color: $ctd-white;
                }
            }
        }
    }
}

.navigation-item {
    padding: 0 0 20px 15px;

    .livechat-icon {
        display: none;
    }

    .bcText {
        .live-chat {
            &.fa-flip-horizontal {
                transform: none;
            }
        }
    }

    &.user-account {
        padding-top: 18px;

        &.dropdown {
            padding-left: 0;

            .user-login {
                padding-left: 15px;
            }

            .user-details {
                padding: 10px 33px 0;
                background: $ctd-concrete;
                margin-top: 13px;
                width: 100%;

                li {
                    span:not(.sign-out) {
                        display: block;
                        width: auto;
                        margin-bottom: 12px;
                    }

                    span {
                        &.welcome-text {
                            font-size: $base-font - 1px;
                            font-weight: $font-weight-bold;
                            line-height: 18px;
                            margin-bottom: 18px;
                        }
                    }

                    a {
                        font-size: $base-font - 2px;
                        line-height: 17px;
                        display: inline-block;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        &.sign-out {
                            span {
                                position: relative;

                                &::after {
                                    content: "";
                                    border-bottom: 2px solid $ctd-secondary-3;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    bottom: 1px;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .user-message,
    .live-chatmsg {
        font-size: $base-font - 1px;
        line-height: 18px;
        font-weight: $font-weight-medium;
        text-transform: uppercase;
        padding-left: 3px;
        font-style: normal;
    }

    .navigation-logo {
        display: inline-block;
    }
}

.main-menu {
    @include media-breakpoint-up(lg) {
        background-color: $ctd-red;

        .navbar.bg-inverse {
            position: relative;

            .navbar-nav {
                justify-content: space-between;
            }

            .navbar-nav .nav-link {
                padding: 15.5px;
                letter-spacing: 0.6px;
                line-height: 19px;
                font-weight: $font-weight-bold;
                text-transform: uppercase;

                &::after {
                    display: none;
                }
            }
        }

        .dropdown-item:hover,
        .dropdown-item:focus {
            background-color: transparent;
            color: $ctd-black;
        }

        .nav-item .nav-link,
        .nav-item.show .nav-link {
            span {
                border-bottom: 2px solid transparent;
                padding-bottom: 1px;
            }
        }

        .nav-item .nav-link:hover,
        .nav-item .nav-link:focus,
        .nav-item.show .nav-link {
            background-color: $ctd-red;
            color: $ctd-white;

            span {
                border-bottom: 2px solid $ctd-white;
            }
        }

        .dropup,
        .dropright,
        .dropdown,
        .dropleft {
            position: static;
        }

        &.multilevel-dropdown {
            .dropdown-menu {
                top: 100%;
                margin: 0;
                width: 100%;
                padding: 11px 20px 25px 5%;
                box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.4);

                &::after,
                &::before {
                    content: "";
                    height: 100%;
                    width: calc((105.9vw - 1680px) / 2);
                    background: inherit;
                    position: absolute;
                    top: 0;
                    box-sizing: content-box;
                }

                &::before {
                    left: calc((105vw - 1680px) / 2 * -1);
                }

                &::after {
                    right: calc((104.2vw - 1680px) / 2 * -1);
                }
            }

            .dropdown-item + .dropdown-item {
                border-top: 0;
            }
        }
    }
}

.main-menu.menu-toggleable-left {
    @include media-breakpoint-down(md) {
        z-index: 16;
        overflow-y: auto;
    }
}

.menu-toggleable-left {
    .close-menu {
        padding: 20px 16px;
        background-color: $ctd-grey-6;
        border-bottom: 0;

        .close-button,
        .back {
            line-height: 19px;
            font-weight: $font-weight-medium;
            font-size: $base-font;

            a {
                color: $ctd-black;

                span {
                    margin-left: 5px;

                    &.right {
                        transform: rotate(180deg);
                        margin-left: 0;
                        margin-right: 5px;
                    }
                }
            }
        }

        .back {
            line-height: 22px;
            font-size: $base-font + 2px;
        }

        .close-button {
            span {
                height: 14px;
            }
        }
    }

    &.in {
        @include media-breakpoint-down(md) {
            width: 95%;

            .dropdown-toggle {
                .shopAll,
                &::after {
                    display: none;
                }
            }

            .nav-item {
                .nav-link {
                    padding: 15px;
                    font-size: $base-font + 2px;
                    line-height: 22px;
                    color: $ctd-black;
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;
                }

                &.show {
                    ul.dropdown-menu {
                        li.level-2-head {
                            padding: 0;
                            border-top: 1px solid $ctd-grey-5;

                            ul.dropdown-menu:first-child {
                                position: static;
                                padding: 0;
                                margin: 0;
                            }
                        }

                        i.Meg-nav-asset-holder {
                            border-top: 1px solid $ctd-grey-5;
                            display: inline-block;
                            width: 100%;
                        }
                    }
                }
            }

            .dropdown-menu {
                height: 100vh;
            }
        }
    }
}

.multilevel-dropdown {
    .custom-dropdown {
        @include media-breakpoint-down(md) {
            border-top: 1px solid $close-menu-bg;
            border-bottom: 1px solid $close-menu-bg;

            .dropdown-menu {
                height: 100%;
            }
        }
        @include media-breakpoint-up(lg) {
            ul.dropdown-menu {
                li.dropdown-item {
                    float: right;
                    margin-right: 0;
                    text-align: right;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        .Meg-nav-asset-holder {
            .dropdown-item {
                margin-right: 2%;
            }
        }
    }

    .dropdown-menu {
        &.has-content-level2 {
            i.Meg-nav-asset-holder {
                font-style: normal;
            }

            li.level-2-head {
                margin: 0;
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }

        &.asset-0 {
            li.level-2-head {
                max-width: 100%;
                margin: 0;
            }
        }

        &.asset-1 {
            li.level-2-head {
                max-width: 76%;
                @media #{$tablandscape} {
                    max-width: 70%;
                }
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }

        &.asset-2 {
            li.level-2-head {
                max-width: 62%;
                @media #{$tablandscape} {
                    max-width: 50%;
                }
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }

        &.asset-3 {
            li.level-2-head {
                max-width: 43%;
                @media #{$tablandscape} {
                    max-width: 27%;
                }
                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }
    }

    .dropdown-item {
        @include media-breakpoint-up(lg) {
            padding: 0;
            max-width: 177px;
            margin-right: 4.217%;
            white-space: normal;

            .dropdown-link {
                padding: 0;
                margin-bottom: 5px;
                width: auto;
                display: inline-block;
                font-size: $base-font - 2px;
                line-height: 28px;
                color: $ctd-secondary-2;

                &.dropdown-toggle {
                    text-transform: uppercase;
                    font-size: $base-font;
                    line-height: 22px;
                    //margin-bottom: 10px;
                    font-weight: $font-weight-medium;
                }
            }

            .l2-fonts {
                .dropdown-link {
                    &.dropdown-toggle {
                        text-transform: none;
                        font-size: $base-font - 2px;
                        line-height: 28px;
                        font-weight: normal;
                    }
                }
            }

            &.dropdown,
            &.dropdown-level2 {
                display: inline-block;
                vertical-align: top;
                // margin-bottom: 20px;

                .dropdown-menu {
                    position: static;
                    display: block;
                    box-shadow: none;
                    padding: 0;
                }
            }

            &.level-two-styles {
                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &.dropdown > .dropdown-toggle {
            &::after {
                display: none;
            }
        }

        @include media-breakpoint-down(md) {
            padding: 15px;

            &.nomenu-subcategories {
                padding: 0;

                .dropdown-menu {
                    position: static;
                    height: auto;
                }
            }

            &.dropdown {
                &.show {
                    .dropdown-menu {
                        position: fixed;
                        overflow-y: scroll;
                        margin: 0;
                        width: 95%;
                    }
                }
            }

            .dropdown-link {
                padding: 0;
                font-size: $base-font + 2px;
                line-height: 22px;
                color: $ctd-black;
                font-weight: $font-weight-medium;
            }

            &.top-category {
                padding: 0;

                .shopAll {
                    font-size: $base-font - 3px;
                    line-height: 16px;
                    margin-top: 2px;
                    position: relative;
                    margin-right: 3px;

                    &::after {
                        content: "";
                        border-bottom: 2px solid $ctd-secondary-3;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 1px;
                        left: 0;
                    }
                }

                .nav-link,
                .dropdown-link {
                    font-weight: $font-weight-bold;
                    text-transform: uppercase;
                }

                .dropdown-link {
                    padding: 15px;
                }

                a {
                    .right-arrow {
                        display: none !important;
                    }
                }
            }
        }

        @include media-breakpoint-down(xs) {
            &.dropdown {
                &.show {
                    .dropdown-menu {
                        width: calc(100% - 1.25em) !important;
                    }
                }
            }
        }
    }
}
