@import "~base/components/pricing";

.price {
    .tiered {
        margin-top: 20px;
        margin-bottom: 20px;

        td {
            &.value {
                text-align: center;
                font-size: $base-font;
                font-weight: $font-weight-semibold;
            }

            &.quantity {
                font-weight: normal;
                font-size: $base-font;
            }
        }

        .table-header {
            font-size: $base-font + 2px;
        }

        .column-header {
            font-size: $base-font;
            font-weight: $font-weight-semibold;
        }
    }

    .range,
    .sales,
    .starting {
        font-weight: $font-weight-semibold;
    }
}

.pdp-maxwidth {
    .product-detail {
        .price,
        .starting,
        .price,
        .range,
        .price,
        .sales {
            font-weight: normal;
            font-size: $base-font + 4px;
            line-height: 24px;
            color: $ctd-secondary-1;
        }
    }
}
