@import "~base/components/productTiles";
@import "../utilities/swatch";
@import "productCommon";
@import "quickView";

.product-tile {
    text-align: center;

    @include media-breakpoint-down(md) {
        min-height: 100%;
    }

    .image-container {
        display: inline-block;
        overflow: hidden;

        a:not(.quickview) {
            display: inline-block;
            width: auto;
        }

        .quickview {
            bottom: auto;
            right: auto;
        }

        .product-image {
            margin: 0 40px;
            width: auto;
            display: inline-block;
            position: relative;

            @include media-breakpoint-down(md) {
                margin: 0 10px;
            }
        }
    }

    .tile-tag {
        background-color: $ctd-primary-1;
        color: $ctd-primary-4;
        position: relative;
        padding: 4.5px 0;
        font-size: $base-font - 5px;
        margin-top: 15px;
        line-height: 13px;
        font-family: $barlow;
        font-weight: $font-weight-bold;
        float: left;
        width: 106px;

        &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            border-left: 17px solid transparent;
            border-bottom: 15px solid $ctd-primary-4;
            bottom: 0;
            right: 0;
        }
    }

    .wishlistTile {
        position: relative;
        margin-top: 10px;
        margin-right: 12px;
        float: right;

        @include media-breakpoint-down(md) {
            margin-right: 4%;
        }

        .before-added {
            display: inline-block;
        }

        .after-added {
            display: none;
        }

        &.wishlist-added {
            .before-added {
                display: none;
            }

            .after-added {
                display: inline-block;
            }
        }
    }

    &.quickview-show {
        .quickview {
            display: inline-block !important;
        }

        .image-container {
            .product-image {
                .product-anchor {
                    opacity: 0.7;
                }
            }
        }
    }

    .tile-body {
        padding-top: 10px;
        padding-bottom: 20px;

        .color-swatches {
            display: none;
        }

        .pdp-link {
            a {
                &.link {
                    font-family: $barlow;
                    font-size: $base-font - 2px;
                    color: $ctd-secondary-1;
                    line-height: 17px;
                    letter-spacing: normal;
                    font-weight: normal;
                    display: inline-block;
                    height: auto;
                    padding: 0;
                    text-align: center;
                    width: 100%;

                    span {
                        display: inline-block;
                        width: 100%;
                        padding: 0 10px;
                    }
                }
            }
        }

        .price {
            font-family: $barlow;
            font-size: $base-font;
            color: $ctd-primary-1;
            line-height: 19px;
            letter-spacing: normal;
            font-weight: $font-weight-semibold;

            .strike-through {
                color: $ctd-secondary-3;
                margin-right: 10px;
                font-weight: normal;
            }

            .list-price {
                display: inline-block;
            }
        }

        .promo-message {
            font-size: $base-font - 1px;
            font-weight: $font-weight-medium;
            line-height: 18px;
            color: $ctd-japanese-lurel;

            &.promotion-applied {
                padding: 6px 10px 0;

                @include media-breakpoint-down(md) {
                    padding: 6px 7px 0;
                }
            }
        }
    }

    .quickview {
        display: none !important;
        font-family: $barlow;
        font-size: $base-font - 1px;
        font-weight: $font-weight-bold;
        color: $ctd-primary-1;
        border: 1px solid $ctd-primary-1;
        padding: 12px 50px;
        text-align: center;
        width: 176px;
        right: auto;
        left: 50%;
        bottom: auto;
        background-color: $ctd-white;
        top: 50%;
        text-decoration: none;
        line-height: 18px;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-transform: uppercase;

        span {
            color: $ctd-primary-1;
        }
    }

    .list-message,
    .low-message,
    .savings-message {
        display: none;
    }
}

.search-results {
    .outer-tiles {
        padding-right: 10px;
        padding-left: 10px;
        position: relative;
        margin-bottom: 20px;

        .product {
            box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);
            height: 100%;
        }

        @include media-breakpoint-down(md) {
            &:nth-child(odd) {
                padding-left: 0;
                padding-right: 10px;
            }

            &:nth-child(even) {
                padding-right: 0;
                padding-left: 10px;
            }
        }
    }

    .recommendation-heading {
        margin-top: 25px;

        @include media-breakpoint-down(md) {
            text-align: center;
        }
    }

    .homepage-product-listing,
    .product-last-visiting {
        margin-bottom: 50px;
    }
}

.search-results {
    .load-more {
        width: 179px;
        box-shadow: none;
    }

    .product-display-count {
        font-family: $barlow;
        font-size: $base-font - 3px;
        line-height: 16px;
        font-weight: normal;
        color: $ctd-secondary-3;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .show-more {
        padding: 0 0 5px;
    }
}
