@import "~base/components/productCommon";

/* Common Styling */
.page {
    &.menu-toggle {
        .product-detail {
            .pdp-prices,
            .cart-and-ipay,
            .prices-add-to-cart-actions.prices-height,
            .bundle-footer.prices-height {
                display: none;
            }
        }
    }
}

.product-detail,
.modal-footer {
    .list-price {
        margin-top: 12px;
        font-size: $base-font + 2px;
        line-height: 22px;
        color: $ctd-secondary-1;
        font-family: $barlow;
        margin-bottom: 6px;
        font-weight: normal;

        .list {
            margin-left: 7px;
        }
    }

    .sales {
        font-size: $base-font + 4px;
        line-height: 24px;
        color: $ctd-secondary-1;
        font-family: $barlow;

        .value {
            color: $ctd-primary-1;
            margin-left: 7px;
            font-weight: $font-weight-semibold;
        }
    }

    .savings-price {
        margin-top: 5px;
        font-size: $base-font + 2px;
        line-height: 22px;
        color: $ctd-secondary-1;
        font-family: $barlow;
        display: block;
        width: 100%;

        .savings {
            color: $ctd-japanese-lurel;
            margin-left: 7px;
            font-weight: $font-weight-medium;
            line-height: 26px;
        }
    }

    .attribute,
    .quantity {
        select {
            &.custom-select {
                border: 1px solid $ctd-secondary-5;
                height: 44px;
                font-size: $base-font;
                color: $ctd-secondary-1;
                font-family: $barlow;
                line-height: 19px;
            }

            option {
                font-size: $base-font;
                color: $ctd-secondary-1;
                font-family: $barlow;
            }
        }
    }

    .attribute-selected-value {
        margin-left: 5px;
    }

    .select-ffl-dealer {
        text-decoration: underline;
    }

    .attribute {
        width: 100%;
        margin-right: 0;
        padding-right: 0;
    }

    .prices {
        text-align: left;
        padding: 20px 0 25px;
    }

    .savings-price {
        display: inline-block;
    }

    .select-size {
        width: 246px;
        height: auto;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    .availability-msg {
        li,
        div {
            font-size: $base-font - 2px;
            line-height: 17px;
            font-weight: $font-weight-medium;
            color: $ctd-secondary-2;
        }
    }

    .add-to-wish-list {
        background: none;
        border: none;
        width: 100%;
        font-size: $base-font - 3px;
        line-height: 14px;
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-weight: normal;
        vertical-align: middle;
        padding: 0 5px;
        border-radius: 0;
        transition: none;
        -webkit-appearance: none;
        outline: 0;

        &.btn-outline-primary:not(:disabled):not(.disabled):active {
            color: $ctd-secondary-1;
            background-color: transparent;
        }

        .wishlist-grey {
            display: block;
        }

        .wishlist-color {
            display: none;
        }

        &.wishlist-added {
            .wishlist-grey {
                display: none;
            }

            .wishlist-color {
                display: block;
            }
        }
    }

    .prices-height {
        @include media-breakpoint-down(md) {
            position: fixed;
            bottom: 64px;
            width: 100%;
            left: 0;
            z-index: 2;
            background: $ctd-primary-4;
            text-align: center;
            padding-bottom: 10px;
        }
    }

    .out-of-stock-notify {
        margin-bottom: 20px;
    }

    .notify-me {
        color: $ctd-secondary-1;
        font-size: $base-font;
        line-height: 19px;
        font-family: $barlow;
        position: relative;

        @include media-breakpoint-down(md) {
            padding-top: 20px;
        }

        .notifyme-alert-message {
            padding: 10px 20px;
            position: absolute;
            width: 94%;
        }

        span {
            padding-bottom: 20px;
            display: inline-block;
        }

        .notify-form {
            display: flex;
            flex-wrap: wrap;

            .form-control {
                border-radius: 0;
                flex-basis: 60%;
                height: 44px;
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-size: $base-font;
                line-height: 19px;
                float: left;
                border-right: 0;
            }

            .notify-button {
                flex-basis: 40%;
                padding: 0;
                max-width: 172px;
                height: 44px;
                border-radius: 0;

                &.btn-primary:not(:disabled):not(.disabled):active {
                    background: $ctd-japanese-green;
                }

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }
        }
    }

    .wishlist-message {
        padding: 5px 0 0 5px;

        &:hover {
            @include media-breakpoint-up(lg) {
                text-decoration: underline;
            }
        }
    }

    .prices {
        .sales,
        .range {
            font-size: $base-font + 4px;
            line-height: 24px;
            font-family: $barlow;
            font-weight: $font-weight-bold;
            color: $ctd-primary-1;
            letter-spacing: normal;

            @include media-breakpoint-down(md) {
                line-height: 26px;
            }
        }
    }

    .price {
        .starting {
            font-size: $base-font + 4px;
            line-height: 24px;
            font-family: $barlow;
            font-weight: $font-weight-bold;
            color: $ctd-primary-1;
            letter-spacing: normal;
        }
    }

    .primary-images {
        .icon-prev,
        .icon-next {
            font-size: initial;
            background-color: transparent;
            padding-top: 0;
            width: 12px;
            height: 19px;

            &::before {
                display: none;
            }
        }

        .slick-arrow {
            top: 50%;

            &.slick-prev {
                left: -15px;
            }

            &.slick-next {
                right: -15px;
            }

            @include media-breakpoint-down(md) {
                display: none !important;
            }
        }

        .slick-dots {
            bottom: -25px;
        }

        @include media-breakpoint-down(md) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .product-breadcrumb {
        @include media-breakpoint-down(md) {
            padding: 0 5px;
        }

        .breadcrumb {
            li {
                &:last-child {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                border-top: 0;
            }
        }
    }

    .pdp-name-rating,
    .pdp-qty-ship {
        width: 40%;
        display: inline-block;
        vertical-align: top;

        @include media-breakpoint-up(lg) {
            float: right;
        }

        .pdp-right {
            max-width: 513px;

            @include media-breakpoint-down(md) {
                max-width: 100%;

                &.out-of-stock-div {
                    .prices-height {
                        bottom: 0;
                    }

                    .cart-and-ipay {
                        padding: 0;
                    }
                }
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .button-find-dealer {
            width: 239px;
            margin-bottom: 25px;
            color: $ctd-secondary-2;
            font-size: $base-font - 1px;
            line-height: 18px;
            font-weight: $font-weight-bold;
            padding: 12px;
            border: 1px solid $ctd-secondary-2;
            border-radius: 0;
            background-color: transparent;

            &:active {
                background-color: transparent;
                color: $ctd-secondary-2;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                margin: 20px 0;
            }
        }

        .prices-add-to-cart-actions {
            @include media-breakpoint-down(md) {
                margin: 0;
            }

            .selected-store-with-inventory {
                max-width: 400px;
                border-radius: 0;
                border: 1px solid $ctd-secondary-5;
                margin-bottom: 25px;
                width: 100%;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    margin-top: 20px;
                }

                .card-header {
                    padding: 10px 0 12px 20px;
                    background-color: $ctd-secondary-7;
                    border-bottom: 0;

                    .head-select-text {
                        font-size: $base-font + 1px;
                        line-height: 20px;
                        font-weight: $font-weight-medium;
                        color: $darker-gray;
                    }
                }

                .card-body {
                    padding: 20px;

                    .store-name {
                        margin-bottom: 10px;
                        line-height: 20px;
                        font-size: $base-font + 1px;
                        color: $darker-gray;
                        font-weight: $font-weight-medium;
                    }

                    .store-map {
                        text-decoration: underline;
                        color: $ctd-secondary-1;
                    }

                    .store-hours {
                        margin-top: 20px;
                    }

                    address {
                        margin-bottom: 0;
                        color: $darker-gray;
                        font-size: $base-font;
                        line-height: 19px;

                        p {
                            margin-bottom: 0;
                        }
                    }
                }

                .change-dealer-close {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px 20px;

                    .button-change-dealer {
                        max-width: 214px;
                        margin: 0;

                        @include media-breakpoint-down(md) {
                            max-width: 174px;
                        }
                    }

                    .close {
                        opacity: 1;
                        display: flex;
                        align-items: center;

                        .remove-text {
                            font-size: 13px;
                            line-height: 16px;
                            color: $ctd-secondary-2;
                            font-weight: 400;
                            display: inline-block;
                            padding-left: 5px;
                        }

                        &.removebuttondisabled {
                            pointer-events: none;
                        }
                    }
                }
            }
        }
    }

    .pdp-qty-ship {
        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }
    }

    .primary-images {
        width: 60%;
        float: left;

        .pdp-left {
            max-width: 646px;
            margin: 0 30px 0 0;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                margin: 0;
            }
        }

        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 0;
        }

        .slide {
            position: relative;
        }
    }

    .product-name {
        font-size: $base-font + 4px;
        font-family: $barlow;
        line-height: 26px;
        font-weight: normal;
        color: $ctd-secondary-1;
        margin-bottom: 10px;

        @include media-breakpoint-down(md) {
            font-size: $base-font + 2px;
            line-height: 24px;
            text-align: center;
            border-bottom: none;
        }
    }

    .video-image {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }

    .firearm-note {
        font-size: $base-font - 4px;
        line-height: 14px;
        font-weight: normal;
        color: $ctd-secondary-1;
        font-family: $barlow;
        text-align: center;
        margin-top: 20px;
    }

    .product-number-rating {
        border-top: none;
        border-bottom: none;

        .ratings {
            margin-top: 11px;
        }
    }

    .simple-quantity,
    .quantity {
        margin-top: 0;
        width: 80px;
        float: left;

        label {
            font-family: $barlow;
            color: $ctd-secondary-2;
            font-size: $base-font - 1px;
            line-height: 18px;
            margin-bottom: 5px;
        }

        .quantity-select {
            border: 1px solid $ctd-secondary-5;
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: $base-font + 2px;
            line-height: 22px;
            color: $ctd-secondary-1;
            font-family: $barlow;
            border-radius: 0;
        }
    }

    .quantity {
        float: left;
        padding: 0;
        width: 80px;
    }

    .product-availability {
        width: auto;
        display: inline-block;
        margin-top: 24px;
        margin-left: 10px;

        .availability {
            font-family: $barlow;
            font-weight: $font-weight-medium;
            color: $ctd-secondary-2;
            font-size: $base-font - 2px;
            line-height: 17px;
            margin: 0;
        }
    }

    .pdp-prices {
        .prices {
            text-align: left;

            @include media-breakpoint-down(md) {
                text-align: center;
                padding: 0;
            }

            .sales {
                color: $ctd-secondary-1;
                font-weight: normal;

                .value {
                    color: $ctd-primary-1;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .sales {
        color: $ctd-secondary-1;
        font-weight: normal;
    }

    .selected-store-with-inventory {
        .change-store {
            border: 1px solid $ctd-secondary-2;
            width: 239px;
            border-radius: 0;
            height: 44px;
            font-family: $barlow;
            font-weight: $font-weight-bold;
            color: $ctd-secondary-2;
            line-height: 18px;

            &:focus,
            &:hover {
                background-color: transparent;
                color: $ctd-secondary-2;
            }
        }
    }

    .social-link-icons {
        width: 100%;
        display: inline-block;
        margin-bottom: 10px;

        .social-links {
            width: auto;
            display: inline-block;

            &.wishlist-social-icon {
                margin-top: 5px;
            }
        }

        .social-icon {
            font-size: $base-font - 3px;
            line-height: 14px;
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-weight: normal;
            vertical-align: middle;

            &:hover {
                text-decoration: none;

                .span-hover {
                    @include media-breakpoint-up(lg) {
                        text-decoration: underline;
                    }
                }
            }
        }

        .btn-primary {
            &:not(:disabled) {
                &:not(.disabled) {
                    &:active:focus {
                        box-shadow: none;
                    }
                }
            }
        }

        .send-icon {
            width: auto;
            display: inline-block;
        }

        .share-icon,
        .send-social-icon {
            vertical-align: middle;
            margin-right: 3px;
        }

        .social-share-links {
            display: flex;
            margin: 20px 0;
            text-align: center;
            justify-content: space-between;
            align-items: center;
            max-width: 300px;

            @include media-breakpoint-down(md) {
                margin: 20px auto;
            }
        }
    }

    .cart-and-ipay {
        text-align: left;

        .add-to-cart {
            width: 239px;

            &.btn-primary {
                &:not(:disabled) {
                    &:not(.disabled) {
                        &:active {
                            background: $ctd-japanese-green;
                        }
                    }
                }
            }

            @include media-breakpoint-down(md) {
                width: 93%;
                margin: 0 auto;
            }
        }

        @include media-breakpoint-down(md) {
            position: fixed;
            bottom: 0;
            background-color: $ctd-primary-4;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            left: 0;
            z-index: 2;
            text-align: center;
            padding-bottom: 20px;
        }
    }

    .product-detailing {
        border-top: 2px solid $ctd-secondary-5;
        border-bottom: 2px solid $ctd-secondary-5;
        padding: 15px 0;
        color: $ctd-secondary-1;
        font-size: $base-font - 3px;
        line-height: 16px;
        font-family: $barlow;
        font-weight: normal;

        .first-line {
            width: 100%;
            display: inline-block;

            .brand-line,
            .upc-line,
            .mfr-line,
            .id-line {
                width: 50%;
                float: left;
            }

            .value {
                margin-left: 15px;
            }

            .product-mfr {
                .value {
                    margin-left: 25px;
                }
            }

            .upc-line {
                .value {
                    margin-left: 26px;
                }
            }

            .mfr-line {
                .value {
                    margin-left: 25px;
                }
            }
        }
    }

    .ship-to-you {
        margin-top: 25px;

        .shipping-message {
            font-family: $barlow;
            font-weight: $font-weight-medium;
            font-size: $base-font + 1px;
            line-height: 20px;
            color: $ctd-secondary-1;
            padding-bottom: 15px;

            @include media-breakpoint-down(md) {
                text-align: center;
            }
        }

        .zipcode-input {
            @include media-breakpoint-down(md) {
                flex-basis: 70%;
                float: none;
            }

            .zip-code {
                height: 44px;
                border-radius: 0;
                width: 191px;
                font-size: $base-font;
                line-height: 19px;
                color: $ctd-secondary-1;
                border-right: 0;

                &.is-invalid {
                    width: 100%;
                }

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }
        }

        .Zipcode-form {
            width: 100%;
            display: inline-block;
            padding-bottom: 20px;
            border-bottom: 2px solid $ctd-secondary-5;
        }

        .zipcode-section {
            @include media-breakpoint-down(md) {
                display: flex;
            }
        }

        .zipcode-submit {
            width: 151px;

            @include media-breakpoint-down(md) {
                flex-basis: 30%;
                float: none;
            }

            button.btn-primary:not(:disabled):not(.disabled):active:focus {
                background: $ctd-primary-1;
                border: 1px solid $ctd-primary-1;
            }
        }
    }

    .promotions {
        text-align: left;
        padding-top: 20px;

        .callout {
            font-size: $base-font;
            font-weight: $font-weight-medium;
            line-height: 19px;
            color: $ctd-primary-2;
            padding: 0;

            &:last-child {
                margin-top: 12px;
            }
        }
    }

    .purchase-details {
        padding-top: 10px;

        .purchase-message {
            font-family: $barlow;
            font-weight: $font-weight-medium;
            font-size: $base-font + 1px;
            line-height: 20px;
            color: $ctd-secondary-1;
        }

        .purchase-body {
            font-family: $barlow;
            font-weight: normal;
            font-size: $base-font;
            line-height: 19px;
            color: $ctd-secondary-1;
            padding-top: 10px;

            .firearmText {
                padding-left: 30px;

                li {
                    list-style-type: disc;

                    span.bold {
                        font-weight: $font-weight-bold;
                    }

                    u {
                        font-weight: $font-weight-medium;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    .fee-firearm-message {
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-1;
        font-weight: $font-weight-medium;
        margin-top: 30px;

        @include media-breakpoint-down(md) {
            margin-top: 20px;
        }
    }

    .bypass-ffldealer-selection {
        margin-bottom: 25px;

        @include media-breakpoint-down(md) {
            margin-top: 20px;
            margin-bottom: 0;
        }

        .bypass-message {
            width: 93.7%;
            margin-left: 4px;
            font-size: $base-font;
            line-height: 19px;
            color: $ctd-secondary-1;
            font-family: $barlow;
            display: inline-block;

            @include media-breakpoint-down(md) {
                width: 86%;
                display: inline-block;
                padding-left: 7px;
                vertical-align: middle;
            }

            .bypass-firearm-message {
                display: inline-block;
            }

            .select-dealer {
                cursor: pointer;
            }
        }

        .bell-icon {
            @include media-breakpoint-down(md) {
                float: left;
                margin-top: 5px;
            }
        }
    }

    .recommendations,
    .last-visited {
        margin-bottom: 60px;

        .recommendation-heading {
            text-align: center;
        }

        .slick-arrow {
            &.slick-next {
                right: -10px;
            }

            &.slick-prev {
                left: -10px;
            }
        }
    }

    .recommendations {
        .recommendation-heading {
            margin-top: 60px;
        }
    }

    .Prop-message {
        text-align: center;
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-2;
        font-weight: $font-weight-medium;
    }

    .wl-social-sharing-text {
        margin-right: 20px;
        display: inline-block;
        vertical-align: top;
    }

    .social-collapse {
        border-top: 2px solid $ctd-secondary-5;
        text-align: center;
    }

    .social-inner-content {
        margin-bottom: 0;
        border: 0;
        padding: 15px 0;
        width: 100%;
        display: inline-block;
    }

    .social-links {
        li {
            display: inline-block;
            margin-right: 20px;

            a {
                cursor: pointer;

                &.hover-off {
                    display: inline-block;
                }

                &.hover-on {
                    display: none;
                }
            }

            &:hover {
                a {
                    &.hover-off {
                        display: none;
                    }

                    &.hover-on {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .prices-add-to-cart-actions {
        padding: 0;

        @include media-breakpoint-down(md) {
            position: static;
            background: $ctd-primary-4;
            box-shadow: none;
        }
    }

    .product-tile {
        .price {
            .list-price,
            .sales,
            .savings-price {
                font-size: $base-font;
            }
        }
    }

    .pdp-left,
    .pdp-right {
        .annex-cloud {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;
            padding: 10px 35px;
            background-color: $ctd-secondary-7;

            @include media-breakpoint-down(md) {
                display: inline-block;
                text-align: center;
                padding: 10px 0;
                width: 100%;
                margin-top: 30px;
            }

            a {
                text-transform: uppercase;
                font-family: $barlow;
                font-weight: $font-weight-bold;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    display: inline-block;
                }

                &.refer-a-friend {
                    line-height: 20px;
                    font-size: $base-font + 1px;
                    color: $ctd-red;
                    cursor: pointer;

                    @include media-breakpoint-down(md) {
                        padding-bottom: 10px;
                    }
                }

                &.start-sharing {
                    line-height: 18px;
                    font-size: $base-font - 1px;
                    color: $ctd-red;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Multiple Variant */
.multiple-variation-product,
.modal-footer {
    .quantity {
        width: 80px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.938em;
    }

    .product-availability {
        vertical-align: bottom;
        margin-bottom: 5px;
        width: 18%;

        @include media-breakpoint-down(md) {
            width: auto;
        }
    }

    .product-attribute-color {
        margin-bottom: 20px;

        .product-availability {
            display: none;
        }
    }

    .list-price {
        margin-top: 12px;
        font-size: $base-font + 2px;
        line-height: 22px;
        color: $ctd-secondary-1;
        font-family: $barlow;
        margin-bottom: 6px;
        font-weight: normal;

        .list {
            margin-left: 7px;
        }
    }

    .sales {
        font-size: $base-font + 4px;
        line-height: 24px;
        color: $ctd-secondary-1;
        font-family: $barlow;

        .value {
            color: $ctd-primary-1;
            margin-left: 7px;
            font-weight: $font-weight-semibold;
        }
    }

    .savings-price {
        margin-top: 5px;
        font-size: $base-font + 2px;
        line-height: 22px;
        color: $ctd-secondary-1;
        font-family: $barlow;
        display: block;
        width: 100%;

        .savings {
            color: $ctd-japanese-lurel;
            margin-left: 7px;
            font-weight: $font-weight-medium;
            line-height: 26px;
        }
    }

    .social-link-icons {
        margin: 10px 0;
    }
}

//Physical Gift and Electronic Gift card page
.product-wrapper {
    &.gift-card-pdp {
        .pdp-qty-ship {
            .product-attribute-amount {
                .attribute {
                    margin-top: 19px;
                    margin-right: 0;
                    padding-right: 0;
                    margin-bottom: 25px;

                    .amount {
                        font-size: $base-font - 1px;
                        line-height: 18px;
                        color: $ctd-secondary-2;
                        margin-bottom: 5px;
                    }

                    .amount-attribute {
                        display: inline-block;
                        margin: 0 8px 10px 0;

                        span {
                            height: auto;
                            background: $white;
                            border-radius: 0;
                            display: inline-block;
                            position: relative;
                            font-size: $base-font - 1px;
                            line-height: 18px;
                            color: $ctd-secondary-1;
                            border: 1px solid $ctd-secondary-5;
                            padding: 12.5px 15px;
                            width: 74px;
                            margin: 0;
                            text-align: center;

                            &.selected {
                                background: $ctd-secondary-5;
                                color: $ctd-primary-1;
                                font-weight: $font-weight-bold;
                            }
                        }
                    }
                }
            }

            .required-indicator {
                font-size: $base-font - 3px;
                line-height: 14px;
                color: $ctd-secondary-1;
                margin-bottom: 4px;
            }

            .giftcard-form-fields {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .form-group {
                    flex: 0 0 49%;
                    max-width: 247px;
                    margin-bottom: 20px;

                    @include media-breakpoint-down(md) {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }

            .giftcard-checkbox {
                .custom-checkbox input {
                    margin-top: 0;
                }

                .value-text {
                    padding-left: 3px;
                }

                .custom-checkbox {
                    .span-checkbox {
                        z-index: -1;
                    }
                }
            }

            .qty-availability {
                margin-top: 20px;

                .simple-quantity {
                    margin-top: 0;
                    float: none;
                    display: inline-block;
                    vertical-align: middle;
                }

                .product-availability {
                    vertical-align: middle;
                    margin-top: 21px;
                }
            }

            .product-detailing {
                .first-line {
                    .value {
                        text-transform: uppercase;
                        margin-left: 15px;
                    }
                }
            }

            .purchase-details {
                .heading {
                    font-size: $base-font + 1px;
                    line-height: 20px;
                    color: $ctd-secondary-1;
                    font-weight: $font-weight-medium;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    margin-top: 10px;
                }

                li {
                    list-style: disc;
                    font-size: $base-font;
                    line-height: 19px;
                    color: $ctd-secondary-1;
                    margin-left: 30px;
                    padding-left: 10px;
                }
            }

            .giftcard-addMessage {
                &:checked ~ .textarea-fields {
                    display: block;
                }
            }

            .textarea-fields {
                display: none;
                margin-top: 5px;

                #count_message {
                    width: 100%;
                    max-width: 354px;
                    display: inline-block;
                    text-align: right;
                    font-size: $base-font - 4px;
                    line-height: 14px;
                    color: $ctd-secondary-3;

                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                    }
                }
            }

            .giftcard-messageBox {
                height: 143px;
                width: 100%;
                max-width: 354px;
                border: 1px solid $ctd-secondary-4;
                resize: none;
                padding: 3px 12px;
                line-height: 19px;
                font-family: $barlow;
                transition: all 0.3s ease;
                border-radius: 0;
                color: $ctd-secondary-1;

                &::-webkit-input-placeholder {
                    color: $ctd-secondary-3;
                }

                &::-moz-placeholder {
                    color: $ctd-secondary-3;
                }

                &:-ms-input-placeholder {
                    color: $ctd-secondary-3;
                }

                &:-moz-placeholder {
                    color: $ctd-secondary-3;
                }

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                }
            }

            .prices {
                .savings-price {
                    display: inline;
                }

                .label {
                    line-height: 26px;
                    color: $ctd-secondary-1;
                }

                .value {
                    line-height: 26px;
                }
            }

            .social-link-icons {
                margin-bottom: 10px;
            }
        }
    }
}

.Zipcode-form {
    .form-group {
        margin-bottom: 0;
    }

    .response-place-holder {
        width: 100%;
        display: inline-block;
        font-size: $base-font - 2px;
        line-height: 17px;
        color: $ctd-secondary-1;
        margin-top: 10px;

        span {
            color: $ctd-dark-red;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }

        &.error {
            span {
                color: #090;
            }

            .description {
                display: block;
            }
        }

        .description {
            color: $black;
            font-size: $base-font - 4px;
            line-height: 16px;
            display: none;
        }
    }
}

//Product Bundle
.container {
    &.bundle-product {
        &.pdp-maxwidth.product-set-detail {
            @include media-breakpoint-down(md) {
                padding: 0 15px;
            }
        }

        .sales {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font + 4px;
            line-height: 24px;
            font-weight: normal;

            .value {
                color: $ctd-primary-1;
                font-family: $barlow;
                font-size: $base-font + 4px;
                line-height: 24px;
                font-weight: $font-weight-bold;
            }
        }

        .social-link-icons {
            margin-bottom: 0;
        }

        .price {
            @include media-breakpoint-down(md) {
                display: inline-block;
            }
        }

        .prices-add-to-cart-actions {
            &.prices-height {
                @include media-breakpoint-down(md) {
                    width: 100%;
                    position: fixed;
                    bottom: 0;
                    z-index: 50;
                    left: 0;
                    display: inline-block;
                    padding: 15px 0 18px;

                    .cart-and-ipay {
                        @include media-breakpoint-down(md) {
                            margin: 0;
                            padding: 0;
                            position: static;

                            .add-to-cart-global {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .prices {
                @include media-breakpoint-down(md) {
                    text-align: center;
                    padding: 0 0 20px;
                }

                .price {
                    text-align: left;
                }
            }
        }

        .bundle-items-label {
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                margin-bottom: 20px;
                padding: 0 10px;
            }
        }

        .global-availability {
            width: auto;
            display: inline-block;
            margin-top: 24px;
            margin-left: 10px;
        }
    }
}

.add-to-cart-messages {
    z-index: 1;
}
