@import "~base/components/quickView";
@import "../utilities/swatch";
@import "productCommon";

.quick-view-dialog {
    .modal-content {
        border-radius: 0;

        .modal-header {
            background-color: $ctd-secondary-7;
            padding: 21px 21px 22px 30px;
            border-bottom: 0;
            border-radius: 0;

            .close {
                opacity: 0.75;
                font-size: 1.3rem;
            }

            .full-pdp-link {
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-size: $base-font;
                line-height: 19px;
                text-decoration: underline;
            }
        }

        .modal-body {
            padding: 0 10px 0 20px;
            padding-left: 40px;
            max-height: 100%;
            overflow-y: unset;
        }

        .product-detail {
            .primary-images {
                width: 42%;
                margin: 0 40px 0 0;
                padding: 20px 0 0;

                .pdp-left {
                    max-width: 350px;
                    margin: 0;
                }
            }

            .product-name {
                font-size: $base-font + 4px;
            }

            .pdp-qty-ship {
                width: 53.2%;
                height: 463px;
                overflow-y: auto;
                padding: 20px 0;
                margin-bottom: 20px;

                .pdp-right {
                    max-width: 100%;
                    margin-right: 10px;
                }

                .purchase-details {
                    .firearmText {
                        padding-left: 40px;
                    }
                }

                .selected-store-with-inventory {
                    margin: 30px 0 20px;
                    border-radius: 0;

                    .card-header {
                        padding: 10px 20px 12px;
                        background-color: $ctd-secondary-7;
                        border-bottom: 0;

                        .head-select-text {
                            color: $ctd-secondary-1;
                            font-size: $base-font + 1px;
                            font-weight: $font-weight-medium;
                            line-height: 20px;
                        }
                    }

                    .card-body {
                        padding: 20px;

                        .store-details {
                            margin-bottom: 20px;

                            .store-name {
                                margin-bottom: 10px;
                                font-size: $base-font + 1px;
                                line-height: 20px;
                                color: $ctd-secondary-1;
                                font-weight: $font-weight-medium;
                            }

                            address {
                                margin-bottom: 0;
                                color: $darker-gray;
                                font-size: $base-font;
                                line-height: 19px;

                                .store-map {
                                    text-decoration: underline;
                                    color: $ctd-secondary-1;
                                }

                                .storelocator-phone {
                                    color: $ctd-secondary-1;
                                }

                                .store-hours {
                                    margin-top: 20px;
                                }

                                p {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }

                    .change-dealer-close {
                        .change-store {
                            width: 214px;
                            margin-bottom: 20px;
                            margin-left: 20px;
                        }
                    }
                }
            }

            .annex-cloud {
                display: none;
            }

            .product-attribute-size {
                .attribute {
                    margin-right: 20px;
                }
            }
        }

        .modal-footer {
            box-shadow: 0 -2px 4px 0 rgba(34, 34, 34, 0.24);
            padding: 1.5rem;
            z-index: 1;

            .cart-and-ipay {
                display: inline-block;

                .add-to-cart-global {
                    width: 239px;

                    &.btn-primary:not(:disabled):not(.disabled):active {
                        background: $ctd-japanese-green;
                    }
                }
            }

            .prices {
                padding: 0;
                padding-right: 30px;
            }

            .notify-me-message {
                display: none;
            }

            .out-of-stock-notify {
                display: block;
                margin: 0;
            }
        }

        .promotions {
            padding-top: 15px;
            padding-bottom: 0;
        }

        .ratingSection {
            display: inline-block;
            vertical-align: bottom;

            .star-rating {
                height: 17px;
                width: 19px;
                padding: 3px;
                display: inline-block;
                background-size: cover;
                line-height: normal;
            }

            .starRatingSection-0-filled {
                background-image: url("../../images/reviews/Star_Rating_Filled_Grey4.svg");
            }

            .starRatingSection-50-filled {
                background-image: url("../../images/reviews/Star_Rating_Half.svg");
            }

            .starRatingSection-100-filled {
                background-image: url("../../images/reviews/Star_Rating_Filled_Red.svg");
            }
        }

        .quickview-review-count {
            display: inline-block;

            span {
                font-size: $base-font;
                line-height: 19px;
                color: $ctd-secondary-3;
                border-radius: 0;
                border: 1px solid $ctd-secondary-4;
                width: 30px;
                margin-left: 8px;
                font-weight: $font-weight-bold;
                padding: 2px 3px;
                float: none;
                display: inline-block;
                vertical-align: middle;
                text-align: center;
            }

            .count-text {
                color: $ctd-secondary-3;
                font-size: $base-font;
                font-weight: $font-weight-bold;
                line-height: 14px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                padding: 0;
                margin-right: 0;
                text-decoration: underline;
                border: 0;
                width: auto;
                text-align: left;
            }
        }

        .write-review-link {
            display: inline-block;

            .quickview-write-review {
                color: $ctd-secondary-3;
                font-weight: $font-weight-bold;
                display: inline-block;
                vertical-align: middle;
                margin-left: 15px;
                padding: 0;
                margin-right: 0;
                border: 0;
                width: auto;
                font-size: $base-font - 3px;
                line-height: 16px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    //Quick-view ProductSet
    .qv-productset-name {
        margin: 20px 0 20px -20px;

        .qv-product-name {
            margin: 0;
        }
    }

    .product-set {
        .product-detail {
            .pdp-qty-ship {
                padding: 0;
                padding-right: 10px;
                position: relative;
            }
        }

        .multiple-variation-product {
            .product-attribute-color {
                margin-bottom: 0;
            }
        }

        .view-full-details {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font;
            line-height: 19px;
            margin-top: 35px;
            margin-bottom: 20px;
        }

        .set-item {
            border-bottom: 1px solid $ctd-secondary-5;
            margin-bottom: 60px;
            padding-bottom: 60px;

            &:last-child {
                border-bottom: 0;
                margin: 0;
            }

            .sales {
                font-size: $base-font + 4px;
                line-height: 24px;
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-weight: normal;
            }

            .prices-add-to-cart-actions {
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-size: $base-font;
                font-weight: $font-weight-medium;
                line-height: 19px;
            }

            .notify-me-form {
                width: 100%;
                max-width: 100%;
            }
        }
    }

    .qv-set-price {
        .starting {
            .label {
                font-size: $base-font + 4px;
                line-height: 24px;
                color: $ctd-secondary-1;
                font-family: $barlow;
                font-weight: normal;
            }
        }
    }

    .btn-shop-set {
        width: 239px;
    }

    .notify-me-message {
        display: inline-block;
        padding-top: 20px;
    }

    .fire-bell-message {
        padding-top: 20px;
        display: inline-block;
    }

    .notify-me-form {
        max-width: 427px;
        width: 50%;

        .notify-me {
            .form-control {
                flex-basis: 54%;
            }

            .notifyme-alert-message {
                top: -50px;
            }
        }

        .notify-button {
            flex-basis: 46%;
        }
    }

    .purchase-details {
        padding: 20px 0;
        border-top: 1px solid $ctd-secondary-5;
    }

    .gift-card-pdp,
    .electronic {
        .pdp-qty-ship {
            padding: 20px 10px;

            .giftcard-checkbox .custom-checkbox .span-checkbox {
                z-index: 0;
                pointer-events: none;
            }
        }
    }

    // Product Bundle
    .product-bundle {
        .bundle-items-label {
            font-size: $base-font + 4px;
            font-family: $barlow;
            line-height: 26px;
            font-weight: normal;
            color: $ctd-secondary-1;
            text-transform: capitalize;
        }

        .product-detail {
            .product-availability {
                margin: 0;
                padding-top: 10px;
            }
        }

        .bundle-item {
            .pdp-qty-ship {
                width: 53%;
                position: relative;
            }
        }
    }
}

#youtubeVideoModal {
    .modal-dialog {
        max-width: 1079px;
    }
}
