@import "~base/components/spinner";

.spinner {
    animation: none;
    width: 100px;
    height: 100px;
}

.dot1,
.dot2 {
    background: url("../../images/AJAX_LoadingGif.gif");
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: none;
    left: 0;
}
