@import "~base/components/tooltip";

.info-icon {
    .tooltip {
        border-radius: 0;
        min-width: 14.4rem;
        padding: 15px;
        font-family: $barlow;
        font-size: $base-font - 1px;
        line-height: 18px;
        font-weight: $font-weight-medium;
        background-color: $ctd-secondary-2;

        &::after {
            bottom: -0.55em;
        }
    }
}
