@import "../variables";

h4,
.line-item-name {
    font-family: $btn-ffamily;
    font-weight: $font-weight-medium;
    font-size: $base-font + 1px;
    line-height: 20px;
    color: $ctd-secondary-1;
}

h4 {
    margin-top: 20px;
}

.item-image {
    width: 102px;
    height: 102px;
}

.line-item-attributes,
.line-item-price-info,
.line-item-pricing-info,
.edit-add-to-wishlist {
    font-family: $btn-ffamily;
    font-size: $base-font - 3px;
    line-height: 16px;
    color: $ctd-secondary-1;
}

.product-info {
    .remove-from-wishlist,
    .remove-from-wishlist:hover {
        background-color: $ctd-secondary-7;
        padding: 12px;

        @include media-breakpoint-down(md) {
            padding-right: 10px;
            background: none;
        }
    }

    .list-message,
    .low-message,
    .savings-message {
        display: none;
    }

    .savings-price {
        .savings {
            .value,
            .saving-percentage {
                color: $ctd-primary-2;
                font-weight: $font-weight-medium;
                font-size: $base-font;
            }
        }
    }
}

.card {
    border: 1px solid $ctd-secondary-5;
    border-radius: unset;
    margin-bottom: 20px;
}

.my-account {
    margin-bottom: 7%;

    @include media-breakpoint-down(md) {
        margin-bottom: 13%;
    }

    a {
        text-decoration: underline;
    }
}

.select-attributes-wishList,
.add-to-cart-wishList {
    .select-attributes-btn,
    .add-to-cart {
        margin-right: 30px;
    }
}

.sales {
    .value {
        font-family: $btn-ffamily;
        font-weight: $font-weight-bold;
        font-size: $base-font + 4px;
        color: $ctd-primary-1;
        line-height: 20px;
    }
}

.strike-through {
    .value {
        font-size: $base-font + 2px;
        line-height: 22px;
    }
}

.wl-social-sharing-text {
    font-family: $btn-ffamily;
    font-weight: $font-weight-bold;
    font-size: $base-font;
    color: $ctd-secondary-1;
}

.share-icons {
    i {
        margin: 0 7px;

        &:hover {
            color: $ctd-primary-1;
        }
    }

    .hover-off {
        display: inline-block;
        margin: 0 7px;
    }

    .hover-on {
        display: none;
    }

    &:hover {
        .hover-off {
            display: none;
        }

        .hover-on {
            display: inline-block;
            margin: 0 7px;
        }
    }
}

.category-breadcrumb {
    max-width: 1088px;
    margin: 10px auto 0;

    .breadcrumb {
        @include media-breakpoint-up(md) {
            border-bottom: 1px solid $ctd-secondary-5;
        }
    }
}

.wl-social-sharing {
    margin: 20px 0;
}

.wishlistItemCards {
    .simple-quantity {
        width: 80px;
        margin: 0;

        .quantity-select {
            border: 1px solid $ctd-secondary-5;
            padding: 10px;
            width: 100%;
            text-align: center;
            font-size: $base-font + 2px;
            line-height: 22px;
            color: $ctd-secondary-1;
            font-family: $barlow;
            border-radius: 0;
        }
    }
}
