@import "./utilities/mixin";

//Global Stylings
body {
    font-family: $barlow;
    font-size: $base-font;
    color: $ctd-black;
    background-color: $ctd-white;
    margin: 0;
}

img {
    max-width: 100%;
}

ol,
ul,
dl {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

//CTD Header Styles
.h1-black {
    @include set-typography-text($barlow, 55, $font-weight-black, $ctd-black, 55, 2);
}

.h1-white {
    @include set-typography-text($barlow, 55, $font-weight-black, $ctd-white, 55, 2);
}

.h2-black {
    @include set-typography-text($barlow, 24, $font-weight-bold, $ctd-black, 29, 0);
}

.h2-grey-1 {
    @include set-typography-text($barlow, 24, $font-weight-bold, $ctd-grey-1, 29, 0);
}

.h3-black {
    @include set-typography-text($barlow, 36, $font-weight-black, $ctd-black, 40, 1.31);
}

.h3-white {
    @include set-typography-text($barlow, 36, $font-weight-black, $ctd-white, 40, 1.31);
}

.h4-white {
    @include set-typography-text($barlow, 28, $font-weight-black, $ctd-white, 34, 1);
}

.h4-grey-1 {
    @include set-typography-text($barlow, 28, $font-weight-black, $ctd-grey-1, 34, 1);
}

.h5-black {
    @include set-typography-text($barlow, 20, normal, $ctd-black, 26, 0);
}

.h6-black {
    @include set-typography-text($barlow, 15, $font-weight-bold, $ctd-black, 18, 0);
}

.h6-red {
    @include set-typography-text($barlow, 15, $font-weight-bold, $ctd-red, 18, 0);
}

//CTD Body Styles
.b1-white {
    @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-white, 22, 0.5);
}

.b1-blue {
    @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-blue, 22, 0.5);
}

.b1-black {
    @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-black, 22, 0.5);
}

.b2-white {
    @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-white, 26, 1);
}

.b2-blue {
    @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-blue, 26, 1);
}

.b2-black {
    @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-black, 26, 1);
}

.b3-white {
    @include set-typography-text($barlow, 16, normal, $ctd-white, 19, 0);
}

.b3-black {
    @include set-typography-text($barlow, 16, normal, $ctd-black, 19, 0);
}

.b4-black {
    @include set-typography-text($barlow, 16, $font-weight-semibold, $ctd-black, 19, 0);
}

.b5-black {
    @include set-typography-text($barlow, 14, normal, $ctd-black, 17, 0);
}

.b5-grey2 {
    @include set-typography-text($barlow, 18, normal, $ctd-grey-2, 22, 0);
}

.b6-black {
    @include set-typography-text($barlow, 17, $font-weight-medium, $ctd-black, 20, 0);
}

.b7-black {
    @include set-typography-text($barlow, 16, normal, $ctd-black, 19, 0);
}

.b7-white {
    @include set-typography-text($barlow, 16, normal, $ctd-white, 19, 0);
}

.b7-grey2 {
    @include set-typography-text($barlow, 16, normal, $ctd-grey-2, 19, 0);
}

.b8-black {
    @include set-typography-text($barlow, 16, normal, $ctd-black, 24, 0);
}

.b9-black {
    @include set-typography-text($barlow, 16, $font-weight-semibold, $ctd-black, 19, 0);
}

.b9-red {
    @include set-typography-text($barlow, 16, $font-weight-semibold, $ctd-red, 19, 0);
}

.b10-green {
    @include set-typography-text($barlow, 15, $font-weight-medium, $ctd-green, 17, 0);
}

.b11-black {
    @include set-typography-text($barlow, 14, normal, $ctd-black, 17, 0);
}

.b12-black {
    @include set-typography-text($barlow, 14, $font-weight-medium, $ctd-black, 17, 0);
}

.b12-green {
    @include set-typography-text($barlow, 14, $font-weight-medium, $ctd-green, 17, 0);
}

//CTD Primary Menu Styles
.pm1-white {
    @include set-typography-text($barlow, 16, $font-weight-bold, $ctd-white, 19, 0.6);
}

//CTD Secondary Menu Styles
.sm1-grey-1 {
    @include set-typography-text($barlow, 16, $font-weight-medium, $ctd-grey-1, 22, 0);
}

.sm2-grey-1 {
    @include set-typography-text($barlow, 14, normal, $ctd-grey-1, 28, 0);
}

//CTD Footer Styles
.f1-black {
    @include set-typography-text($barlow, 24, $font-weight-bold, $ctd-black, 29, 0);
}

.f2-black {
    @include set-typography-text($barlow, 16, $font-weight-bold, $ctd-black, 18, 0);
}

.f3-black {
    @include set-typography-text($barlow, 14, normal, $ctd-black, 14, 0);
}

.f4-black {
    @include set-typography-text($barlow, 14, normal, $ctd-black, 17, 0);
}

.f5-black {
    @include set-typography-text($barlow, 12, normal, $ctd-black, 17, 0);
}

@include media-breakpoint-down(md) {
    .h1-black {
        @include set-typography-text($barlow, 38, $font-weight-black, $ctd-black, 38, 1.35);
    }

    .h1-white {
        @include set-typography-text($barlow, 38, $font-weight-black, $ctd-white, 38, 1.35);
    }

    .h3-black {
        @include set-typography-text($barlow, 28, $font-weight-black, $ctd-black, 32, 1.02);
    }

    .h3-white {
        @include set-typography-text($barlow, 28, $font-weight-black, $ctd-white, 32, 1.02);
    }

    .h5-black {
        @include set-typography-text($barlow, 18, normal, $ctd-black, 24, 0);
    }

    .h6-black {
        @include set-typography-text($barlow, 16, $font-weight-bold, $ctd-black, 18, 0);
    }

    //CTD Header Styles
    .b1-white {
        @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-white, 26, 1);
    }

    .b1-blue {
        @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-blue, 26, 1);
    }

    .b1-black {
        @include set-typography-text($barlow, 22, $font-weight-medium, $ctd-black, 26, 1);
    }

    .b2-black {
        @include set-typography-text($barlow, 20, normal, $ctd-black, 24, 0);
    }

    .b3-white {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-white, 22, 0.5);
    }

    .b3-blue {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-blue, 22, 0.5);
    }

    .b3-black {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-black, 22, 0.5);
    }

    .b4-green {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-green, 22, 0);
    }

    .b4-black {
        @include set-typography-text($barlow, 15, $font-weight-semibold, $ctd-black, 18, 0);
    }

    .b5-black {
        @include set-typography-text($barlow, 18, normal, $ctd-black, 22, 0);
    }

    .b13-white {
        @include set-typography-text($barlow, 13, $font-weight-semibold, $ctd-white, 16, 0);
    }

    //CTD Primary Menu Styles
    .pm1-white {
        @include set-typography-text($barlow, 18, $font-weight-bold, $ctd-white, 22, 0);
    }

    //CTD Secondary Menu Styles
    .sm1-grey-1 {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-black, 22, 0);
    }

    .sm1-black {
        @include set-typography-text($barlow, 18, $font-weight-medium, $ctd-black, 22, 0);
    }

    .sm2-grey-1 {
        @include set-typography-text($barlow, 18, $font-weight-bold, $ctd-black, 22, 0);
    }

    .sm3-black {
        @include set-typography-text($barlow, 13, $font-weight-bold, $ctd-black, 16, 0);
    }

    a:hover {
        text-decoration: none;
    }
}

label {
    font-family: $barlow;
    font-size: $base-font - 1px;
    color: $ctd-secondary-1;
}

//Underlined Styles
.custom-text-underline:hover,
.custom-text-underline:focus {
    @include media-breakpoint-up(lg) {
        position: relative;
        text-decoration: none;
        background-image: linear-gradient(120deg, $ctd-secondary-3 0%, $ctd-secondary-3 100%);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: 0 92%;
    }
}

.custom-default-underline {
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(120deg, $ctd-secondary-3 0%, $ctd-secondary-3 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 92%;

    &:hover {
        text-decoration: none;
    }
}
