@import "./utilities/mixin";

// BUTTON USAGE
// Note: font family,size,color,border-color should be used as variables strictly.

.button-primary {
    @include set-button($btn-pr-col, $btn-pr-bgcol, $btn-pr-brcol);
}

.button-primary:hover {
    @include set-button($btn-pr-col-ho, $btn-pr-bgcol-ho, $btn-pr-brcol-ho);
}

.button-primary[disabled],
.button-primary.disabled {
    cursor: auto;
    @include set-button($btn-pr-col-dis, $btn-pr-bgcol-dis, $btn-pr-brcol-dis);
}

.button-secondary {
    @include set-button($btn-sec-col, $btn-sec-bgcol, $btn-sec-brcol);
}

.button-secondary:hover {
    @include set-button($btn-sec-col-ho, $btn-sec-bgcol-ho, $btn-sec-brcol-ho);
}

.button-secondary[disabled],
.button-secondary.disabled {
    cursor: auto;
    @include set-button($btn-sec-col-dis, $btn-sec-bgcol-dis, $btn-sec-brcol-dis);
}

.button-pdp {
    @include set-button($btn-pdp-col, $btn-pdp-bgcol, $btn-pdp-brcol);
}

.button-pdp:hover {
    @include set-button($btn-pdp-col-ho, $btn-pdp-bgcol-ho, $btn-pdp-brcol-ho);
}

.button-pdp[disabled],
.button-pdp.disabled {
    cursor: auto;
    @include set-button($btn-pdp-col-dis, $btn-pdp-bgcol-dis, $btn-pdp-brcol-dis);
}

.button-content {
    @include set-button($btn-cntnt-col, $btn-cntnt-bgcol, $btn-cntnt-brcol);
}

.button-content:hover {
    @include set-button($btn-cntnt-col-ho, $btn-cntnt-bgcol-ho, $btn-cntnt-brcol-ho);
}

.button-primary,
.button-secondary,
.button-pdp,
.button-content {
    font-family: $btn-ffamily;
    font-size: $btn-fsize;
    font-weight: $btn-fweight;
    line-height: $btn-lineheight;
    min-width: 100px;
    height: $btn-height;
    display: inline-block;
    padding: $btn-padding;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    transition: all 0.3s ease;
}
