%svg-common {
    background: url("../images/svg/CTD_vertical_sprite.svg") no-repeat;
}

.svg-01-account {
    @extend %svg-common;

    background-position: 0 0;
}

.svg-01-account-dims {
    width: 18px;
    height: 21px;
}

.svg-02-Arrow_up_icon {
    @extend %svg-common;

    background-position: 0 2.140672782874618%;
}

.svg-02-Arrow_up_icon-dims {
    width: 13px;
    height: 13px;
}

.svg-03-Caro_Chevron_Left_-_inactive {
    @extend %svg-common;

    background-position: 0 3.4871794871794872%;
}

.svg-03-Caro_Chevron_Left_-_inactive-dims {
    width: 12px;
    height: 19px;
}

.svg-04-Caro_Chevron_Right_-_inactive {
    @extend %svg-common;

    background-position: 0 5.435897435897436%;
}

.svg-04-Caro_Chevron_Right_-_inactive-dims {
    width: 12px;
    height: 19px;
}

.svg-05-chat {
    @extend %svg-common;

    background-position: 0 7.36949846468782%;
}

.svg-05-chat-dims {
    width: 18px;
    height: 17px;
}

.svg-06-Close_Button {
    @extend %svg-common;

    background-position: 0 9.081632653061224%;
}

.svg-06-Close_Button-dims {
    width: 14px;
    height: 14px;
}

.svg-07-Facebook_icon {
    @extend %svg-common;

    background-position: 0 10.618556701030927%;
}

.svg-07-Facebook_icon-dims {
    width: 24px;
    height: 24px;
}

.svg-08-Instagram_icon {
    @extend %svg-common;

    background-position: 0 13.092783505154639%;
}

.svg-08-Instagram_icon-dims {
    width: 24px;
    height: 24px;
}

.svg-09-Search {
    @extend %svg-common;

    background-position: 0 15.471311475409836%;
}

.svg-09-Search-dims {
    width: 18px;
    height: 18px;
}

.svg-10-shopping_cart {
    @extend %svg-common;

    background-position: 0 17.351129363449694%;
}

.svg-10-shopping_cart-dims {
    width: 22px;
    height: 20px;
}

.svg-11-Twitter_icon {
    @extend %svg-common;

    background-position: 0 19.404517453798768%;
}

.svg-11-Twitter_icon-dims {
    width: 24px;
    height: 20px;
}

.svg-12-Wishlist {
    @extend %svg-common;

    background-position: 0 21.457905544147845%;
}

.svg-12-Wishlist-dims {
    width: 20px;
    height: 20px;
}

.svg-13-YouTube_icon {
    @extend %svg-common;

    background-position: 0 23.51129363449692%;
}

.svg-13-YouTube_icon-dims {
    width: 28px;
    height: 20px;
}

.svg-14-YouTube_Red {
    @extend %svg-common;

    background-position: 0 25.564681724845997%;
}

.svg-14-YouTube_Red-dims {
    width: 28px;
    height: 20px;
}

.svg-15-my_account {
    @extend %svg-common;

    background-position: 0 27.646454265159303%;
}

.svg-15-my_account-dims {
    width: 25px;
    height: 21px;
}

.svg-16-Location {
    @extend %svg-common;

    background-position: 0 29.682702149437052%;
}

.svg-16-Location-dims {
    width: 11px;
    height: 17px;
}

.svg-17-Caro_Chevron_Right_-_white {
    @extend %svg-common;

    background-position: 0 31.487179487179485%;
}

.svg-17-Caro_Chevron_Right_-_white-dims {
    width: 12px;
    height: 19px;
}

.svg-18-Caro_Chevron_Right_-_red {
    @extend %svg-common;

    background-position: 0 33.43589743589744%;
}

.svg-18-Caro_Chevron_Right_-_red-dims {
    width: 12px;
    height: 19px;
}

.svg-19-Caro_Chevron_Right_-_red_-_small {
    @extend %svg-common;

    background-position: 0 35.09664292980671%;
}

.svg-19-Caro_Chevron_Right_-_red_-_small-dims {
    width: 11px;
    height: 11px;
}

.svg-20-Caro_Chevron_Right_-_white_-_small {
    @extend %svg-common;

    background-position: 0 36.21566632756867%;
}

.svg-20-Caro_Chevron_Right_-_white_-_small-dims {
    width: 11px;
    height: 11px;
}

.svg-21-Minus_icon {
    @extend %svg-common;

    background-position: 0 37.03329969727548%;
}

.svg-21-Minus_icon-dims {
    width: 13px;
    height: 3px;
}

.svg-22-Menu_icon {
    @extend %svg-common;

    background-position: 0 37.793667007150155%;
}

.svg-22-Menu_icon-dims {
    width: 20px;
    height: 15px;
}

.svg-23-Plus_icon {
    @extend %svg-common;

    background-position: 0 39.24566768603466%;
}

.svg-23-Plus_icon-dims {
    width: 13px;
    height: 13px;
}

.svg-24-Menu_Chevron {
    @extend %svg-common;

    background-position: 0 40.65372829417773%;
}

.svg-24-Menu_Chevron-dims {
    width: 10px;
    height: 15px;
}

.svg-25-Close_Button_Black {
    @extend %svg-common;

    background-position: 0 42.18590398365679%;
}

.svg-25-Close_Button_Black-dims {
    width: 15px;
    height: 15px;
}

.svg-26-account-small {
    @extend %svg-common;

    background-position: 0 43.6289500509684%;
}

.svg-26-account-small-dims {
    width: 11.7px;
    height: 13px;
}

.svg-27-chat-small {
    @extend %svg-common;

    background-position: 0 44.87773107960964%;
}

.svg-27-chat-small-dims {
    width: 12px;
    height: 11.33px;
}

.svg-28-Wishlist-small {
    @extend %svg-common;

    background-position: 0 46.17737003058104%;
}

.svg-28-Wishlist-small-dims {
    width: 13px;
    height: 13px;
}

.svg-29-Caro_Chevron_Right-red-extrasmall {
    @extend %svg-common;

    background-position: 0 47.16599190283401%;
}

.svg-29-Caro_Chevron_Right-red-extrasmall-dims {
    width: 6px;
    height: 6px;
}

.svg-30-_Locate_FFL_icon_mobile {
    @extend %svg-common;

    background-position: 0 48.212461695607765%;
}

.svg-30-_Locate_FFL_icon_mobile-dims {
    width: 11px;
    height: 15px;
}

.svg-31-Check_Mark_icon {
    @extend %svg-common;

    background-position: 0 49.441624365482234%;
}

.svg-31-Check_Mark_icon-dims {
    width: 13px;
    height: 9px;
}

.svg-32-Clear-All-filters-grey1 {
    @extend %svg-common;

    background-position: 0 50.509164969450104%;
}

.svg-32-Clear-All-filters-grey1-dims {
    width: 15px;
    height: 12px;
}

.svg-33-Close-grey1 {
    @extend %svg-common;

    background-position: 0 51.88968335035751%;
}

.svg-33-Close-grey1-dims {
    width: 15px;
    height: 15px;
}

.svg-34-Dropdown-Arrow {
    @extend %svg-common;

    background-position: 0 52.98885511651469%;
}

.svg-34-Dropdown-Arrow-dims {
    width: 12px;
    height: 7px;
}

.svg-35-Wish-List-Outline {
    @extend %svg-common;

    background-position: 0 54.752066115702476%;
}

.svg-35-Wish-List-Outline-dims {
    width: 25px;
    height: 26px;
}

.svg-36-Wish-List-Solid {
    @extend %svg-common;

    background-position: 0 57.43801652892562%;
}

.svg-36-Wish-List-Solid-dims {
    width: 26px;
    height: 26px;
}

.svg-37-FFL_Bypass_icon {
    @extend %svg-common;

    background-position: 0 60.06191950464396%;
}

.svg-37-FFL_Bypass_icon-dims {
    width: 25px;
    height: 25px;
}

.svg-38-PDP_Percentage_Check_icon {
    @extend %svg-common;

    background-position: 0 62.32032854209446%;
}

.svg-38-PDP_Percentage_Check_icon-dims {
    width: 19px;
    height: 20px;
}

.svg-39-PDP_Sent_to_Friend_icon {
    @extend %svg-common;

    background-position: 0 64.50617283950618%;
}

.svg-39-PDP_Sent_to_Friend_icon-dims {
    width: 22px;
    height: 22px;
}

.svg-40-PDP_Share_icon {
    @extend %svg-common;

    background-position: 0 66.63244353182752%;
}

.svg-40-PDP_Share_icon-dims {
    width: 18px;
    height: 20px;
}

.svg-41-PDP_Swatch_Color_Select_icon {
    @extend %svg-common;

    background-position: 0 68.96907216494846%;
}

.svg-41-PDP_Swatch_Color_Select_icon-dims {
    width: 24px;
    height: 24px;
}

.svg-42-PDP_Video_Btn_-_solid_style {
    @extend %svg-common;

    background-position: 0 72.79411764705883%;
}

.svg-42-PDP_Video_Btn_-_solid_style-dims {
    width: 42px;
    height: 42px;
}

.svg-43-PDP_Wish_List_icon {
    @extend %svg-common;

    background-position: 0 75.38461538461539%;
}

.svg-43-PDP_Wish_List_icon-dims {
    width: 19px;
    height: 19px;
}

.svg-44-PLP_Filter_Close_icon {
    @extend %svg-common;

    background-position: 0 76.86034658511723%;
}

.svg-44-PLP_Filter_Close_icon-dims {
    width: 13px;
    height: 13px;
}

.svg-45-Facebook_icon_Red {
    @extend %svg-common;

    background-position: 0 79.0721649484536%;
}

.svg-45-Facebook_icon_Red-dims {
    width: 24px;
    height: 24px;
}

.svg-46-Instagram_icon_Red {
    @extend %svg-common;

    background-position: 0 81.54639175257732%;
}

.svg-46-Instagram_icon_Red-dims {
    width: 24px;
    height: 24px;
}

.svg-47-Twitter_icon_Red {
    @extend %svg-common;

    background-position: 0 83.67556468172485%;
}

.svg-47-Twitter_icon_Red-dims {
    width: 24px;
    height: 20px;
}

.svg-48-Phone_icon_-_secure_checkout {
    @extend %svg-common;

    background-position: 0 85.55327868852459%;
}

.svg-48-Phone_icon_-_secure_checkout-dims {
    width: 18px;
    height: 18px;
}

.svg-49-close_icon_grey_small {
    @extend %svg-common;

    background-position: 0 86.86354378818737%;
}

.svg-49-close_icon_grey_small-dims {
    width: 12px;
    height: 12px;
}

.svg-50-Tool_tip_icon {
    @extend %svg-common;

    background-position: 0 88.80903490759754%;
}

.svg-50-Tool_tip_icon-dims {
    width: 20px;
    height: 20px;
}

.svg-51-PDP_Wish_List_Red_icon {
    @extend %svg-common;

    background-position: 0 90.76923076923077%;
}

.svg-51-PDP_Wish_List_Red_icon-dims {
    width: 19px;
    height: 19px;
}

.svg-52-pinterest {
    @extend %svg-common;

    background-position: 0 92.81314168377824%;
}

.svg-52-pinterest-dims {
    width: 20px;
    height: 20px;
}

.svg-53-pinterest-red {
    @extend %svg-common;

    background-position: 0 94.86652977412732%;
}

.svg-53-pinterest-red-dims {
    width: 20px;
    height: 20px;
}

.svg-54-share-email {
    @extend %svg-common;

    background-position: 0 97.42002063983489%;
}

.svg-54-share-email-dims {
    width: 25px;
    height: 25px;
}

.svg-55-share-email-red {
    @extend %svg-common;

    background-position: 0 100%;
}

.svg-55-share-email-red-dims {
    width: 25px;
    height: 25px;
}

