@import "~base/miniCart";
@import "variables";
@import "bootstrap/scss/mixins";

.minicart {
    .popover {
        min-width: 340px;
        max-width: 340px;
        font-family: $barlow;
        border: 0;
        box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);

        .ps__rail-x {
            display: none;
        }
    }

    .h4-heading {
        color: $ctd-secondary-1;
        font-size: $base-font + 1px;
        font-family: $barlow;
        font-weight: $font-weight-medium;
        line-height: 24px;
    }

    p {
        margin-bottom: 0;
    }

    .cart {
        background-color: $ctd-primary-4;
        padding: 0;
        padding-top: 0;
        padding-bottom: 15px;

        .line-item-name {
            margin-bottom: 15px;
        }

        .minicart-product-container {
            padding: 0 15px;
        }

        .mini-head {
            padding-top: 14px;
            padding-bottom: 15px;
            border-bottom: 1px solid $ctd-secondary-5;

            .h4-heading {
                padding-left: 5px;
                line-height: 20px;
            }
        }

        .view-cart {
            color: $ctd-secondary-1;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;
        }
    }

    .product-summary {
        max-height: 362px;
        overflow-x: hidden !important;

        .card {
            margin-top: 15px;
            margin-bottom: 0;
            border: 1px solid $ctd-secondary-5;
            border-radius: 0;

            .card-body {
                padding: 15px 10px;

                .item-image {
                    margin-right: 15px;
                }
            }

            .line-item-attributes {
                color: $ctd-secondary-1;
                font-size: 13px;
                line-height: 16px;
            }

            .line-item-divider {
                margin: 15px 0;
                border-top: 1px solid $ctd-secondary-5;
            }

            .line-item-total-text,
            .line-item-pricing-info {
                color: $ctd-secondary-1;
                font-size: 13px;
                line-height: 16px;
            }

            .pricing,
            .value,
            .price {
                color: $ctd-primary-1;
                font-size: 18px;
                font-weight: $font-weight-bold;
                line-height: 22px;
            }

            .strike-through {
                .value {
                    color: $slightly-darker-gray;
                    font-size: 16px;
                    line-height: 19px;
                    font-weight: normal;
                }
            }
        }

        .line-item-quantity {
            .quantity-form {
                .quantity {
                    border-radius: 0;
                    border: 1px solid $ctd-secondary-5;
                    padding: 10px 5px;
                    line-height: normal;
                    font-size: 16px;
                    color: #222;
                    width: 100%;
                    min-width: auto;
                    max-width: 50px;
                    text-align: center;
                }

                .update {
                    margin-left: 3px;
                }
            }
        }

        .line-item-quantity {
            padding-left: 0;
            justify-content: flex-start !important;

            .line-item-pricing-info {
                vertical-align: top;
            }
        }

        .line-item-total-price {
            padding-left: 0;
        }
    }

    .minicart-footer {
        padding: 0 15px;
        border-top: 0;

        .minicart-footer-shadow {
            box-shadow: 0 -2px 4px 0 rgba(34, 34, 34, 0.24);
            margin: 0;
            margin-top: 5px;
        }
    }

    .estimated-total {
        margin-top: 12px;
        margin-bottom: 9px;

        .sub-total-label,
        .sub-total {
            color: $ctd-secondary-1;
            font-size: 14px;
            font-weight: $font-weight-bold;
            line-height: 17px;
        }
    }

    .single-approaching-discount {
        color: $ctd-secondary-1;
        font-size: 14px;
        font-weight: $font-weight-medium;
        line-height: 17px;
        border: none;
    }

    .list-message,
    .low-message,
    .savings-message {
        display: none;
    }

    .savings-price {
        .savings {
            .value,
            .saving-percentage {
                color: $ctd-primary-2;
                font-weight: $font-weight-medium;
                font-size: $base-font;
            }
        }
    }
}

//minicart product remove dialog
.modal-dialog {
    .modal-title {
        color: $ctd-secondary-1;
        font-size: $base-font + 1px;
        font-family: $barlow;
        font-weight: $font-weight-medium;
        line-height: 24px;
    }

    .close {
        opacity: 1;
    }
}

