.print-logo {
    display: none;
    margin: 0 auto 20px;

    img {
        max-width: 116px;
    }
}

@media print {
    header,
    .header-banner,
    footer,
    .category-breadcrumb,
    .print-detail .my-account,
    .confirmation-right,
    .print-receipt,
    .order-confirmation-continue-shopping,
    .product-line-item-details .item-image,
    .order-details-summary.leading-lines .end-lines .shipping-method-price,
    .salesform-reminder-message .bell-icon {
        display: none !important;
    }

    .print-logo,
    .hide-window {
        display: block !important;
    }

    .address-summary {
        margin-bottom: 0 !important;
    }

    .order-details-summary.leading-lines .start-lines::before {
        content: '';
    }

    .card-header {
        background-color: #f2f2f2;
        -webkit-print-color-adjust: exact;
    }

    .resolve-print-page {
        .print-block,
        .row,
        .card {
            display: block !important;
            width: 100% !important;
        }

        .line-item-unit-price,
        .line-item-quantity,
        .line-item-total-price {
            width: 33.33%;
            float: left;
        }

        .product-line-item {
            clear: left;
        }

        .end-lines {
            float: right;
        }

        .start-lines {
            float: left;
        }
    }

    .confirmation-left {
        max-width: 100%;
        flex: unset;
    }
}
