.product .product-tile .p-w-r .pr-category-snippet__total.pr-category-snippet__item {
    display: none;
}

.product .product-tile .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
    color: $ctd-secondary-3;
    font-family: $barlow;
    font-size: $base-font - 6px;
    font-weight: $font-weight-bold;
    line-height: 12px;
    border: 0;
    margin: 3px 0;

    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}

//PDP power reviews
.ratings #pr-reviewsnippet,
.ratings #pr-questionsnippet {
    margin-bottom: 0;
}

.ratings #pr-questionsnippet {
    display: none;
}

.ratings .p-w-r {
    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.product-number-rating .ratings {
    @include media-breakpoint-down(md) {
        margin-right: 0;
        padding: 0;
    }
}

.ratings .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-stars-reco-reco {
    @include media-breakpoint-down(md) {
        float: left;
        width: 100%;
    }
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-stars-reco-reco {
    @include media-breakpoint-down(md) {
        margin: 15px 0;
    }
}

.ratings .p-w-r .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal,
.reviews .p-w-r .pr-review-snapshot .pr-snippet .pr-snippet-stars-png .pr-snippet-rating-decimal {
    font-size: $base-font;
    line-height: 19px;
    color: $ctd-secondary-3;
    font-family: $barlow;
    border-radius: 0;
    border: 1px solid $ctd-secondary-4;
    width: 30px;
    margin-left: 8px;
    font-weight: $font-weight-bold;
    padding: 2px 4px;
    float: none;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-read-and-write {
    margin-top: 0;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write a,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-read-and-write a,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write .pr-snippet-review-count,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write .pr-snippet-review-count,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-read-and-write .pr-snippet-review-count {
    color: $ctd-secondary-3;
    font-family: $barlow;
    font-size: $base-font !important;
    font-weight: $font-weight-bold;
    line-height: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    padding: 0;
    margin-right: 0;
    text-decoration: underline;
    cursor: pointer;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write a,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-read-and-write a {
    @include media-breakpoint-down(md) {
        margin-left: 12px;
    }
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-read-and-write a.pr-snippet-write-review-link,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write a.pr-snippet-write-review-link,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-read-and-write a.pr-snippet-write-review-link {
    font-size: $base-font - 3px !important;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    background-image: linear-gradient(120deg, $ctd-secondary-3 0%, $ctd-secondary-3 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 92%;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-compact .pr-snippet-stars-reco-reco,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-reco-reco,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-standard .pr-snippet-stars-reco-reco {
    margin-top: 20px;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }
}

.ratings .p-w-r .pr-snippet-reco-to-friend,
.reviews .p-w-r .pr-snippet-reco-to-friend {
    max-width: 100%;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-reco-to-friend .pr-reco-to-friend-message,
.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-reco-to-friend .pr-reco-to-friend-message {
    max-width: 100%;
}

.ratings .p-w-r .pr-snippet-reco-to-friend .pr-checkbox-icon svg,
.reviews .p-w-r .pr-snippet-reco-to-friend .pr-checkbox-icon svg {
    display: none;
}

.ratings .p-w-r .pr-snippet-reco-to-friend div,
.ratings .p-w-r .pr-snippet-reco-to-friend span,
.reviews .p-w-r .pr-snippet-reco-to-friend div,
.reviews .p-w-r .pr-snippet-reco-to-friend span {
    margin-right: 0;
}

.ratings .p-w-r .pr-snippet-reco-to-friend .pr-reco span,
.ratings .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-reco-to-friend .pr-reco-to-friend-message,
.reviews .p-w-r .pr-snippet-reco-to-friend .pr-reco span,
.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-reco-to-friend .pr-reco-to-friend-message {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font;
    line-height: 19px;
    margin-right: 2px;
}

.ratings .p-w-r .pr-snippet-reco-to-friend div.pr-checkbox-icon,
.ratings .p-w-r .pr-snippet-reco-to-friend span.pr-checkbox-icon,
.reviews .p-w-r .pr-snippet-reco-to-friend div.pr-checkbox-icon,
.reviews .p-w-r .pr-snippet-reco-to-friend span.pr-checkbox-icon {
    background: url("../../images/reviews/PDP_Percentage_Check_icon.svg") no-repeat;
    width: 19px;
    height: 20px;
    margin-right: 5px;
}

.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-write,
.ratings .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-container {
    @include media-breakpoint-down(md) {
        display: inline-block;
    }
}

//PDP Tabs
.reviews header {
    background: transparent;
}

.reviews .p-w-r .pr-rid {
    margin-top: 20px;
    margin-bottom: 0;
}

.reviews .p-w-r .pr-review-display .pr-rd-sort {
    @include media-breakpoint-down(md) {
        margin: 0;
    }
}

.reviews .p-w-r {
    margin-right: 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-header-intro {
    border-bottom: 0;
    padding: 0;
    margin: 60px 0 20px;
    text-align: center;
    display: inline-block;
    width: 100%;

    @include media-breakpoint-down(md) {
        margin: 30px 0 20px;
    }
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-header .pr-headline,
.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-header .pr-subheadline {
    display: inline-block;
    vertical-align: initial;
    padding: 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-header .pr-headline,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline .pr-h1,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline h1,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline .pr-h1,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline h1,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline .pr-h1 abbr,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline h1 abbr,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline .pr-h1 abbr,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline h1 abbr {
    color: $ctd-secondary-2;
    font-family: $barlow;
    font-size: $base-font + 8px;
    font-weight: $font-weight-bold;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-header .pr-subheadline,
.reviews .p-w-r .pr-review-snapshot.pr-snapshot-mobile .pr-review-snapshot-header .pr-subheadline {
    display: none;
}

.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars {
    width: 100%;
    text-align: center;
}

.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-reco {
    width: 100%;
    float: left;
    text-align: center;
}

.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-read-and-write .pr-snippet-review-count {
    color: $ctd-secondary-3;
    font-family: $barlow;
    font-size: $base-font !important;
    font-weight: $font-weight-bold;
    line-height: 19px;
    margin-left: 15px;
    padding: 0;
    margin-right: 0;
    vertical-align: top;
}

.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-stars-reco-stars .pr-snippet {
    position: relative;
    padding-bottom: 70px;
    margin-bottom: 20px;

    @include media-breakpoint-down(md) {
        padding-bottom: 80px;
        margin-bottom: 30px;
    }
}

.reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-write,
.reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-container {
    @include media-breakpoint-down(md) {
        display: inline-block;
    }
}

.reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-read-and-write,
.reviews .p-w-r .pr-snippet-stars-reco-inline.pr-snippet-minimal .pr-snippet-stars-reco-reco {
    @include media-breakpoint-down(md) {
        margin-top: 0;
    }
}

.reviews .p-w-r .pr-review-snapshot.pr-snapshot-mobile .pr-review-snapshot-header .pr-headline {
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}

.reviews .p-w-r .pr-snippet-stars-reco-inline .pr-snippet-read-and-write a.pr-snippet-write-review-link,
.reviews .p-w-r .pr-read-review .pr-rd-no-reviews a,
.reviews .p-w-r .pr-review-display .pr-rd-no-reviews a {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    font-family: $barlow;
    font-size: $base-font - 1px !important;
    font-weight: $font-weight-bold;
    line-height: 43px;
    width: 100%;
    max-width: 213px;
    height: 44px;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    transition: all 0.3s ease;
    color: $ctd-primary-4;
    background: $ctd-primary-1;
    border: 1px solid $ctd-primary-1;
    text-decoration: none;

    &:hover {
        color: $ctd-primary-4;
        background: $ctd-primary-1-hv;
        border: 1px solid transparent;
    }
}

.reviews .p-w-r .pr-read-review .pr-rd-no-reviews a,
.reviews .p-w-r .pr-review-display .pr-rd-no-reviews a {
    position: static;
    transform: none;
}

.reviews .p-w-r .pr-read-review .pr-rd-no-reviews,
.reviews .p-w-r .pr-review-display .pr-rd-no-reviews {
    margin-top: 60px;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block {
    border: 1px solid $ctd-secondary-5;
    border-radius: 0;
    min-height: 231px;
    padding-bottom: 20px;
}

.reviews .p-w-r .pr-review-snapshot.pr-snapshot-mobile .pr-review-snapshot-block {
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        min-height: 231px;
    }
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-content-block,
.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block-container {
    margin-bottom: 60px;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-faceoff {
    display: none;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block .pr-review-snapshot-block-headline {
    background-color: $ctd-secondary-7;
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font + 1px;
    font-weight: $font-weight-medium;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 19px 12px !important;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block dt {
    padding: 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram {
    margin: 24px 0 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-label {
    color: $ctd-secondary-1 !important;
    font-family: $barlow;
    font-size: $base-font - 1px;
    line-height: 18px;
    text-align: center;
    padding: 0 10px 0 20px;
    width: 15%;
}

.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-count {
    color: $ctd-secondary-1 !important;
    font-family: $barlow;
    font-size: $base-font - 1px;
    line-height: 18px;
    text-align: right;
    font-weight: 400;
}

.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-bar,
.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-stars:hover .pr-ratings-histogram-bar {
    height: 11px;
    background-color: $ctd-secondary-6 !important;
    border-radius: 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-ratings-histogram-barValue,
.reviews .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-histogram-stars:hover .pr-ratings-histogram-barValue {
    height: 11px;
    background: $ctd-primary-1 !important;
    border-radius: 0;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block .pr-snapshot-tag-def {
    padding: 5px 20px 9px;
    word-break: break-word;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block .pr-snapshot-tag-def:first-of-type {
    padding-top: 25px;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block .pr-snapshot-tag-def span {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font - 1px;
    line-height: 18px;
    font-weight: normal;
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-block .pr-snapshot-tag-def span.pr-snapshot-highlight {
    border-radius: 12px;
    background-color: $ctd-secondary-6;
    margin-right: 8px;
}

.reviews .p-w-r .pr-review-snapshot.pr-snapshot-mobile .pr-review-snapshot-block-container {
    @include media-breakpoint-down(md) {
        margin-bottom: 10px;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-header {
    padding: 0;
    margin-bottom: 0;
    background: transparent;
    padding-bottom: 20px;
    border-bottom: 1px solid $ctd-secondary-5;
}

.reviews .p-w-r .pr-review-display .pr-rd-main-header {
    @include media-breakpoint-down(md) {
        padding: 0;
        margin-bottom: 0;
        background: transparent;
        padding-bottom: 20px;
        border-bottom: 1px solid $ctd-secondary-5;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-header h1 {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font + 1px;
    font-weight: $font-weight-medium;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.reviews .p-w-r .pr-review-display .pr-rd-main-header h1 {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font + 1px;
        font-weight: $font-weight-medium;
        line-height: 20px;
        text-transform: uppercase;
        margin-top: 0;
        display: block;
        margin-bottom: 12px;
    }
}

.reviews #reviews-tab {
    @include media-breakpoint-down(md) {
        padding: 0 12px;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-review {
    margin: 0;
    border: 1px solid $ctd-secondary-5;
    padding: 20px 75px 20px 30px;
    border-top: 0;
}

.reviews .p-w-r .pr-review-display .pr-review {
    @include media-breakpoint-down(md) {
        margin: 0;
        border: 1px solid $ctd-secondary-5;
        padding: 20px;
        border-top: 0;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-description .pr-rd-side-content-block {
    padding: 0;
    text-align: right;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-content-block {
    width: 75.5%;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-description,
.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-accordion,
.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-images,
.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-footer {
    margin: 0 auto;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-accordion,
.reviews .p-w-r #pr-image-display {
    display: none;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-images {
    margin-bottom: 20px;
}

.reviews .p-w-r .pr-review-display .pr-accordion {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-footer {
    padding: 0;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-side-content-block {
    right: -15%;
    z-index: 1;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-description .pr-rd-description-text {
    padding-right: 15%;
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font;
    line-height: 19px;
    margin-bottom: 20px;
}

.reviews .p-w-r .pr-review-display .pr-rd-description .pr-rd-description-text {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font;
        line-height: 19px;
    }
}

.reviews .p-w-r .pr-review-display header.pr-rd-content-block {
    margin-bottom: 12px;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-review-headline {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font + 1px;
    font-weight: $font-weight-medium;
    line-height: 20px;
    text-transform: uppercase;
}

.reviews .p-w-r .pr-review-display .pr-rd-review-headline {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font + 1px;
        font-weight: $font-weight-medium;
        line-height: 20px;
        text-transform: uppercase;
        word-break: break-word;
    }
}

.reviews .p-w-r .pr-read-review .pr-rd-bottomline,
.reviews .p-w-r .pr-review-display .pr-rd-bottomline {
    margin-bottom: 20px;
}

.reviews .p-w-r .pr-read-review .pr-rd-bottomline,
.reviews .p-w-r .pr-review-display .pr-rd-bottomline {
    @include media-breakpoint-down(md) {
        margin-bottom: 25px;
    }
}

.reviews .p-w-r .pr-read-review .pr-rd-bottomline span,
.reviews .p-w-r .pr-review-display .pr-rd-bottomline span,
.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-helpful-text,
.reviews .p-w-r .pr-helpful-count {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font;
    line-height: 19px;
}

.reviews .p-w-r .pr-review-display .pr-rd-helpful-text {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1 !important;
        font-family: $barlow;
        font-size: $base-font;
        line-height: 19px;
        font-weight: normal;
        margin-bottom: 10px;
        margin-right: 0;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-helpful-text {
    font-weight: normal;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-flag-review-container a {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font - 1px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    position: relative;
    background-image: linear-gradient(120deg, $ctd-secondary-3 0%, $ctd-secondary-3 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 92%;
}

.reviews .p-w-r .pr-review-display .pr-rd-flag-review-container a {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font - 1px;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
        position: relative;
        background-image: linear-gradient(120deg, $ctd-secondary-3 0%, $ctd-secondary-3 100%);
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-position: 0 92%;
    }
}

.reviews .p-w-r .pr-review-display .pr-rd-inner-side-content-block span:not(.pr-badging-icon),
.reviews .p-w-r .pr-review-display .pr-rd-side-content-block span:not(.pr-badging-icon),
.reviews .p-w-r .pr-review-display .pr-rd-inner-side-content-block time,
.reviews .p-w-r .pr-review-display .pr-rd-side-content-block time {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font - 1px !important;
    line-height: 29px;
    text-align: right;
    margin-bottom: 15px;
}

.reviews .p-w-r .pr-review-display .pr-rd-reviewer-type {
    @include media-breakpoint-up(lg) {
        float: right;
    }
}

.reviews .p-w-r .pr-review-display .pr-badging-icon {
    margin-top: 6px;
}

.reviews .p-w-r .pr-helpful-btn {
    border-width: 1px;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer {
    border: 0;
    margin: 20px 0 0;
    padding: 0;
}

.reviews .p-w-r .pr-review-display .pr-rd-footer {
    @include media-breakpoint-down(md) {
        margin: 0;
        padding: 0;
    }
}

.reviews .p-w-r .pr-review-display p.pr-rd-helpful-action,
.reviews .p-w-r .pr-rd-footer aside.pr-rd-flag-review-container {
    @include media-breakpoint-down(md) {
        display: inline-block;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer .pr-rd-content-block {
    width: 100%;
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer .pr-rd-review-position span,
.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer .pr-rd-to-top {
    color: $ctd-secondary-1;
    font-family: $barlow;
    font-size: $base-font - 3px;
    line-height: 16px;
}

.reviews .p-w-r .pr-read-review .pr-rd-main-footer,
.reviews .p-w-r .pr-review-display .pr-rd-main-footer {
    @include media-breakpoint-down(md) {
        text-align: left;
        margin: 20px 0;
    }
}

.reviews .p-w-r .pr-review-display .pr-rd-main-footer .pr-rd-review-position span {
    @include media-breakpoint-down(md) {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 5px;
    }
}

.reviews .p-w-r .pr-review-display .pr-rd-main-footer .pr-rd-review-position {
    @include media-breakpoint-down(md) {
        display: inline-block;
    }
}

.reviews .p-w-r .pr-review-display .pr-rd-main-footer .pr-rd-review-position span,
.reviews .p-w-r .pr-review-display .pr-rd-main-footer .pr-rd-to-top {
    @include media-breakpoint-down(md) {
        color: $ctd-secondary-1;
        font-family: $barlow;
        font-size: $base-font - 3px;
        line-height: 16px;
    }
}

.reviews .p-w-r .pr-review-display.pr-rd-display-desktop .pr-rd-main-footer .pr-rd-to-top {
    font-weight: $font-weight-bold;
    margin-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 2px;
}

.reviews .p-w-r .pr-review-display .pr-rd-main-footer .pr-rd-to-top {
    @include media-breakpoint-down(md) {
        display: none;
    }
}

.reviews .p-w-r .pr-read-review .pr-rd-pagination,
.reviews .p-w-r .pr-review-display .pr-rd-pagination {
    @include media-breakpoint-down(md) {
        padding: 0;
        border-top: 0;
        border-bottom: 0;
        margin-top: 0;
        display: inline-block;
        float: right;
    }
}

.reviews .p-w-r .pr-review-snapshot .pr-review-snapshot-msq-container {
    display: none;
}

.reviews .p-w-r .pr-review-display .pr-rd-pagination .pr-rd-pagination-btn {
    color: $ctd-primary-1;
    font-family: $barlow;
    font-size: $base-font - 3px;
    font-weight: $font-weight-bold;
    line-height: 16px;
    text-transform: uppercase;
}

.reviews .p-w-r .pr-review-display .pr-snippet-rating-decimal {
    color: $ctd-secondary-3;
    font-family: $barlow;
    font-size: $base-font;
    font-weight: $font-weight-bold;
    line-height: 19px;
    border: 0;
    padding: 0 7px;
}

.reviews .p-w-r .pr-review-snapshot .pr-rating-stars {
    float: none;
}

.reviews .p-w-r .pr-review-display .pr-rd-pagination {
    color: $ctd-secondary-1;
}

.reviews {
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-1,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-1:hover,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-2,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-2:hover,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-3,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-3:hover,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-4,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-4:hover,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-5,
    .p-w-r .pr-review-snapshot .pr-ratings-histogram .pr-hist-filter-5:hover {
        background-color: $ctd-secondary-7;
    }
}

.reviews,
.product .product-tile,
.ratings {
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-0-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-25-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-50-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-75-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-accessible-100-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-half,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-selected,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-0-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-25-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-50-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-75-filled,
    .p-w-r .pr-snippet .pr-snippet-stars-png .pr-star-v4-100-filled {
        height: 17px !important;
        width: 19px !important;
        border-radius: 0;
    }

    .p-w-r .pr-star-v4-0-filled {
        background-image: url("../../images/reviews/Star_Rating_Filled_Grey4.svg");
    }

    .p-w-r .pr-star-v4-25-filled {
        background-image: url("../../images/reviews/Star_Rating_Quarter.svg");
    }

    .p-w-r .pr-star-v4-50-filled {
        background-image: url("../../images/reviews/Star_Rating_Half.svg");
    }

    .p-w-r .pr-star-v4-75-filled {
        background-image: url("../../images/reviews/Star_Rating_Three_Quarter.svg");
    }

    .p-w-r .pr-star-v4-100-filled {
        background-image: url("../../images/reviews/Star_Rating_Filled_Red.svg");
    }
}

.reviews {
    .p-w-r .pr-read-review .pr-star-accessible-0-filled,
    .p-w-r .pr-read-review .pr-star-accessible-0-filled:hover,
    .p-w-r .pr-read-review .pr-star-accessible-25-filled,
    .p-w-r .pr-read-review .pr-star-accessible-25-filled:hover,
    .p-w-r .pr-read-review .pr-star-accessible-50-filled,
    .p-w-r .pr-read-review .pr-star-accessible-50-filled:hover,
    .p-w-r .pr-read-review .pr-star-accessible-75-filled,
    .p-w-r .pr-read-review .pr-star-accessible-75-filled:hover,
    .p-w-r .pr-read-review .pr-star-accessible-100-filled,
    .p-w-r .pr-read-review .pr-star-accessible-100-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4,
    .p-w-r .pr-read-review .pr-star-v4-0-filled,
    .p-w-r .pr-read-review .pr-star-v4-0-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4-25-filled,
    .p-w-r .pr-read-review .pr-star-v4-25-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4-50-filled,
    .p-w-r .pr-read-review .pr-star-v4-50-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4-75-filled,
    .p-w-r .pr-read-review .pr-star-v4-75-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4-100-filled,
    .p-w-r .pr-read-review .pr-star-v4-100-filled:hover,
    .p-w-r .pr-read-review .pr-star-v4:hover,
    .p-w-r .pr-review-display .pr-star-accessible-0-filled,
    .p-w-r .pr-review-display .pr-star-accessible-0-filled:hover,
    .p-w-r .pr-review-display .pr-star-accessible-25-filled,
    .p-w-r .pr-review-display .pr-star-accessible-25-filled:hover,
    .p-w-r .pr-review-display .pr-star-accessible-50-filled,
    .p-w-r .pr-review-display .pr-star-accessible-50-filled:hover,
    .p-w-r .pr-review-display .pr-star-accessible-75-filled,
    .p-w-r .pr-review-display .pr-star-accessible-75-filled:hover,
    .p-w-r .pr-review-display .pr-star-accessible-100-filled,
    .p-w-r .pr-review-display .pr-star-accessible-100-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4,
    .p-w-r .pr-review-display .pr-star-v4-0-filled,
    .p-w-r .pr-review-display .pr-star-v4-0-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4-25-filled,
    .p-w-r .pr-review-display .pr-star-v4-25-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4-50-filled,
    .p-w-r .pr-review-display .pr-star-v4-50-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4-75-filled,
    .p-w-r .pr-review-display .pr-star-v4-75-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4-100-filled,
    .p-w-r .pr-review-display .pr-star-v4-100-filled:hover,
    .p-w-r .pr-review-display .pr-star-v4:hover {
        height: 17px;
        width: 19px;
    }
}

//Q&A
#pr-questiondisplay .p-w-r {
    margin: 0;
}

#pr-questiondisplay .p-w-r .pr-qa-display {
    padding: 0;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline {
    margin: 0;
    background: transparent;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline .pr-h1,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline h1,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline .pr-h1,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-headline h1 {
    margin: 60px 0 35px;
    display: inline-block;
    width: 100%;

    @include media-breakpoint-down(md) {
        margin: 30px 0 20px;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-thankyou-headline {
    float: none;
    text-align: center;
    font-size: $base-font + 2px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-ask-question,
#pr-questiondisplay .p-w-r .pr-qa-display.pr-qa-display-tablet .pr-qa-display-ask-question {
    float: none;
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 100%;

    @include media-breakpoint-down(md) {
        margin-bottom: 0;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-headline button,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-ask-question button.pr-btn-ask-question,
#pr-questiondisplay .p-w-r .pr-btn.pr-btn-default.pr-btn-review {
    float: none;
    font-size: $base-font - 1px !important;
    font-weight: $font-weight-bold;
    line-height: 43px;
    width: 100% !important;
    max-width: 213px;
    height: 44px;
    display: inline-block;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0;
    transition: all 0.3s ease;
    color: $ctd-primary-4;
    background: $ctd-primary-1;
    border: 1px solid $ctd-primary-1;
    text-decoration: none;
    margin-left: 0;

    &:hover {
        color: $ctd-primary-4;
        background: $ctd-primary-1-hv;
        border: 1px solid transparent;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-ask-question button.pr-btn-ask-question span {
    color: $ctd-primary-4;
    background: none;
    text-shadow: none;

    &.pr-cross-icon {
        display: none;
    }
}

#pr-questiondisplay .p-w-r#pr-question-form-content {
    margin-top: 20px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-waqwaa {
    margin: 0 auto;
}

#pr-questiondisplay .p-w-r .form-group {
    margin-bottom: 10px;
    line-height: normal;

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }
}

#pr-questiondisplay .p-w-r .form-group.pr-waq-legal-text a {
    position: relative;
    text-decoration: none;

    &::after {
        content: "";
        border-bottom: 2px solid $ctd-secondary-3;
        width: 100% !important;
        height: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
    }
}

#pr-questiondisplay .p-w-r .pr-control-label span,
#pr-questiondisplay .pr-answer-form .pr-header-required span.pr-required-text,
#pr-questiondisplay .pr-question-form .pr-header-required span.pr-required-text {
    font-size: $base-font - 2px;
    line-height: 14px;
}

#pr-questiondisplay .pr-answer-form .pr-header-required,
#pr-questiondisplay .pr-question-form .pr-header-required {
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        margin-bottom: 10px;
    }

    span {
        &.pr-required-text {
            text-transform: capitalize;
        }
    }
}

#pr-questiondisplay .p-w-r .pr-btn.pr-btn-default {
    border: 1px solid $ctd-secondary-4;
    font-size: $base-font - 3px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
    border-radius: 0;
}

#pr-questiondisplay .p-w-r .btn-group-radio-vertical {
    .pr-btn.pr-btn-default {
        border: 1px solid $ctd-secondary-4;
        border-bottom: 0;
        border-radius: 0;

        &:last-child {
            border-bottom: 1px solid $ctd-secondary-4;
        }
    }
}

#pr-questiondisplay .p-w-r .btn-group-radio-horizontal {
    display: table;
    table-layout: fixed;

    .pr-btn.pr-btn-default {
        white-space: normal;
        display: table-cell;
        text-align: center;

        &:first-child {
            border-right: 0;
        }
    }
}

#pr-questiondisplay .p-w-r .pr-btn.pr-btn-default.active {
    color: $ctd-primary-4;
    background: $ctd-primary-1;
    border: 1px solid $ctd-primary-1;
}

#pr-questiondisplay .p-w-r .form-control {
    border-radius: 0;
    border: 1px solid $ctd-secondary-4;
}

#pr-questiondisplay .p-w-r * {
    font-family: $barlow !important;
    color: $ctd-secondary-1;
    line-height: normal;
}

#pr-questiondisplay .p-w-r input[type=text] {
    height: 44px !important;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-sort {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $ctd-secondary-5;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort-headline {
    font-size: $base-font - 3px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    vertical-align: bottom;
    float: none;
    color: $ctd-secondary-1 !important;

    @include media-breakpoint-down(md) {
        width: 100%;
        display: inline-block;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort-group {
    @include media-breakpoint-down(md) {
        width: 100%;
        display: inline-block;
        margin-top: 12px;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-sort {
    @include media-breakpoint-down(md) {
        max-width: 100%;
        width: 100%;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-question {
    width: 100%;
    float: none;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-questionlist {
    padding: 20px;
    padding-left: 94px;
    border: 1px solid $ctd-secondary-5;
    border-top: 0;
    margin: 0;

    @include media-breakpoint-down(md) {
        padding-left: 60px;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item .pr-qa-display-item-icon {
    background: transparent;
    border-radius: initial;
    width: auto;
    height: auto;
    border: 0;
    padding: 0;
    font-size: $base-font + 20px;
    font-weight: $font-weight-black;
    letter-spacing: 1.31px;
    line-height: 40px;
    left: -74px;

    @include media-breakpoint-down(md) {
        font-size: $base-font + 12px;
        letter-spacing: 1.02px;
        line-height: 32px;
        left: -40px;
    }

    &::after {
        content: ':';
        font-size: $base-font + 20px;
        font-weight: $font-weight-black;

        @include media-breakpoint-down(md) {
            font-size: $base-font + 12px;
        }
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item {
    margin-bottom: 20px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item-text {
    max-width: 763px;
    font-size: $base-font;
    line-height: 19px;
    color: $ctd-secondary-1 !important;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-item-details {
    position: static;

    .pr-subscript,
    time {
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-3;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer-link-container .pr-cross-icon .pr-cross-icon__line {
    stroke: $ctd-primary-1;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:hover .pr-cross-icon,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:hover .pr-cross-icon {
    background: $ctd-primary-1;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:hover .pr-cross-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-answer:hover .pr-cross-icon__line,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:hover .pr-cross-icon__circle,
#pr-questiondisplay .p-w-r .pr-qa-display .pr-btn-ask-question:hover .pr-cross-icon__line {
    stroke: $ctd-primary-4;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer {
    margin-left: 60px;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        margin-left: 10px;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer-by-container.pr-qa-display-answer-by-container-expert {
    border-left: 3px solid $ctd-secondary-4;
    padding-left: 15px;
}

#pr-questiondisplay .p-w-r .pr-qa-display span.pr-qa-display-answer-by {
    margin-bottom: 8px;

    @include media-breakpoint-down(md) {
        display: inline-block;
    }

    span {
        font-size: $base-font;
        line-height: 19px;
    }
}

#pr-questiondisplay .p-w-r .pr-qa-display span.pr-qa-display-answer-text {
    font-size: $base-font;
    line-height: 19px;
    margin-bottom: 10px;
}

#pr-questiondisplay .p-w-r .pr-qa-display span.pr-badging-icon svg g[fill="#056BC5"] {
    fill: $ctd-primary-1;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn .pr-thumbs-icon svg {
    width: 30px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn {
    margin-bottom: 0;
    padding: 7px 11px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-helpful-btn .pr-helpful-count {
    font-size: $base-font;
    line-height: 19px;
}

#pr-questiondisplay .p-w-r .pr-qa-display .pr-qa-display-answer .pr-qa-display-answer-icon {
    @include media-breakpoint-down(md) {
        position: static;
    }
}
