//UPS shipping styles
.modal-dialog {
    &.ups-shipping-dialog {
        max-width: 400px;

        @include media-breakpoint-down(md) {
            margin: 10px auto;
        }

        @include media-breakpoint-down(xs) {
            margin: 10px 15px;
        }

        .modal-footer {
            display: inline-block;
            width: 100%;
            border-top: 0;
            margin: 0 auto;

            @include media-breakpoint-up(lg) {
                max-width: 290px;
            }

            .button-primary {
                width: 100%;
            }
        }

        .modal-header-description {
            @include media-breakpoint-down(md) {
                padding: 0 8px 0 16px;

                .modal-body {
                    padding-right: 8px;
                }
            }
        }
    }

    .close {
        opacity: 1;
    }

    .modal-content {
        border-radius: 0;
        border: 0;
    }

    .modal-header {
        padding: 20px 12px 22px 20px;
        background-color: $ctd-secondary-7;
        align-items: center;
        border: none;

        .modal-title {
            font-size: $base-font + 1px;
            line-height: 20px;
            color: $ctd-secondary-1;
            font-weight: $font-weight-medium;
        }
    }

    .modal-header-description {
        padding: 0 20px;

        .b3-black {
            margin-top: 12px;
            display: block;

            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }
        }

        .modal-body {
            padding: 0;
            max-height: 400px;
            padding-right: 20px;

            .address-suggestion {
                border: 1px solid $ctd-secondary-5;

                &:first-child {
                    margin: 30px 0 20px;
                }

                &:last-child {
                    margin-bottom: 36px;
                }

                .address-suggestion-heading {
                    color: $ctd-secondary-1;
                    font-size: $base-font + 1px;
                    font-weight: $font-weight-medium;
                    line-height: 20px;
                    padding: 15px 20px;
                    border-bottom: 1px solid $ctd-secondary-5;
                }

                .suggested-address {
                    padding: 0 20px;

                    &.selected-address {
                        background-color: $ctd-secondary-7;
                    }

                    &.entered-address {
                        padding: 0 20px 20px;
                    }

                    .custom-radio {
                        top: 25px;

                        input {
                            position: relative;
                        }
                    }

                    .address-fields {
                        margin-left: 30px;
                        color: $ctd-secondary-1;
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}
