@import "~base/variables";

//CTD style guide primary and secondary colors

$ctd-red: #c62128;
$ctd-red-hv: #a71c21;
$ctd-green: #090;
$ctd-blue: #078db2;
$ctd-white: $white;
$ctd-black: $grey7;
$ctd-grey-1: #424040;
$ctd-grey-2: $grey4;
$ctd-grey-3: #c1c1c1;
$ctd-grey-4: #e0e0e0;
$ctd-grey-5: $grey2;
$ctd-grey-6: #f2f2f2;
$ctd-concrete: #f3f3f3;
$ctd-alto: #d6d6d6;
$ctd-dusty-gray: #989898;
$ctd-japanese-lurel: #090;
$ctd-light-red: #f40000;
$ctd-japanese-green: #008100;
$ctd-dark-red: #f00;

$ctd-primary-1: $ctd-red;
$ctd-primary-1-hv: $ctd-red-hv;
$ctd-primary-2: $ctd-green;
$ctd-primary-3: $ctd-blue;
$ctd-primary-4: $ctd-white;

$ctd-secondary-1: $ctd-black;
$ctd-secondary-2: $ctd-grey-1;
$ctd-secondary-3: $ctd-grey-2;
$ctd-secondary-4: $ctd-grey-3;
$ctd-secondary-5: $ctd-grey-4;
$ctd-secondary-6: $ctd-grey-5;
$ctd-secondary-7: $ctd-grey-6;

//CTD font family variable
// VARIABLE: FONT TYPES
// Note: Font type should only be defined here, and assinged to a variable as such.
// Please do not add additional font types unless defined in the CTD style guide and approved.

$barlow: 'Barlow', sans-serif;

// VARIABLE: FONT WEIGHT
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// VARIABLE: FONT STYLE

$font-style-italic: italic;

// VARIABLE: FONT STYLE

$base-font: 16px;

//CTD button style attribute initializations

$btn-ffamily: $barlow;
$btn-fsize: 15px;
$btn-fweight: $font-weight-bold;
$btn-lineheight: 43px;
$btn-letterspacing: 0;
$btn-padding: 0 50px;
$btn-height: 44px;

//CTD Button colors
//primary-btn
//primary-btn-normal

$btn-pr-col: $ctd-primary-4;
$btn-pr-bgcol: $ctd-primary-1;
$btn-pr-brcol: $ctd-primary-1;

//primary-btn-hover

$btn-pr-col-ho: $ctd-primary-4;
$btn-pr-bgcol-ho: rgba(167, 28, 33, 1);
$btn-pr-brcol-ho: transparent;

//primary-btn-disable

$btn-pr-col-dis: $ctd-primary-4;
$btn-pr-bgcol-dis: $ctd-secondary-4;
$btn-pr-brcol-dis: $ctd-secondary-4;

//secondary-btn
//secondary-btn-normal

$btn-sec-col: $ctd-primary-1;
$btn-sec-bgcol: $ctd-primary-4;
$btn-sec-brcol: $ctd-primary-1;

//secondary-btn-hover

$btn-sec-col-ho: $ctd-primary-4;
$btn-sec-bgcol-ho: $ctd-primary-1;
$btn-sec-brcol-ho: $ctd-primary-1;

//secondary-btn-disable

$btn-sec-col-dis: $ctd-secondary-4;
$btn-sec-bgcol-dis: $ctd-primary-4;
$btn-sec-brcol-dis: $ctd-secondary-4;

//pdp-btn
//pdp-btn-normal

$btn-pdp-col: $ctd-primary-4;
$btn-pdp-bgcol: $ctd-primary-2;
$btn-pdp-brcol: $ctd-primary-2;

//pdp-btn-hover

$btn-pdp-col-ho: $ctd-primary-4;
$btn-pdp-bgcol-ho: rgba(0, 129, 0, 1);
$btn-pdp-brcol-ho: transparent;

//pdp-btn-disable

$btn-pdp-col-dis: $ctd-primary-4;
$btn-pdp-bgcol-dis: $ctd-secondary-4;
$btn-pdp-brcol-dis: $ctd-secondary-4;

//content-btn
//content-btn-normal

$btn-cntnt-col: $ctd-primary-4;
$btn-cntnt-bgcol: $ctd-primary-3;
$btn-cntnt-brcol: $ctd-primary-3;

//content-btn-hover

$btn-cntnt-col-ho: $ctd-primary-4;
$btn-cntnt-bgcol-ho: rgba(6, 117, 148, 1);
$btn-cntnt-brcol-ho: transparent;

$container-max-widths: (
    xl: 1610px
);

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 1023.99px,
    lg: 1024px,
    xl: 1200px
);

.container {
    max-width: map-get($container-max-widths, xl);
}

$tablandscape: "screen and (min-width : 1023px) and (max-width : 1024px)";
