#pr-write {
    .p-w-r * {
        font-family: $barlow !important;
        color: $ctd-secondary-1;
    }

    .p-w-r .pr-star-v4-0-filled {
        background-image: url("../../images/reviews/Star_Rating_Filled_Grey4.svg");
    }

    .p-w-r .pr-star-v4-25-filled {
        background-image: url("../../images/reviews/Star_Rating_Quarter.svg");
    }

    .p-w-r .pr-star-v4-50-filled {
        background-image: url("../../images/reviews/Star_Rating_Half.svg");
    }

    .p-w-r .pr-star-v4-75-filled {
        background-image: url("../../images/reviews/Star_Rating_Three_Quarter.svg");
    }

    .p-w-r .pr-star-v4-100-filled {
        background-image: url("../../images/reviews/Star_Rating_Filled_Red.svg");
    }

    .p-w-r .pr-star-accessible-0-filled,
    .p-w-r .pr-star-accessible-25-filled,
    .p-w-r .pr-star-accessible-50-filled,
    .p-w-r .pr-star-accessible-75-filled,
    .p-w-r .pr-star-accessible-100-filled,
    .p-w-r .pr-star-v4,
    .p-w-r .pr-star-v4-0-filled,
    .p-w-r .pr-star-v4-25-filled,
    .p-w-r .pr-star-v4-50-filled,
    .p-w-r .pr-star-v4-75-filled,
    .p-w-r .pr-star-v4-100-filled {
        height: 45px;
    }

    .p-w-r .alert-warning,
    .p-w-r .pr-alert-warning {
        background-color: #dff0d8;
        border-color: #d6e9c6;
        color: #3c763d;
        border-radius: 0;
    }

    .p-w-r .pr-header-product-name a {
        font-size: $base-font + 4px;
        line-height: 26px;
        position: relative;
        text-decoration: none;

        &::after {
            content: "";
            border-bottom: 2px solid $ctd-secondary-3;
            width: 100% !important;
            height: 100%;
            position: absolute;
            bottom: 2px;
            left: 0;
        }
    }

    .p-w-r .pr-header {
        border-bottom: 1px solid $ctd-secondary-4;
    }

    .p-w-r .form-control {
        border: 1px solid $ctd-secondary-4;
        border-radius: 0;
    }

    .p-w-r input[type=text] {
        height: 44px !important;
    }

    .p-w-r .pr-btn-add-tag a {
        border: 1px solid $ctd-secondary-4;
        border-radius: 0;

        &::after {
            color: $ctd-primary-1;
        }
    }

    .p-w-r .btn-group-radio-vertical .pr-btn {
        border-bottom-width: 1px;
        border-radius: 0;
        font-size: $base-font - 3px;
        line-height: 14px;
        text-transform: uppercase;
        font-weight: $font-weight-semibold;

        &.active {
            color: $ctd-primary-4;
            background: $ctd-primary-1;
            border-color: $ctd-primary-1;
        }
    }

    .p-w-r .pr-clear-all-radios {
        font-weight: $font-weight-medium;
        position: relative;
        text-decoration: none;

        &::after {
            content: "";
            border-bottom: 2px solid $ctd-secondary-3;
            width: 100% !important;
            height: 100%;
            position: absolute;
            bottom: 3px;
            left: 0;
        }
    }

    .p-w-r .pr-accessibly-hidden-file-input + label span {
        &::after {
            color: $ctd-primary-1;
        }
    }

    .p-w-r .pr-accessible-btn.pr-btn-default,
    .p-w-r .input-group-btn > .pr-btn {
        font-size: $base-font - 1px !important;
        font-weight: $font-weight-bold;
        line-height: 43px;
        width: 100% !important;
        max-width: 213px;
        height: 44px;
        display: inline-block;
        padding: 0 30px;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 0;
        transition: all 0.3s ease;
        color: $ctd-primary-4;
        background: $ctd-primary-1;
        border: 1px solid $ctd-primary-1;
        text-decoration: none;
        margin-left: 0;

        &:hover {
            color: $ctd-primary-4;
            background: $ctd-primary-1-hv;
            border: 1px solid transparent;
        }
    }

    .p-w-r .pr-subscript,
    .p-w-r .pr-subscript span {
        font-size: $base-font - 2px;
        margin-bottom: 25px;

        a {
            position: relative;
            text-decoration: none;
            font-size: $base-font - 2px;

            &::after {
                content: "";
                border-bottom: 2px solid $ctd-secondary-3;
                width: 100% !important;
                height: 100%;
                position: absolute;
                bottom: 1px;
                left: 0;
            }
        }
    }

    .p-w-r .pr-footer {
        border-top: 1px solid $ctd-secondary-4;
        padding-top: 10px;
        margin-bottom: 60px;
    }

    .p-w-r .input-group-btn > .pr-btn div {
        color: $ctd-primary-4;
    }

    .p-w-r .pr-h3,
    .p-w-r .thank-you-page .headline {
        color: $ctd-secondary-1 !important;
    }

    .p-w-r .thank-you-page {
        margin-bottom: 60px;
    }

    .p-w-r .thank-you-page .pr-star,
    .p-w-r .thank-you-page .pr-star-accessible-0-filled,
    .p-w-r .thank-you-page .pr-star-accessible-25-filled,
    .p-w-r .thank-you-page .pr-star-accessible-50-filled,
    .p-w-r .thank-you-page .pr-star-accessible-75-filled,
    .p-w-r .thank-you-page .pr-star-accessible-100-filled,
    .p-w-r .thank-you-page .pr-star-selected,
    .p-w-r .thank-you-page .pr-star-v4,
    .p-w-r .thank-you-page .pr-star-v4-0-filled,
    .p-w-r .thank-you-page .pr-star-v4-25-filled,
    .p-w-r .thank-you-page .pr-star-v4-50-filled,
    .p-w-r .thank-you-page .pr-star-v4-75-filled,
    .p-w-r .thank-you-page .pr-star-v4-100-filled,
    .p-w-r .thank-you-page .pr-star:hover {
        height: 20px;
        width: 22px;
    }

    .p-w-r .thank-you-page .pr-rating-number {
        border-radius: 0;
        border: 1px solid $ctd-secondary-4;
        width: 30px;
        margin-left: 8px;
        padding: 2px 4px;
    }

    .p-w-r .thank-you-page .pr-rating-number span {
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-3;
        font-weight: $font-weight-bold;
    }

    .p-w-r .thank-you-page .pr-rating-date {
        border: 1px solid $ctd-secondary-4;
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-3;
        font-weight: $font-weight-bold;
    }

    #pr-write .p-w-r .thank-you-page .headline {
        word-break: break-word;
    }

    .p-w-r .thank-you-page .pr-h5 a {
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-3;
        font-weight: $font-weight-bold;
        position: relative;
        text-decoration: none;

        &::after {
            content: "";
            border-bottom: 2px solid $ctd-secondary-3;
            width: 100% !important;
            height: 100%;
            position: absolute;
            bottom: 1px;
            left: 0;
        }
    }

    .p-w-r .thank-you-page .pr-text span {
        font-weight: $font-weight-semibold;
        margin-left: 5px;
    }

    .p-w-r .thank-you-page .pr-text {
        word-break: break-word;
    }

    .p-w-r .thank-you-page .pr-media-preview + .text {
        font-weight: $font-weight-semibold;
        word-break: break-word;
    }

    .p-w-r .tag-group .pr-label-control.checked {
        background-color: $ctd-primary-1;
        border-color: $ctd-secondary-4;
        display: inline-block;
    }

    .p-w-r .tag-group .pr-label-control.checked span {
        color: $ctd-primary-4 !important;
    }

    .p-w-r .tag-group .pr-cb-tag-container {
        width: 100%;
        margin-right: 0 !important;
    }

    .p-w-r .thank-you-page #war-ty-pros,
    .p-w-r .thank-you-page #war-ty-cons,
    .p-w-r .thank-you-page #war-ty-best-uses {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .p-w-r .thank-you-page .pr-attribute {
        font-size: $base-font - 2px;
    }
}

.pr-displaywrite {
    &.row {
        margin: 0;
    }

    .p-w-r {
        margin: 0;
    }
}
