@import "variables";
@import "bootstrap/scss/mixins";

.shop-brandlist {
    margin-bottom: 60px;

    @include media-breakpoint-down(md) {
        padding-left: 12px;
        padding-right: 12px;
    }

    .breadcrumb {
        border: 0;
        margin: 0;
        padding: 0;

        .breadcrumb-item {
            a {
                font-size: $base-font - 1px;
                line-height: 18px;
                color: $ctd-secondary-1;
            }

            &:last-child {
                color: $ctd-secondary-3;
                cursor: auto;

                a {
                    color: $ctd-secondary-3;
                    cursor: auto;
                }
            }
        }
    }

    .brandlist-breadcrumb {
        .col {
            @include media-breakpoint-down(md) {
                padding-left: 12px;
                padding-right: 12px;
                padding-top: 10px;
            }
        }
    }

    .row {
        @include media-breakpoint-down(md) {
            margin-right: -12px;
            margin-left: -12px;
        }
    }

    .secondary-content {
        @include media-breakpoint-up(lg) {
            order: 2;
        }
    }

    .secondary-content,
    .primary-content {
        @include media-breakpoint-down(md) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .left-nav {
        @include media-breakpoint-down(md) {
            padding-top: 20px;
            border-top: 2px solid #e0e0e0;
            margin-top: 10px;
        }

        li {
            color: $ctd-secondary-1;
            font-size: $base-font - 1px;
            line-height: 19px;

            &:not(.left-main-category) {
                padding-left: 25px;
                margin-bottom: 11px;
            }

            &.sub-heading {
                font-weight: 500;
                padding-left: 0;
            }

            &.heading {
                font-size: $base-font;
                font-weight: 700;
                text-transform: uppercase;
                padding-left: 0;
                margin-bottom: 18px;

                @include media-breakpoint-up(lg) {
                    margin-top: 40px;
                }
            }

            a {
                color: $ctd-secondary-1;
            }

            &.left-main-category:not(.inner-category) {
                margin-bottom: 11px;
            }
        }
    }

    .shop-title {
        h1 {
            margin: 20px 0 60px;

            @include media-breakpoint-down(md) {
                margin-top: 30px;
            }
        }
    }

    .brand-list-text {
        h3 {
            margin-bottom: 25px;
        }
    }

    .anchor-link {
        margin: 0 auto 35px;
        display: inline-block;

        @include media-breakpoint-up(lg) {
            max-width: 992px;
            display: flex;
            justify-content: space-between;
        }

        @include media-breakpoint-down(md) {
            text-align: center;
            margin-bottom: 35px;

            .links {
                margin-right: 6px;
                letter-spacing: 7px;
            }
        }

        .dim-color {
            color: $ctd-secondary-3;
        }

        .text-bold {
            font-weight: 700;
        }
    }

    .brand-link-list {
        padding: 25px 0;
        border-top: 2px solid #e0e0e0;

        @include media-breakpoint-down(md) {
            padding: 20px 0;

            .left-list {
                max-width: 15%;
            }

            .right-list {
                max-width: 85%;
            }
        }
    }

    .brand-refinements {
        width: 247px;
        margin-right: 20px;
        display: inline-block;

        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 10px;
        }

        span {
            line-height: 24px;
            color: $ctd-secondary-1;
        }
    }
}
