@import "variables";
@import "bootstrap/scss/mixins";
@import "recommendation";

.AR-15-build-page {
    margin-bottom: 60px;

    .breadcrumb {
        border: 0;
        margin: 0;
        padding: 0;

        .breadcrumb-item {
            a {
                font-size: $base-font - 1px;
                line-height: 18px;
                color: $ctd-secondary-1;
            }

            &:last-child {
                color: $ctd-secondary-3;
                cursor: auto;

                a {
                    color: $ctd-secondary-3;
                    cursor: auto;
                }
            }
        }
    }

    .brandlist-breadcrumb {
        .col {
            @include media-breakpoint-down(md) {
                padding: 10px 12px 12px;
            }
        }
    }

    .row {
        @include media-breakpoint-down(md) {
            margin-right: -12px;
            margin-left: -12px;
        }
    }

    .secondary-content {
        @include media-breakpoint-up(lg) {
            order: 2;
            margin-top: 15px;
        }
    }

    .secondary-content,
    .primary-content {
        @include media-breakpoint-down(md) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .primary-content {
        @include media-breakpoint-down(md) {
            margin-top: 60px;
        }
    }

    .left-nav {
        @include media-breakpoint-down(md) {
            padding-top: 20px;
            border-top: 2px solid $ctd-secondary-5;
        }

        .heading {
            font-size: $base-font;
            line-height: 19px;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
            padding-left: 0;
            margin-bottom: 11px;

            @include media-breakpoint-up(lg) {
                margin-top: 40px;
            }

            a {
                &.active {
                    color: $ctd-secondary-1 !important;
                    font-weight: $font-weight-bold;
                    background-image: none;
                    text-decoration: none;
                }
            }
        }

        ul {
            li {
                margin-bottom: 10px;
            }

            a {
                font-size: $base-font - 1px;
                line-height: 19px;
                color: $ctd-secondary-1 !important;

                &.active {
                    color: $ctd-primary-1 !important;
                    font-weight: $font-weight-semibold;
                    background-image: linear-gradient(120deg, $ctd-primary-1 0%, $ctd-primary-1 100%);
                }
            }
        }
    }

    .html-slot-containerAR15 {
        margin-bottom: 40px;

        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }

    .slotWrapper,
    .containerAR15-body .slant-down {
        @include media-breakpoint-down(md) {
            margin-right: -15px;
            margin-left: -15px;
        }
    }

    .containerAR15-body {
        position: relative;

        .content-container {
            max-width: 858px;
            margin: 0 auto;

            &.show-dropdown {
                ul {
                    li {
                        display: block;

                        &.update-content {
                            &::after {
                                transform: none;
                            }
                        }
                    }
                }
            }

            ul {
                top: 120px;
                position: absolute;
                z-index: 1;
                border: 1px solid $ctd-secondary-5;
                background: white;
                width: 246px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    left: 0;
                }

                li {
                    font-size: $base-font - 1px;
                    line-height: 18px;
                    color: $ctd-secondary-1;
                    cursor: pointer;
                    padding: 10px 15px;
                    display: none;

                    &:hover {
                        background-color: $ctd-secondary-7;
                    }

                    &.update-content {
                        display: block;
                        padding: 13px 15px;
                        position: relative;

                        &:hover {
                            background-color: transparent;
                        }

                        &::after {
                            content: '';
                            background: url('../images/Dropdown-Arrow.svg') no-repeat;
                            width: 12px;
                            height: 8px;
                            display: inline-block;
                            transform: rotate(180deg);
                            position: absolute;
                            right: 15px;
                            top: 18px;
                        }
                    }
                }
            }
        }

        .tabs-section {
            @include media-breakpoint-down(md) {
                margin-left: -15px;
                margin-right: -15px;
            }

            .heading {
                margin-bottom: 25px;

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            .custom-tab-content {
                .panel-title {
                    @include media-breakpoint-down(md) {
                        margin-bottom: 0;
                    }

                    a {
                        @include media-breakpoint-down(md) {
                            font-size: $base-font;
                            line-height: 18px;
                            font-weight: $font-weight-bold;
                            color: $ctd-secondary-1;
                            padding: 15px 12px;
                            border-top: 1px solid $ctd-secondary-5;
                            text-transform: uppercase;
                            font-family: $barlow;
                            display: inline-block;
                            width: 100%;

                            &.last-child {
                                border-bottom: 1px solid $ctd-secondary-5;
                            }

                            .minus-icon {
                                display: block;
                                margin-top: 7px;
                            }

                            .plus-icon {
                                margin-top: 2px;
                                display: none;
                            }

                            &.collapsed {
                                .minus-icon {
                                    display: none;
                                }

                                .plus-icon {
                                    display: block;
                                }
                            }
                        }
                    }
                }

                .panel-collapse {
                    @include media-breakpoint-down(md) {
                        padding: 0 12px;

                        .top-content {
                            display: inline-block;
                            margin: 18px 0 25px;

                            .text-section {
                                margin-top: 29px;
                                text-align: center;
                            }
                        }
                    }
                }
            }

            .nav-tabs {
                border-bottom: 0;
                display: flex;
                text-align: center;
                width: 100%;

                @include media-breakpoint-down(md) {
                    display: none;
                }

                li {
                    flex-basis: 33.33%;

                    a {
                        width: 100%;
                        display: inline-block;
                        padding: 15px 0;
                        text-decoration: none;
                        font-size: $base-font - 1px;
                        line-height: 18px;
                        font-weight: $font-weight-bold;
                        text-transform: uppercase;
                        border: 1px solid $ctd-secondary-3;
                        background-color: $ctd-secondary-6;
                        color: $ctd-secondary-1;

                        &.active {
                            color: $ctd-primary-4;
                            background-color: $ctd-primary-1;
                        }
                    }

                    &:first-child {
                        a {
                            border-right: 0;
                        }
                    }

                    &:last-child {
                        a {
                            border-left: 0;
                        }
                    }
                }
            }

            .top-content {
                display: flex;
                margin: 60px 0;

                .image-section {
                    flex-basis: 50%;
                }

                .text-section {
                    flex-basis: 50%;
                    max-width: 492px;
                    margin: 0 auto;
                    line-height: 19px;
                    text-align: left;
                }
            }

            .slick-content {
                @include media-breakpoint-up(lg) {
                    margin: 0 15px;
                }

                .parts-content {
                    width: 16.66%;
                    padding: 0 15px 0 0;
                    display: inline-block;

                    .part-image {
                        cursor: pointer;
                    }

                    h3 {
                        margin: 20px 0;
                    }
                }

                .slick-arrow {
                    right: -25px;

                    &.slick-prev {
                        left: -25px;
                    }
                }
            }

            .see-the-story {
                margin: 15px 0 20px;

                @include media-breakpoint-down(md) {
                    margin: 15px 0 30px;
                }
            }
        }
    }

    .build-upper-receiver.build-lower-receiver {
        .top-content {
            max-width: 780px;

            @include media-breakpoint-down(md) {
                max-width: 100%;
            }
        }
    }

    .build-lower-receiver {
        margin-top: 20px;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        .top-content {
            max-width: 553px;

            @include media-breakpoint-down(md) {
                max-width: 100%;

                .heading {
                    margin-bottom: 12px;
                    text-align: center;
                }
            }
        }

        .video-text-content {
            max-width: 858px;
            margin: 80px auto 0;

            ol {
                padding-left: 25px;
                margin-top: 20px;
                display: none;

                li {
                    list-style: decimal;
                    font-size: $base-font;
                    line-height: 19px;
                    color: $ctd-secondary-1;
                    margin-bottom: 15px;
                    padding-left: 10px;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 2px;
                        line-height: 17px;
                    }
                }

                &.active {
                    display: block;
                }
            }

            .image-section {
                position: relative;

                .youtube-icon {
                    position: absolute;
                    height: 73.98px;
                    width: 105px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    cursor: pointer;
                }

                iframe {
                    position: absolute;
                    z-index: -1;
                }

                &.hide-background-icon {
                    .video-play {
                        display: none;
                    }

                    iframe {
                        position: static;
                    }
                }
            }
        }
    }

    .promo-tip {
        margin: 30px 0;

        .inner-promo-tip {
            max-width: 1175px;
            margin: 0 auto;
            display: flex;
            background-color: $ctd-secondary-7;
            align-items: center;

            @include media-breakpoint-down(md) {
                display: inline-block;
            }
        }

        .left-content {
            background-color: $ctd-primary-3;
            padding: 17.5px 19px;
            text-transform: uppercase;
            flex-basis: 9%;

            @include media-breakpoint-down(md) {
                padding: 4.5px 20px;
                text-align: center;
            }
        }

        .right-content {
            flex-basis: 91%;
            padding: 10px 35px 10px 40px;
            background-color: $ctd-secondary-7;

            @include media-breakpoint-up(lg) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @include media-breakpoint-down(md) {
                padding: 12px 11px 20px;
                background: transparent;
                display: inline-block;
                text-align: center;
            }

            .description {
                display: inline-block;
                vertical-align: middle;
                width: 59%;

                span {
                    max-width: 593px;
                    display: inline-block;

                    @include media-breakpoint-down(md) {
                        max-width: 100%;
                    }
                }

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    margin-bottom: 25px;
                    width: 100%;
                }
            }
        }
    }

    .recommendation-heading {
        padding-bottom: 12px;
        border-bottom: 2px solid $ctd-secondary-5;
        margin-top: 40px;

        @include media-breakpoint-down(md) {
            text-align: center;
            display: inline-block;
            width: 100%;
            margin-top: 0;
            padding-bottom: 20px;
        }

        .shop-all-link {
            float: right;
            margin-top: 5px;

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}

mark {
    padding: 0;
    background: $ctd-primary-1;
    color: $ctd-primary-4;
}
