@import "~base/cart";
@import "variables";
@import "recommendation";

.cart-main {
    .container {
        max-width: 1122px;

        @include media-breakpoint-down(md) {
            padding: 0 12px;
        }

        .page-title {
            position: static;
            font-size: 55px;
            background-color: transparent;
            color: $ctd-secondary-1;
            padding: 0;
            margin: 5.5% 0 2.7%;

            @include media-breakpoint-down(md) {
                font-size: $base-font + 12px;
                line-height: 32px;
                margin: 9% 0 10px;
                width: 100%;
                text-align: center;
            }

            &::before {
                display: none;
            }
        }

        .cart-header {
            @include media-breakpoint-down(md) {
                text-align: center;
                margin: 0;
            }

            .text-center {
                font-family: $barlow;
                font-size: $base-font + 4px;
                line-height: 26px;
            }

            .help-phone-number,
            .continue-shopping-link {
                text-decoration: underline;
                color: $ctd-secondary-1;
            }
        }

        .no-margin-top {
            border-top: 2px solid $ctd-secondary-5;
            margin-bottom: 2.3%;

            @include media-breakpoint-down(md) {
                margin: 8% 0 7%;
            }
        }

        .number-of-items {
            font-family: $btn-ffamily;
            font-size: $base-font + 4px;
            line-height: 26px;
            font-weight: normal;

            @include media-breakpoint-down(md) {
                margin: 0 0 10px;
            }
        }

        &.cart-page {
            .line-item-name,
            .form-group > span,
            .store-name {
                font-family: $btn-ffamily;
                font-weight: $font-weight-medium;
                font-size: $base-font + 1px;
                color: $ctd-secondary-1;
                line-height: 20px;
                margin-bottom: 10px;
            }

            .store-name {
                margin: 0;
            }

            .shipping-head {
                @include media-breakpoint-down(md) {
                    display: none;
                }

                &.form-group {
                    border-bottom: 2px solid $ctd-secondary-5;
                    margin-bottom: 20px;

                    @include media-breakpoint-down(md) {
                        border-bottom: none;
                        margin-bottom: 0;
                    }
                }

                > span {
                    margin-top: 5px;
                }

                .store-pick {
                    margin-top: 20px;
                }
            }

            .cart-row {
                @include media-breakpoint-down(md) {
                    margin: 0;
                }
            }

            .strike-through {
                span {
                    font-size: $base-font + 2px;
                    line-height: 22px;
                }
            }

            .sales {
                .value {
                    font-family: $btn-ffamily;
                    font-weight: $font-weight-bold;
                    font-size: $base-font + 4px;
                    color: $ctd-primary-1;
                    line-height: 20px;
                }
            }

            .quantity-form {
                .quantity {
                    border-radius: 0;
                    border: 1px solid $ctd-secondary-5;
                    padding: 11.5px 5px;
                    line-height: 22px;
                    font-size: $base-font + 2px;
                    color: #222;
                    width: 100%;
                    min-width: auto;
                    max-width: 50px;
                    text-align: center;
                }

                .update {
                    margin-left: 5px;
                    cursor: pointer;
                }
            }

            .approaching-discounts {
                .single-approaching-discount {
                    color: $ctd-secondary-1;
                    border: 1px solid $ctd-secondary-5;
                    padding: 8px;
                    font-family: $btn-ffamily;
                    font-weight: $font-weight-semibold;
                    font-size: $base-font;
                    line-height: 26px;
                    margin-top: 10px;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 1px;
                        line-height: 18px;
                    }
                }
            }

            .dealers-ffl {
                .line-item-name {
                    margin-bottom: 5px;
                    display: inline-block;
                }

                .line-item-divider {
                    border-top: 2px solid $ctd-secondary-5;

                    @include media-breakpoint-up(md) {
                        margin: 0.625em 30px 0.625em -5px;
                    }
                }

                address,
                address a,
                address p {
                    font-family: $btn-ffamily;
                    font-size: $base-font;
                    color: $ctd-secondary-1;
                    line-height: 19px;
                    margin-bottom: 0;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 1px;
                    }
                }

                .store-map {
                    text-decoration: underline;
                }
            }

            .line-item-promo {
                font-family: $btn-ffamily;
                font-weight: $font-weight-medium;
                font-size: $base-font - 3px;
                color: $ctd-primary-2;
                line-height: 16px;
            }

            .form-group {
                margin: 0;
                padding-bottom: 20px;
            }

            .promo-content,
            .shipping-content {
                margin-left: 0;
            }

            .item-image {
                width: 102px;
                height: 102px;

                img {
                    &.product-image {
                        max-height: none;
                    }
                }
            }

            .cart-info {
                padding-right: 9px;

                @include media-breakpoint-down(md) {
                    padding: 0;
                }

                .product-info {
                    padding: 10px 15px 15px;
                    border-radius: unset;
                    border: 1px solid $ctd-secondary-5;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }

                    @include media-breakpoint-down(md) {
                        padding: 13px 10px 15px;
                    }

                    .line-item-divider {
                        @include media-breakpoint-down(md) {
                            margin: 15px 0;
                        }
                    }
                }

                .left-cart {
                    @include media-breakpoint-up(md) {
                        flex: 0 0 48%;
                    }

                    .product-edit {
                        margin-top: 10px;

                        @include media-breakpoint-down(md) {
                            margin-top: 5px;
                        }
                    }
                }

                .product-card-footer {
                    @include media-breakpoint-up(md) {
                        padding: 0;

                        .line-item-total-price {
                            padding-left: 30px;
                        }

                        .line-item-quantity {
                            padding-right: 0;
                        }
                    }

                    .line-item-row {
                        @include media-breakpoint-down(md) {
                            justify-content: space-between;
                            padding-right: 1rem;
                            padding-left: 1rem;

                            .mobile-device {
                                width: auto;
                                padding: 0;
                            }
                        }
                    }
                }
            }

            .totals {
                @include media-breakpoint-up(md) {
                    padding: 0 13px;
                }

                @include media-breakpoint-down(md) {
                    padding: 0;

                    .row {
                        margin: 0;

                        .col-12 {
                            padding: 0;
                        }
                    }
                }

                .savings-total {
                    span {
                        color: $ctd-primary-2;
                        font-weight: $font-weight-medium;
                    }
                }

                .info-icon {
                    vertical-align: middle;
                    margin-left: 5px;
                }

                .optional-promo,
                .optional-shipping {
                    @include media-breakpoint-down(md) {
                        font-family: $btn-ffamily;
                        font-size: $base-font + 1px;
                        color: $ctd-secondary-1;
                        font-weight: $font-weight-medium;
                        line-height: 19px;
                        text-decoration: underline;
                        width: auto;
                        display: inline-block;
                        margin-bottom: 20px;
                    }
                }

                .optional-promo {
                    margin: 20px 0 18px;
                }

                .coupon-error,
                .zip-code-error {
                    color: $ctd-dark-red;
                    margin-top: 2px;
                    font-size: $base-font - 5px;
                    line-height: 13px;
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    text-align: left;
                }

                .promo-field,
                .zip-field {
                    border-right: 0;
                    padding: 0;

                    @include media-breakpoint-up(md) {
                        max-width: 56%;
                    }

                    input {
                        border-radius: unset;
                        border-right: 0;
                    }
                }

                .promo-code-submit,
                .zip-code-submit {
                    @include media-breakpoint-up(md) {
                        padding: 0 7px 0 0;
                    }

                    @include media-breakpoint-down(md) {
                        padding: 0;
                    }

                    button {
                        padding: 0;
                    }
                }

                .custom-select {
                    .selected-option {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        padding-right: 35px;
                    }
                }

                .coupons-and-promos {
                    margin-bottom: 0;
                    padding-bottom: 20px;

                    @include media-breakpoint-down(md) {
                        border: none;
                    }

                    .coupon-price-adjustment {
                        border-radius: unset;
                        border: 1px solid $ctd-secondary-5;
                        padding: 10px;
                        margin-top: 10px;
                    }

                    .coupon-code,
                    .coupon-promotion-relationship {
                        font-family: $btn-ffamily;
                        font-weight: $font-weight-medium;
                        font-size: $base-font - 3px;
                        line-height: 16px;
                        padding-left: 0;

                        .coupon-not-applied {
                            color: $ctd-dark-red;
                            font-size: $base-font - 3px;
                        }

                        .coupon-applied {
                            color: $ctd-primary-2;
                            font-size: $base-font - 3px;
                        }

                        .coupon-promotion-relationship {
                            font-weight: normal;
                        }

                        button {
                            padding: 0;
                        }
                    }
                }

                .ship-rate-form {
                    @include media-breakpoint-down(md) {
                        border-top: 2px solid $ctd-secondary-5;
                        padding-top: 20px;
                    }

                    .estimate-ship-form {
                        border-top: 2px solid $ctd-secondary-5;
                        padding-top: 20px;

                        @include media-breakpoint-down(md) {
                            border: none;
                            padding: 0;
                        }
                    }
                }

                .top-shipping-cost {
                    border-top: 2px solid $ctd-secondary-5;
                    margin-bottom: 20px;
                }

                .promo-code-form {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }

                    .form-group {
                        padding-bottom: 0;
                    }
                }

                .order-discount {
                    p {
                        color: $ctd-primary-2;
                    }
                }

                .font-medium-cart {
                    p {
                        font-weight: $font-weight-medium;
                        margin-bottom: 13px;
                    }

                    @include media-breakpoint-down(md) {
                        .f4-black {
                            padding: 0;
                        }

                        strong {
                            font-weight: $font-weight-medium;
                        }
                    }
                }

                .checkout-continue {
                    margin-top: 23px;

                    @include media-breakpoint-down(md) {
                        left: 0;
                        background-color: rgba(255, 255, 255, 0.95);
                        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                        position: fixed;

                        div {
                            padding: 10px 0;
                        }
                    }
                }
            }

            .line-item-attributes,
            .edit,
            .move,
            .line-item-price-info,
            .quantity-label,
            .update {
                font-family: $btn-ffamily;
                font-size: $base-font - 3px;
                color: $ctd-secondary-1;
                line-height: 16px;
            }

            .line-item-price-info {
                margin-bottom: 3px;
            }

            .line-item-attributes {
                @include media-breakpoint-down(md) {
                    margin-bottom: 3px;
                }
            }

            .edit,
            .move {
                text-decoration: none;

                @include media-breakpoint-up(md) {
                    margin-right: 20px;
                }
            }

            .pricing {
                font-family: $btn-ffamily;
                font-weight: $font-weight-bold;
                font-size: $base-font + 4px;
                color: $ctd-primary-1;
                line-height: 24px;
            }

            .remove-product {
                background-color: $ctd-secondary-7;
                padding: 11px;

                @include media-breakpoint-down(md) {
                    padding: 0 5px 12px 12px;
                    background: transparent;
                }
            }
        }
    }

    .cart-recommendation {
        padding-bottom: 3.8%;

        @include media-breakpoint-down(md) {
            padding: 0 0 12%;
        }

        @include media-breakpoint-down(xs) {
            padding: 0 0 22%;
        }

        .recommendation-heading {
            text-align: center;
            margin-top: 3%;
        }

        .homepage-product-listing,
        .product-last-visiting {
            .recommend-products {
                padding: 0;
                margin: 6px 13px;

                @include media-breakpoint-down(md) {
                    margin: 6px 11px;
                }
            }

            .product-tile {
                .image-container {
                    .product-image {
                        margin: 0 3px;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            .slick-arrow {
                right: -13px;

                &.slick-prev {
                    left: -13px;
                }
            }
        }
    }

    .list-message,
    .low-message,
    .savings-message {
        display: none;
    }

    .savings-price {
        .savings {
            .value,
            .saving-percentage {
                color: $ctd-primary-2;
                font-weight: $font-weight-medium;
                font-size: $base-font;
            }
        }
    }

    .bypass-ffldealer-selection {
        .bell-icon {
            vertical-align: middle;
        }

        .bypass-message {
            vertical-align: middle;
            margin-left: 4px;

            .bypass-firearm-message {
                display: inline-block;
            }

            .select-dealer {
                cursor: pointer;
            }
        }

        .select-ffl-dealer {
            text-decoration: underline;
        }
    }
}

//fix for SFRA height issue fro select box
select.form-control:not([size]):not([multiple]) {
    height: auto;
}

@include media-breakpoint-down(md) {
    .shipAddress {
        display: none !important;
    }
}
