@import "variables";
@import "bootstrap/scss/mixins";

/* Page class name in static pages */
$pagenames: "contact-us" contact-us,
    "rma-request" rma-request,
    "faqs" faqs,
    "our-story" our-story,
    "our-guarantee" our-guarantee,
    "shipping-info" shipping-info,
    "return-policy" return-policy,
    "privacy-policy" privacy-policy,
    "terms" terms,
    "shipping" shipping;

.customer-service-page {
    .inner-container {
        max-width: 1088px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    @each $pagename in $pagenames {
        &.#{nth($pagename, 1)} {
            .primary-content {
                .left-nav-links {
                    li {
                        &.#{nth($pagename, 2)} {
                            a {
                                color: $ctd-primary-1;
                                position: relative;
                                font-weight: 600;

                                &::after {
                                    content: "";
                                    border-bottom: 2px solid $ctd-primary-1;
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    bottom: 1px;
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .row.justify-content-between {
        @include media-breakpoint-down(md) {
            margin-right: -12px;
            margin-left: -12px;
        }
    }

    .page-breadcrumb {
        .breadcrumb {
            border-bottom: 1px solid $ctd-secondary-5;
            border-radius: 0;
            margin-bottom: 0;
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font - 1px;
            line-height: 18px;
            padding: {
                left: 0;
                right: 0;
                bottom: 8px;
            }

            .breadcrumb-item {
                &:last-child {
                    color: $ctd-secondary-3;
                }

                &::before {
                    color: $ctd-secondary-1;
                }
            }
        }
    }

    .secondary-content {
        @include media-breakpoint-up(lg) {
            order: 2;
        }
    }

    .secondary-content,
    .primary-content {
        margin-top: 30px;

        @include media-breakpoint-down(md) {
            padding-left: 12px;
            padding-right: 12px;
        }
    }

    .left-nav-heading {
        color: $ctd-secondary-1;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        margin-bottom: 11px;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            padding-top: 20px;
            border-top: 1px solid $ctd-secondary-5;
        }
    }

    .left-nav-links {
        li {
            margin-bottom: 5px;

            a {
                color: $ctd-secondary-1;
                font-size: 15px;
                line-height: 19px;
            }
        }
    }

    .content-para {
        p {
            font-size: 16px;
            line-height: 19px;
            color: $ctd-secondary-1;

            a {
                text-decoration: underline;
            }
        }
    }

    .rma-content,
    .contact-content {
        padding-top: 14px;
    }

    .rma-form,
    .contact-form {
        border: 1px solid $ctd-secondary-5;

        @include media-breakpoint-up(lg) {
            max-width: 513px;
        }

        .form-fields {
            padding: 20px;
        }

        .submit-button {
            margin: 15px 0 10px;
        }
    }

    .form-heading {
        font-size: 17px;
        font-weight: 500;
        line-height: 20px;
        color: $ctd-secondary-1;
        background-color: $ctd-secondary-7;
        padding: 20px 30px 22px;
        text-transform: uppercase;
    }

    .all-fields {
        color: $ctd-secondary-1;
        font-size: 13px;
        line-height: 14px;
    }

    .form-group {
        margin-bottom: 20px;

        textarea {
            height: 143px;
            resize: none;
        }
    }

    .rma-success-main {
        margin-top: 20px;

        .send-tofriend-section {
            margin-top: 30px;

            a {
                &.button-primary {
                    color: $ctd-primary-4;
                    text-decoration: none;
                }
            }
        }
    }
}

//Send a Friend page

.send-a-friend-wrapper,
.send-a-friend-success {
    .send-content-center {
        max-width: 554px;
        margin: 0 auto;

        .send-tofriend-section {
            a {
                &.continue-shopping-link {
                    color: $ctd-primary-4;
                    text-decoration: none;

                    &:hover {
                        color: $ctd-primary-4;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .send-a-friend-header {
        margin: 30px 0;
    }

    .product-name-image {
        margin-bottom: 30px;
        display: inline-block;
        width: 100%;

        .product-primary-image {
            margin-right: 10px;
            width: 102px;
            height: 102px;
        }

        .product-name {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font + 1px;
            font-weight: $font-weight-medium;
            line-height: 20px;
            display: inline-block;
            width: 79%;

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    .send-a-friend-form {
        border: 1px solid $ctd-secondary-5;
        padding: 30px 20px 35px;

        .required-indicator {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font - 3px;
            line-height: 14px;
        }

        .section-heading {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font + 1px;
            font-weight: 500;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }

        .section-detail {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font;
            line-height: 19px;
        }

        .messages-section {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font;
            line-height: 19px;
        }

        .inbuilt-messages {
            margin-bottom: 8px;
            display: inline-block;

            .custom-checkbox {
                margin-bottom: 12px;

                .span-checkbox {
                    z-index: -1;
                }
            }

            .checkbox-message {
                margin-left: 8px;
            }
        }

        .custom-message {
            textarea {
                border: 1px solid $ctd-secondary-4;
                border-radius: 0;
                margin-bottom: 20px;
                height: 143px;
                color: $ctd-secondary-3;
                font-family: $barlow;
                font-size: $base-font;
                line-height: 19px;
            }
        }
    }

    .send-a-friend-success-header {
        margin: 30px 0 12px;
    }

    .send-a-friend-success-message {
        margin-bottom: 35px;
    }
}
