@import "variables";
@import "bootstrap/scss/mixins";

.emailpage-container {
    margin-bottom: 60px;

    .signup-content {
        .all-fields {
            color: $ctd-secondary-1;
            font-size: $base-font - 3px;
            line-height: 14px;
            margin-bottom: 4px;
        }

        .signup-form {
            margin: 0 auto 20px;

            @include media-breakpoint-up(lg) {
                max-width: 450px;
            }

            @include media-breakpoint-down(md) {
                padding: 0 12px;
            }
        }

        .form-group {
            margin-bottom: 20px;
        }

        .email-fields {
            .form-group {
                @include media-breakpoint-up(lg) {
                    width: 50%;

                    &:first-child {
                        margin-right: 10px;
                    }

                    &:last-child {
                        margin-left: 10px;
                    }
                }
            }
        }

        .submit-section {
            padding-top: 15px;
        }
    }

    .bottom-content {
        color: $ctd-secondary-1;
        font-size: $base-font;
        line-height: 19px;

        a {
            color: $ctd-secondary-1;
        }
    }

    .para {
        margin: {
            top: 12px;
            bottom: 20px;
        }
    }
}
