@import "variables";
@import "bootstrap/scss/mixins";

.gift-page-bottom-section {
    margin-top: -4rem;
    margin-bottom: 60px;
    position: relative;

    @include media-breakpoint-down(md) {
        margin-top: 0;
    }

    .inner-bottom-section {
        max-width: 820px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-align: center;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            display: inline-block;
        }
    }

    .gift-image-section {
        box-shadow: 0 1px 5px 0 rgba(34, 34, 34, 0.24);
    }

    .gift-section-right {
        margin-right: 10px;

        @include media-breakpoint-down(md) {
            margin-right: 12px;
            margin-left: 12px;
            margin-top: 30px;
        }

        &.gift-section-left {
            margin-left: 10px;
            margin-right: 0;

            @include media-breakpoint-down(md) {
                margin-right: 12px;
                margin-left: 12px;
            }
        }
    }

    .gift-content-section {
        margin-top: 20px;

        .sub-heading {
            margin-top: 2px;
        }

        button {
            margin-top: 25px;
        }
    }
}

.gift-page-check-balance {
    .inner-check-balance {
        max-width: 820px;
        margin: 0 auto 60px;
        border: 1px solid $ctd-secondary-5;
        padding: 30px 50px;

        @include media-breakpoint-down(md) {
            margin: 0 12px 60px;
            padding: 30px;
        }
    }

    .heading {
        margin-bottom: 20px;
    }

    .required-indicator {
        font-size: $base-font - 3px;
        line-height: 14px;
        color: $ctd-secondary-1;
        margin-bottom: 4px;
    }

    .form-fields {
        max-width: 340px;
        margin: 0 auto;

        .form-group {
            margin-bottom: 20px;

            &.gift-pin {
                width: 50%;
                margin-right: 20px;
                display: inline-block;
                max-width: 144px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    max-width: 100%;
                    margin-right: 0;
                }
            }
        }

        .button-text {
            margin-top: 15px;
            display: inline-block;
            width: 100%;
        }

        .available-balance {
            color: $ctd-secondary-1;
            font-size: $base-font;
            line-height: 19px;
            margin-top: 30px;

            .value {
                margin-left: 3px;
            }

            .error {
                color: $ctd-dark-red;
                margin-top: 2px;
                font-size: $base-font - 5px;
                line-height: 13px;
                text-transform: uppercase;
                font-weight: $font-weight-bold;
                text-align: left;
            }
        }
    }
}
