@import "variables";
@import "~base/login";

.login-banner {
    h1 {
        &.page-title {
            font-size: $base-font + 39px;

            @include media-breakpoint-down(sm) {
                font-size: $base-font + 22px;
            }
        }
    }
}

.modal-content {
    .reset-password-form {
        .send-email-btn {
            .button-content {
                background: $ctd-primary-1;
                border: 1px solid $ctd-primary-1;
            }
        }
    }
}

.resetpasswordpage {
    margin: 2% 0;

    h1.page-title {
        font-size: 55px;
        @include media-breakpoint-down(md) {
            font-size: 38px;
        }
    }
    @include media-breakpoint-down(md) {
        margin: 5% 0;
    }
    @include media-breakpoint-down(xs) {
        .btn-holder {
            .reset-pw-btn {
                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
