@import "variables";
@import "bootstrap/scss/mixins";
@import "reviews";

.homepage-product-listing,
.product-last-visiting {
    .slick-slide {
        margin: 6px 11px;
        box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);
        position: relative;
        height: 100%;

        @include media-breakpoint-down(md) {
            margin: 5px;
        }
    }

    .product-tile {
        box-shadow: none;
        margin-bottom: 0;

        .image-container {
            .product-image {
                margin: 0 2px;
            }
        }

        .tile-body {
            padding-top: 0;
            padding-bottom: 13px;

            .pdp-link {
                padding: 0 10px;

                a {
                    &.link {
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    .slick-arrow {
        &.slick-prev,
        &.slick-next {
            top: 45%;
        }

        &.slick-next {
            right: -1%;
        }

        &.slick-prev {
            left: -1%;
        }
    }
}

.recommendation-heading,
.slotTitle {
    .recommend-title {
        margin: 0;
        display: inline-block;
    }
}

.home-recommProduct-tiles,
.home-topProduct-tiles {
    padding: 0 10px 0 5px;

    @include media-breakpoint-down(md) {
        padding: 0 10px;
    }

    .slick-arrow {
        &.slick-prev {
            left: -5px;
        }

        &.slick-next {
            right: -8px;
        }
    }

    .recommendation-heading {
        @include media-breakpoint-up(md) {
            padding-left: 10px;
        }
    }
}
