@import "~base/search";
@import "variables";
@import "base_elements";
@import "recommendation";
@import "reviews";

.search-nav {
    max-width: 1610px;
    margin: 0 auto;
    border: 0;
}

//Category Banner Styles
.category-banner {
    height: auto;
    background-position: unset;
    margin: 0 0 25px;
    background-size: cover;

    &.no-banner {
        .cat-ban-text * {
            color: $ctd-secondary-1;
        }
    }

    .header.page-title {
        position: static;
        background-color: transparent;
        padding: 0;
        margin: 0;
        font-size: $base-font + 39px;

        @include media-breakpoint-down(md) {
            font-size: $base-font + 22px;
        }
    }

    .cat-ban-text {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        padding: 3.6% 0;
        max-width: 1076px;

        @include media-breakpoint-down(md) {
            width: 90%;
            padding: 7% 0;
        }

        .b3-white {
            text-align: left;
            margin: 12px 0 0;

            @include media-breakpoint-down(md) {
                text-align: center;
            }

            .read-more {
                @include media-breakpoint-down(md) {
                    font-size: $base-font;
                    font-weight: $font-weight-bold;
                    text-decoration: underline;
                }
            }
        }

        .read-more-content {
            @include media-breakpoint-up(lg) {
                margin: {
                    left: 10px;
                    right: 10px;
                }
            }
        }
    }

    .secondaryNavLinks {
        background: transparent;
        margin: auto;
        background-color: $ctd-secondary-2;
        opacity: 0.85;

        .secondary-links {
            padding: 0;
            max-width: 1460px;
            background: transparent;
            opacity: 1;

            .content-links {
                a {
                    color: $ctd-secondary-5;
                    font-size: $base-font - 1px;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 2px;
                        line-height: 17px;
                        letter-spacing: 0.3px;
                    }
                }
            }
        }
    }

    .content-links {
        padding: 1.72% 0;

        @include media-breakpoint-down(md) {
            padding: 3% 11px;

            &:last-child {
                padding-right: 11px;
            }
        }
    }
}

.search-results {
    @include media-breakpoint-down(md) {
        padding: 0;
    }

    .product-search-results {
        padding: 0 15px;

        @include media-breakpoint-up(lg) {
            padding: 0;
        }
    }

    .result-count {
        padding: 15px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        &.refinement-bar {
            padding-left: 10px;

            @include media-breakpoint-down(md) {
                padding: 0 5px;
                width: 100%;
            }
        }
    }

    .container {
        padding-bottom: 5%;

        @include media-breakpoint-down(md) {
            padding-bottom: 40px;
        }
    }

    &.search-page {
        .search-nav {
            border-bottom: 1px solid $ctd-secondary-5;

            .category-breadcrumb {
                @include media-breakpoint-up(lg) {
                    padding-left: 0;
                }
            }
        }

        .noresult-wrapper {
            @include media-breakpoint-up(lg) {
                margin-top: 20px;
            }
        }
    }
}

.noresult-wrapper {
    @include media-breakpoint-down(md) {
        padding: 0 11px;
        margin-bottom: 40px;
    }

    .result-count .resultconutitem .link {
        color: $ctd-secondary-3;
    }
}

.nav-tabs {
    .nav-link {
        font-family: $barlow;
        font-size: $base-font + 6px;
        font-weight: $font-weight-medium;
        line-height: 26px;
        letter-spacing: 1px;
    }
}

.search-tips {
    ul {
        padding-left: 40px;

        li {
            list-style-type: disc;
        }
    }
}

.result-count {
    padding: 15px 0;

    &.refinement-bar {
        padding: 0;
        position: static;
        height: auto;
        box-shadow: none;
        display: block !important;
    }
}

//Category Landing Page
.cat-inner-container {
    .row {
        .primary-content {
            order: 2;

            @include media-breakpoint-down(md) {
                .recommendation-heading,
                .slotTitle {
                    text-align: center;
                    margin-bottom: 10px;

                    .shop-all-link {
                        display: block;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                order: 0;
                padding: 0;

                .right-content {
                    padding: 0;

                    &.recommendation-catalog {
                        padding: 0 10px;
                    }
                }
            }

            .recommendation-heading {
                color: $ctd-secondary-2;
                padding-bottom: 12px;
                border-bottom: 2px solid $ctd-secondary-5;
                @include media-breakpoint-down(md) {
                    text-align: center;
                    margin: 0;
                }

                .shop-all-link {
                    margin-top: 10px;
                    color: $ctd-secondary-1;
                }
            }

            .homepage-product-listing,
            .product-last-visiting {
                margin-bottom: 4%;

                &.row {
                    margin: 0;
                }

                @include media-breakpoint-down(md) {
                    margin-bottom: 13%;
                }

                .col-6 {
                    max-width: 100%;
                }
            }

            .slick-track {
                display: flex;
                justify-content: center;
            }

            .subcategory-cover-content {
                padding: 0 6.7%;
                margin-bottom: 40px;

                @include media-breakpoint-down(md) {
                    padding: 0;
                    margin-bottom: 10%;
                }

                .row {
                    margin: 0;
                }

                a:hover {
                    text-decoration: none;
                }

                .category-item {
                    max-width: 100%;

                    @include media-breakpoint-down(md) {
                        padding: 0 8px;
                    }
                }

                .category-tile {
                    box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);
                    margin-top: 2px;

                    .img-fluid {
                        margin: auto;
                    }

                    &::before {
                        background: none;
                    }

                    .shop-now-cat {
                        display: none;
                        font-family: $barlow;
                        font-weight: $font-weight-bold;
                        font-size: $base-font;
                    }

                    &:hover {
                        @include media-breakpoint-up(md) {
                            &::before {
                                background-color: $ctd-primary-1 !important;
                                opacity: 0.8;
                                left: 0;
                            }

                            .shop-now-cat {
                                display: block;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: $ctd-primary-4;
                            }
                        }
                    }

                    .shop-now-cat {
                        @include media-breakpoint-down(md) {
                            font-size: $base-font - 4px;
                            display: block;
                            color: $ctd-secondary-1;
                            padding-bottom: 10px;
                            text-align: center;
                        }

                        label {
                            margin: 0;
                        }
                    }

                    h3 {
                        position: static;
                        color: $ctd-secondary-1;
                        text-align: center;
                        font-family: $barlow;
                        font-size: $base-font + 4px;
                        font-weight: $font-weight-bold;
                        margin: 0;
                        padding: 10px 0 20px;
                        text-transform: uppercase;
                        width: 100%;

                        @include media-breakpoint-down(md) {
                            font-size: $base-font - 1px;
                            padding-bottom: 3px;
                        }
                    }
                }
            }
        }
    }

    .secondary-content {
        .left-content {
            width: 100%;
            @include media-breakpoint-down(md) {
                border-top: 2px solid $ctd-secondary-5;
            }
        }
    }

    .refinement {
        margin-top: 12px;

        @include media-breakpoint-down(md) {
            margin-bottom: 15%;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 8px;
            }

            a {
                color: $ctd-secondary-1;
            }
        }

        #category-level-1 {
            font-weight: $font-weight-bold;
        }

        #category-level-2 {
            font-size: $base-font - 1px;
        }
    }
}

//Filters

.refinements-filter-heading {
    padding: 0 0 5px 12px;
    border-bottom: 1px solid $ctd-secondary-5;

    @include media-breakpoint-down(md) {
        padding: 20px 12px 10px;
        margin: 0;

        .reset {
            display: block;
            border: 0;
            padding: 0;
        }

        .secondary-bar {
            margin: 0;
        }
    }
}

.refinement {
    border: 0;
    margin-bottom: 0;

    .card-header {
        border-bottom: 0;
        padding: 15px 12px;
        cursor: pointer;

        @include media-breakpoint-down(md) {
            font-size: $btn-fsize;
            line-height: normal;

            &::after {
                content: "";
            }

            button {
                &.close {
                    font-size: $base-font;
                    font-weight: $font-weight-medium;

                    @include media-breakpoint-down(md) {
                        font-size: $btn-fsize;
                    }
                }
            }
        }
    }

    &.card {
        border-bottom: 1px solid $ctd-secondary-5;

        .card-header {
            &::after {
                content: "";
            }
        }

        .card-body,
        .minus {
            display: none;
        }

        .minus {
            margin-top: 5px;
        }

        &.active {
            .card-body,
            .minus {
                display: block;
            }

            .plus {
                display: none;
            }
        }
    }

    .card-body {
        padding: 0 1.25rem 15px 12px;

        .refinement-showmore-button,
        .refinement-showless-button {
            font-family: $btn-ffamily;
            font-size: $btn-fsize - 1px;
            font-weight: $btn-fweight;
            padding-top: 25px;

            span {
                cursor: pointer;
            }
        }

        .content {
            display: block;

            @include media-breakpoint-down(md) {
                padding-top: 0;

                li {
                    max-width: 100%;
                }
            }
        }

        .categories-content {
            padding: 0;

            span {
                font-family: $btn-ffamily;
                font-size: $btn-fsize;
                line-height: 19px;
                color: $ctd-secondary-1;

                &.selected {
                    font-weight: bold;
                    text-decoration: underline;
                    color: $ctd-primary-1;

                    &:hover {
                        &::after {
                            display: none;
                        }
                    }
                }
            }

            li {
                margin-left: 25px;
                padding-top: 5px;
            }

            &:first-child {
                > li {
                    margin: 0;
                    padding-top: 0;
                }
            }
        }
    }
}

.filter-bar {
    @include media-breakpoint-down(md) {
        .header-bar {
            .close {
                font-size: $base-font - 1px;
            }
        }
    }

    ul {
        padding-left: 0;
    }

    li {
        &.filter-value {
            border-radius: 0;
            padding: 9px 10px 10px 9px;
            border: 1px solid $ctd-secondary-5;
            margin: 10px 20px 0 0;

            @include media-breakpoint-down(md) {
                margin: 10px 10px 0 0;
            }

            a {
                color: $ctd-secondary-1;
                font-size: $base-font - 3px;
                padding: 0;
                display: flex;
                align-items: center;
                text-decoration: none;

                span {
                    margin-left: 10px;
                }
            }

            &::after {
                content: "";
            }
        }
    }
}

.secondary-bar {
    display: inline-block;
    width: auto;
    float: left;
    padding: 0;
    margin: 10px 0 0;

    a {
        border-radius: 0;
        padding: 9px 19px 10px;
        border: 1px solid $ctd-secondary-5;
        color: $ctd-secondary-1;
        font-size: $base-font - 3px;
        display: flex;
        align-items: center;

        &:hover,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus {
            background: transparent;
            border: 1px solid $ctd-secondary-5;
            color: $ctd-secondary-1;
            box-shadow: none;
        }

        span {
            margin-left: 4px;
        }
    }
}

.filter-header {
    margin: 0;

    @include media-breakpoint-down(md) {
        .result-count {
            width: auto;
            font-size: $btn-fsize;
        }

        .header-bar {
            padding: 18px 16px 19px 12px;

            .result-count .link {
                color: $ctd-secondary-3;
            }
        }
    }
}

.result-count {
    padding-bottom: 0;
    display: inline-block;
    width: 100%;
    @include media-breakpoint-down(md) {
        padding: 0;
        width: 100%;
    }

    .resultconutitem {
        color: $ctd-secondary-3;
        font-size: $base-font - 3px;

        @include media-breakpoint-down(md) {
            font-size: $base-font - 3px;
            text-align: center;
            display: block;
        }
    }
}

.refinement-bar {
    @include media-breakpoint-down(md) {
        z-index: 17;
        width: 84.5%;

        .refinements {
            padding: 0 15px;
        }
    }

    .active {
        .card-header {
            padding-bottom: 5px;

            @include media-breakpoint-down(md) {
                padding-bottom: 10px;
            }
        }
    }

    .refinements {
        @include media-breakpoint-up(md) {
            padding-bottom: 60px;
        }
    }
}

.search-results {
    .filter-results {
        font-family: $barlow;
        font-size: $btn-fsize;
        font-weight: $btn-fweight;
        border: 1px solid $ctd-primary-1;
        background: transparent;
        color: $ctd-primary-1;
        height: 44px;
        border-radius: 0;

        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus {
            border: 1px solid $ctd-primary-1;
            background: transparent;
            color: $ctd-primary-1;
            box-shadow: none;
        }
    }

    .product-grid {
        padding-top: 20px;

        @include media-breakpoint-down(md) {
            padding-top: 15px;
        }
    }

    .tab-content {
        width: 100%;
    }

    .category-name {
        display: inline-block;
        margin: 0 5px 0 10px;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &.search-page {
        .category-name {
            display: none;
        }

        .grid-header {
            @include media-breakpoint-up(lg) {
                padding-left: 10px;
            }
        }
    }

    .custom-select {
        margin-top: 5px;

        @include media-breakpoint-down(md) {
            margin-top: 0;
            font-size: $btn-fsize;
        }
    }

    .grid-header {
        margin-bottom: 0;

        @include media-breakpoint-down(md) {
            margin-top: 11px;
        }
    }

    .sort-selection {
        padding: 0;
        margin-bottom: 21px;

        @include media-breakpoint-down(md) {
            width: 47%;
            display: inline-block;
            float: left;
            margin-bottom: 2%;
        }
    }

    .mobile-filter {
        @include media-breakpoint-down(md) {
            display: inline-block;
            float: right;
            margin-top: 0;
            width: 47%;
            padding: 0;
        }
    }

    .left-content-plp {
        margin-top: 0;

        @include media-breakpoint-down(md) {
            padding: 0;
            margin-top: 5px;
        }

        .result-count {
            max-width: 100%;
        }

        .resultconutitem {
            color: $ctd-secondary-3;
            font-size: $base-font - 3px;
            padding-left: 0;

            @include media-breakpoint-down(md) {
                font-size: $base-font - 1px;
                text-align: center;
                display: block;
            }
        }
    }

    .right-content-plp {
        padding-right: 8%;
        @include media-breakpoint-down(md) {
            padding: 0 5px;
            margin-top: 14px;

            .refinement-bar {
                height: 100%;
                background-color: $white;
                box-shadow: 0 0.313em 0.938em rgba(0, 0, 0, 0.5);
                display: none !important;
                left: 0;
                position: fixed;
                top: 0;

                &.refine-active {
                    display: block !important;
                }
            }
        }

        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }
}

//AR-15 build
.ar-build {

    @include media-breakpoint-down(md) {
        padding-top: 35px;
    }

    .refinement-link {
        .b3-white {
            font-size: $btn-fsize;
        }
    }

    .span-checkbox {
        z-index: -1;
    }

    .ar15-image-section {
        width: 84%;
        margin: auto;
        text-align: center;

        @include media-breakpoint-down(md) {
            width: 100%;
        }

        .h2-grey-1 {
            padding: 2% 0;

            @include media-breakpoint-down(md) {
                padding: 25px 0 30px;
            }
        }
    }

    .primery-content {
        padding-top: 10px;

        @include media-breakpoint-down(md) {
            padding-top: 60px;
        }

        .left-content {
            ul {
                li {
                    margin-bottom: 6px;
                }
            }
        }
    }

    .ar15-content {
        position: relative;
        padding-top: 4%;

        @include media-breakpoint-down(md) {
            padding-top: 90px;
            width: 100%;
            display: inline-block;
        }

        .product-tile {
            .image-container {
                overflow: visible;
            }
        }

        .level4-checkbox-1,
        .level4-checkbox-2,
        .level4-checkbox-3 {
            position: absolute;
            top: 0;
            z-index: 111;
        }

        .level4-checkbox-1 {
            left: 29%;

            @include media-breakpoint-down(md) {
                left: 23%;
            }

            @include media-breakpoint-down(xs) {
                left: 9%;
            }
        }

        .level4-checkbox-2 {
            left: 45%;

            @include media-breakpoint-down(md) {
                left: 60%;
            }

            @include media-breakpoint-down(xs) {
                left: 55%;
            }
        }

        .level4-checkbox-3 {
            left: 61%;

            @include media-breakpoint-down(md) {
                left: 42%;
                top: 35px;
            }

            @include media-breakpoint-down(xs) {
                left: 34%;
            }
        }
    }

    .custom-checkbox {
        .b1-black {
            font-weight: normal;
            vertical-align: top;
            display: inline-block;
            margin-left: 7px;
        }
    }

    .top-products {
        .outer-tiles {
            max-width: 100%;
            padding: 0 5px 0 20px;
            margin: 2px 0 10px;

            @include media-breakpoint-down(md) {
                padding: 0 8px;
            }

            .product {
                box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);
                position: relative;
            }
        }
    }

    .product-tile {
        .image-container {
            a:not(.quickview) {
                .tile-image {
                    width: 200px;
                    height: 200px;

                    @include media-breakpoint-down(md) {
                        width: 146px;
                        height: 146px;
                    }
                }
            }
        }
    }

    .levelFiveGrid {
        display: flex;
        align-items: center;
        margin-bottom: 3.5%;

        @include media-breakpoint-down(md) {
            display: inline-block;
            width: 100%;
            border-bottom: 2px solid $ctd-secondary-5;
            padding: 25px 0 60px;
            margin: 0;

            .col-md-3,
            .top-products {
                padding: 0;
                text-align: center;
            }

            .top-products {
                margin-top: 35px;
            }
        }

        .left-content-tile {
            padding-left: 0;

            .content-asset {
                p {
                    margin-bottom: 35px;
                }
            }
        }

        .top-products {
            padding-right: 0;
        }
    }

    .category-level-content {
        &:first-child {
            border-top: 2px solid $ctd-secondary-5;
            padding-top: 30px;

            @include media-breakpoint-down(md) {
                padding-top: 0;
            }
        }
    }

    .category-level4 {
        width: 100%;
    }

    .secondary-content {
        @include media-breakpoint-down(md) {
            padding: 0 10px;
        }
    }
}

.category-level-2 {
    &.selected {
        > a {
            font-weight: $font-weight-medium;
            display: inline-block;
            margin-bottom: 6px;
        }

        ul {
            margin-left: 20px;

            .category-level-3 {
                &.selected {
                    a {
                        color: $ctd-primary-1;
                        font-weight: $font-weight-bold;
                        text-decoration: underline;

                        &:hover {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-resultfound-page {
    margin: 2% 0;

    .error {
        &.continue-shopping {
            margin: 0;
        }
    }
}
