@import "variables";
@import "bootstrap/scss/mixins";

.sitemap-wrapper {
    .h2-black {
        margin: 15px 0;
    }

    .sitemap-categories {
        margin-bottom: 20px;

        .single-card-ul {
            li {
                span {
                    display: inline-block;

                    a {
                        color: $ctd-secondary-2;
                    }

                    &.level-one {
                        letter-spacing: 0.6px;
                        line-height: 19px;
                        font-weight: 700;
                    }

                    &.level-two {
                        line-height: 22px;
                        font-weight: 500;
                    }

                    &.level-one,
                    &.level-two {
                        margin-bottom: 10px;
                        text-transform: uppercase;
                    }

                    &.level-three {
                        margin-bottom: 5px;
                        font-size: $base-font - 2px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
