@import "variables";
@import "~base/storeLocator";
@import "storeLocator/storeLocator";

.map-canvas {
    border-radius: 0;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
        display: none;
    }

    .gm-style-iw {
        &.gm-style-iw-c {
            border-radius: 0;
            padding: 15px !important;
            box-shadow: 0 3px 7px 0 rgba(34, 34, 34, 0.24);

            button {
                display: none !important;
            }

            address {
                margin-bottom: 0;

                .store-map,
                .store-hours,
                .storelocator-phone {
                    color: $ctd-secondary-1;
                    font-family: 'Barlow', sans-serif;
                    font-size: $base-font;
                    line-height: 19px;
                }

                .store-map {
                    text-decoration: underline;
                }

                .store-hours {
                    margin-top: 20px;
                }
            }

            .store-name {
                color: $ctd-secondary-1;
                font-family: 'Barlow', sans-serif;
                font-size: $base-font + 1px;
                line-height: 20px;
                font-weight: $font-weight-medium;
                margin-bottom: 10px;
            }
        }
    }
}
