@import "../variables";
@import "~base/product/detail";
@import "~instorepickup/product/pdpInstoreInventory";
@import "../recommendation";
@import "../reviews";

/* Product set page */
.pdp-maxwidth {
    max-width: 1314px;
    margin: 0 auto;
}

.container {
    &.product-set-detail {
        margin-top: 0;

        .product-number {
            font-size: $base-font + 2px;
            color: $ctd-secondary-1;
        }

        @include media-breakpoint-down(md) {
            .product-name {
                border-bottom: none;
            }
        }

        .primary-images {
            width: 58%;

            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }

        .setcontain-message {
            font-size: $base-font + 4px;
            font-family: $barlow;
            line-height: 26px;
            font-weight: normal;
            color: $ctd-secondary-1;
        }

        .tiered {
            margin-top: 0;
        }

        .description,
        .details {
            font-size: $base-font + 4px;
            font-family: $barlow;
            line-height: 26px;
            font-weight: normal;
            color: $ctd-secondary-1;
        }

        .description-and-detail {
            @include media-breakpoint-down(md) {
                margin-top: 5px;
            }
        }

        .prices-add-to-cart-actions {
            .price {
                text-align: left;

                @include media-breakpoint-down(md) {
                    text-align: center;
                }
            }
        }

        &.pdp-maxwidth {
            max-width: 1476px;
        }

        .breadcrumb {
            padding-left: 15px;
            padding-bottom: 62px;

            @include media-breakpoint-down(md) {
                padding-bottom: 10px;
            }
        }

        .product-breadcrumb {
            @include media-breakpoint-down(md) {
                padding: 0;

                .breadcrumb {
                    li {
                        &:last-child {
                            display: block;
                        }
                    }
                }
            }
        }

        .product-set-name {
            padding-bottom: 22px;
            border-bottom: 2px solid $ctd-secondary-5;
            margin-bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media-breakpoint-down(md) {
                padding-bottom: 30px;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }

        .productsetname {
            padding: 0;
            margin: 0;
        }

        .product-set-max-width {
            max-width: 1334px;
            margin: 0 auto;
            margin-right: 0;
            padding: 60px 0;
            border-bottom: 1px solid $ctd-secondary-5;

            @include media-breakpoint-down(md) {
                max-width: 100%;
                padding: 30px 0;
            }
        }

        .set-items {
            .product-name {
                margin-bottom: 18px;

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                }
            }

            .prices {
                padding: 20px 0 35px;

                .sales {
                    color: $ctd-secondary-1;
                    font-family: $barlow;
                    font-size: $base-font + 4px;
                    line-height: 24px;
                    font-weight: normal;

                    .value {
                        color: $ctd-primary-1;
                        font-family: $barlow;
                        font-size: $base-font + 4px;
                        line-height: 24px;
                        font-weight: $font-weight-bold;
                    }
                }
            }

            .purchase-details {
                border-top: 1px solid $ctd-secondary-5;
                margin-top: 20px;
                padding: 20px 0 0;
            }
        }

        .set-item {
            &:last-child {
                .product-set-max-width {
                    border-bottom: 0;

                    @include media-breakpoint-down(md) {
                        padding: 30px 0 0;
                    }
                }
            }
        }

        .set-footer {
            border-top: 1px solid $ctd-secondary-5;

            .bundle-footer {
                padding-top: 30px;

                .add-to-cart-global {
                    margin-left: 30px;

                    @include media-breakpoint-down(md) {
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }

        .prices-add-to-cart-actions {
            display: flex;
            align-items: center;

            .price {
                .starting {
                    margin-bottom: 0;
                }
            }
        }

        .view-full-details {
            color: $ctd-secondary-1;
            font-family: $barlow;
            font-size: $base-font;
            line-height: 19px;
            padding-top: 35px;
        }

        .bundle-footer {
            .cart-and-ipay {
                margin-left: 20px;
            }

            .starting {
                color: $ctd-primary-1;
                font-family: $barlow;
                font-size: $base-font + 4px;
                font-weight: $font-weight-bold;
                line-height: 24px;
                margin-right: 8px;

                .label {
                    color: $ctd-secondary-1;
                    font-weight: normal;
                    margin-right: 8px;
                }
            }

            &.prices-height {
                border-top: 1px solid $ctd-secondary-5;
                padding-top: 30px;

                .prices-add-to-cart-actions {
                    justify-content: flex-end;

                    @include media-breakpoint-down(md) {
                        display: inline-block;

                        .price {
                            padding-bottom: 20px;
                        }

                        .cart-and-ipay {
                            margin: 0;
                            padding: 0;

                            .add-to-cart-global {
                                margin: 0;
                                width: 100%;
                            }
                        }
                    }
                }

                @include media-breakpoint-down(md) {
                    padding-top: 15px;
                    padding-bottom: 18px;
                    border-top: 0;
                    box-shadow: 0 -2px 4px 0 rgba(34, 34, 34, 0.24);
                }
            }
        }

        .Prop-message {
            margin-top: 60px;
        }

        .product-set-container {
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }

        .price-name-div {
            @include media-breakpoint-down(md) {
                padding: 0;
            }
        }

        .cart-and-ipay {
            @include media-breakpoint-down(md) {
                position: static;
                padding: 0;

                .add-to-cart {
                    width: 100%;
                    margin: 0;
                }
            }
        }

        .prices-height {
            @include media-breakpoint-down(md) {
                bottom: 0;
            }
        }

        .pdp-qty-ship {
            .button-find-dealer {
                @include media-breakpoint-down(md) {
                    margin-top: 0;
                }
            }

            .prices-add-to-cart-actions {
                .selected-store-with-inventory {
                    @include media-breakpoint-down(md) {
                        margin-top: 0;
                    }
                }
            }
        }

        .bypass-ffldealer-selection {
            @include media-breakpoint-down(md) {
                margin-top: 0;
                margin-bottom: 20px;
            }
        }
    }
}

/* Refer a friend popup */
#referAFriendPopup {
    #sa_v5_close_popup_outer {
        display: none;
    }
}

/* PDP */
.container {
    &.product-wrapper {
        margin-top: 0;

        @include media-breakpoint-down(md) {
            padding-left: 12px;
            padding-right: 12px;
        }

        .pdp-maxwidth {
            margin-top: 3%;
        }
    }

    &.product-detail {
        @include media-breakpoint-down(md) {
            margin-bottom: 30px;
        }
    }
}

//PDP Store Inventory
#inStoreInventoryModal {
    padding: 10px !important;
}

.modal-dialog {
    &.in-store-inventory-dialog {
        max-width: 900px;

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        .hide-in-overlay {
            display: none;
        }

        .modal-content {
            border-radius: 0;
            border: 0;
        }

        .modal-header {
            padding: 20px 21px 22px 30px;
            background-color: $ctd-secondary-7;
            align-items: center;
            border: none;

            @include media-breakpoint-down(md) {
                padding-left: 12px;
            }

            .modal-title {
                font-size: $base-font + 1px;
                line-height: 20px;
                color: $ctd-secondary-1;
                font-weight: $font-weight-medium;
            }

            .close {
                padding: 0;
                margin: 0;
                opacity: 1;
            }
        }

        .modal-body {
            padding: 0 30px;

            @include media-breakpoint-down(md) {
                padding: 0 10px;
            }

            .ffl-dealer-text {
                padding: 12px 0 30px;
                font-size: $base-font;
                line-height: 19px;
                color: $darker-gray;
            }
        }

        .store-locator-container {
            .results {
                &.striped {
                    &.ps--active-y > .ps__rail-y {
                        margin-right: 15px;
                    }

                    .select-dealer-one {
                        &.hide-in-page {
                            @include media-breakpoint-up(lg) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .zip-code-div {
                @include media-breakpoint-up(lg) {
                    padding-right: 10px;
                }
            }

            .radius-div {
                @include media-breakpoint-up(lg) {
                    padding-left: 10px;
                }
            }

            .search-form {
                border-radius: 0;
                margin-bottom: 30px;
                border: 1px solid $ctd-secondary-5;

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }

                .card-body {
                    padding: 30px;

                    @include media-breakpoint-down(md) {
                        padding: 30px 20px;
                    }

                    .form-group {
                        margin-bottom: 10px;
                    }

                    .button-find-dealer {
                        margin-bottom: 0;
                        color: $ctd-secondary-2;
                        font-size: $base-font - 1px;
                        line-height: 18px;
                        font-weight: $font-weight-bold;
                        padding: 12px;
                        text-transform: uppercase;
                        border: 1px solid $ctd-secondary-2;
                        background-color: transparent;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .results-card {
                border-radius: 0;
                border: 1px solid $ctd-secondary-5;

                @include media-breakpoint-down(md) {
                    margin-bottom: 0;
                    border: 0;
                }

                .results-card-select {
                    padding: 38px 30px 30px;

                    @include media-breakpoint-down(md) {
                        border: 1px solid $ctd-secondary-5;
                        padding: 38px 20px 30px;
                    }

                    .card-header {
                        select.form-control {
                            height: 44px;
                        }
                    }
                }

                .card-body {
                    padding: 0;

                    @include media-breakpoint-down(md) {
                        border-top: 0;
                    }

                    .form-check {
                        .form-check-input {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .store-locator-no-results {
                        margin-bottom: 0;
                        padding: 14px 30px;
                        color: $ctd-light-red;
                        font-size: $base-font;
                        font-style: italic;
                        line-height: 19px;
                        border-top: 1px solid $ctd-secondary-5;

                        @include media-breakpoint-down(md) {
                            border: 1px solid $ctd-secondary-5;
                            border-top: 0;
                            padding: 10px 20px;
                        }
                    }

                    .striped {
                        > div:nth-of-type(odd) {
                            &:not(.ps__rail-y) {
                                background: none;
                            }
                        }

                        .card-body-border {
                            border-top: 1px solid $ctd-secondary-5;
                        }

                        .card-body {
                            padding: 30px;
                            border-bottom: 1px solid $ctd-secondary-5;

                            @include media-breakpoint-down(md) {
                                padding: 15px 20px;
                                border-left: 1px solid $ctd-secondary-5;
                                border-right: 1px solid $ctd-secondary-5;
                            }

                            .store-details {
                                margin-left: 0;

                                .store-name {
                                    margin-bottom: 10px;
                                    font-size: $base-font + 1px;
                                    line-height: 20px;
                                    color: $ctd-secondary-1;
                                    font-weight: $font-weight-medium;
                                }

                                address {
                                    margin-bottom: 0;
                                    color: $darker-gray;
                                    font-size: $base-font;
                                    line-height: 19px;

                                    .store-map {
                                        text-decoration: underline;
                                        color: $ctd-secondary-1;
                                    }

                                    .storelocator-phone {
                                        color: $ctd-secondary-1;
                                    }

                                    .store-hours {
                                        margin-top: 20px;
                                    }

                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &.show-more {
                                @include media-breakpoint-down(md) {
                                    display: none;
                                }
                            }
                        }

                        .show-more-stores {
                            margin: 20px 0 0;
                        }
                    }
                }
            }

            .select-dealer {
                max-width: 240px;
                margin: 0 auto;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    width: 100%;
                    padding: 20px 0 0;

                    &.select-dealer-one {
                        padding: 30px 0 20px;
                    }
                }

                .select-store {
                    margin-top: 0;
                    width: 100%;
                }
            }

            .cant-findyour-dealer {
                max-width: 310px;
                text-align: center;
                margin: 20px auto;
                font-size: $base-font - 1px;
                line-height: 18px;

                span {
                    display: block;
                }

                .cant-find-link {
                    color: $darker-gray;
                    position: relative;
                    text-decoration: none;
                    cursor: pointer;

                    &::after {
                        content: "";
                        border-bottom: 2px solid $ctd-secondary-3;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        bottom: 1px;
                        left: 0;
                    }
                }
            }
        }
    }
}

//Styles for Tab section
.description-and-detail {
    margin-top: 4.567%;
    width: 100%;
    display: inline-block;

    @include media-breakpoint-down(md) {
        margin-top: 30px;

        > div {
            &:last-child {
                margin-bottom: 60px;
            }
        }
    }

    .nav-tab-main {
        border-bottom: 2px solid $ctd-secondary-5;

        @include media-breakpoint-down(md) {
            border-bottom: 0;
        }

        .nav-tabs {
            align-items: center;
            justify-content: space-around;
            max-width: 579px;
            margin: 0 auto;
            border-bottom: 0;

            .nav-item {
                .nav-link {
                    padding: 6px 0;
                    line-height: 18px;
                    font-size: $base-font - 1px;
                    color: $darker-gray;
                    font-weight: $font-weight-bold;
                    border-bottom: 3px solid transparent;

                    &.active {
                        color: $ctd-primary-1;
                        border-bottom: 3px solid $ctd-primary-1;
                    }
                }
            }
        }
    }

    .tab-content {
        .description {
            margin-bottom: 0;

            #description-tab {
                padding-top: 30px;

                @include media-breakpoint-down(md) {
                    padding: 10px 15px 30px;

                    .content {
                        margin: 0;
                    }
                }

                a {
                    text-decoration: underline;
                }

                ul {
                    list-style: disc;
                    margin: 0 0 16px;
                    padding: 0 0 0 40px;

                    li {
                        list-style: disc;
                    }
                }
            }
        }

        .expanded-content {
            @include media-breakpoint-down(md) {
                display: none;

                &.show {
                    display: block;
                }
            }
        }

        .tab-pane {
            @include media-breakpoint-down(md) {
                display: block;
                margin: 0;
            }
        }

        .h2 {
            padding: 0;
            margin-bottom: 0;

            a {
                padding: 15px 12px;
                color: $darker-gray;
                font-weight: $font-weight-bold;
                font-size: $base-font;
                line-height: 18px;
                border-top: 1px solid $ctd-secondary-5;
                width: 100%;
                font-family: $barlow;

                &.last-child {
                    &.collapsed {
                        border-bottom: 1px solid $ctd-secondary-5;
                    }
                }

                .plus-icon {
                    display: none;
                    margin-top: 3px;
                }

                .minus-icon {
                    display: block;
                    margin-top: 7px;
                }

                &.collapsed {
                    .plus-icon {
                        display: block;
                        margin-top: 3px;
                    }

                    .minus-icon {
                        display: none;
                        margin-top: 7px;
                    }
                }
            }
        }
    }
}

#youtubeVideoModal {
    .modal-dialog {
        max-width: 1079px;
    }

    .modal-header {
        background-color: $ctd-primary-4;
        border: none;
        padding-top: 10px;
    }

    .modal-body {
        padding: 0 50px;
        padding-bottom: 50px;
    }

    .description {
        font-size: $base-font;
        color: $ctd-secondary-1;
        font-family: $barlow;
        line-height: 19px;
    }

    .close {
        opacity: 0.75;
    }
}

//Product Bundle Styles
.bundle-items {
    .bundle-item {
        .product-availability {
            margin-left: 0;
        }
    }
}

.bundle-footer {
    label.availability {
        margin-bottom: 0;
    }
}
