@import "wishlist/account/dashboard";
@import "../variables";

.account-dashboard {
    &.container {
        max-width: 1088px;
    }

    .breadcrumb {
        padding: 10px 10px 8px 0;
        border-bottom: 1px solid $ctd-secondary-5;

        @include media-breakpoint-down(md) {
            margin-bottom: 0;
            border: 0;
        }
    }

    .category-breadcrumb {
        margin-top: 5px;
    }

    .account-main-content {
        max-width: 920px;
        margin: auto;

        .left-account,
        .right-account {
            padding: 0 10px;
        }

        .payment-section,
        .payment-card {
            .left-content {
                padding-right: 10px;
            }

            .right-content {
                padding-left: 10px;
            }
        }

        .sign-out {
            text-decoration: underline;

            @include media-breakpoint-up(md) {
                margin-top: 3%;
                display: inline-block;
                float: right;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
            }
        }

        .right-account {
            @include media-breakpoint-down(md) {
                padding-bottom: 30px;
            }
        }

        .card-link {
            text-decoration: underline;
        }

        .account-row {
            margin: 0 -10px;
        }

        .page-title {
            position: static;
            background: transparent;
            color: black;
            padding: 0;
            margin: 14px 0 30px;
            font-size: $base-font + 20px;

            @include media-breakpoint-down(md) {
                font-size: $base-font + 12px;
                line-height: 32px;
                text-align: center;
                width: 100%;
                margin: 0 0 20px;
            }

            &::before {
                display: none;
            }
        }

        .empty-wishlist-msg {
            padding: 10px;
        }

        .card {
            border: 1px solid $ctd-secondary-5;
            border-radius: unset;
            margin-bottom: 30px;

            h4,
            dt,
            .dashboard-cards-block-title,
            .line-item-name,
            .store-name {
                font-family: $btn-ffamily;
                font-weight: $font-weight-medium;
                font-size: $base-font + 1px;
                line-height: 20px;
                color: $ctd-secondary-1;
            }

            dt {
                margin-bottom: 8px;
            }

            dl {
                margin-bottom: 20px;
            }

            .card-header {
                border-bottom: none;
                background-color: $ctd-secondary-7;
                padding: 20px 20px 22px 30px;

                @include media-breakpoint-down(md) {
                    padding-left: 20px;
                }

                a {
                    text-decoration: none;
                }
            }

            .card-body {
                padding: 20px 20px 7px 30px;

                @include media-breakpoint-down(md) {
                    padding-left: 20px;
                }
            }

            .card-footer {
                padding: 5px 10px 20px 20px;
            }

            .card-footer-border {
                border-top: none;
                padding: 19px 10px 28px;
            }

            .address-default,
            .payment-card {
                border-bottom: 1px solid $ctd-secondary-5;
                padding-bottom: 15px;
            }

            &.order-main {
                .card-info-group {
                    padding: 20px 4.2% 5px 20px;
                }

                p {
                    font-family: $btn-ffamily;
                    font-size: $base-font - 3px;
                    line-height: 16px;
                    color: $ctd-secondary-1;
                    padding-left: 0;
                    margin-bottom: 7px;
                }

                .dashboard-order-card-footer-value {
                    font-size: $base-font + 2px;
                    line-height: 16px;
                }

                .total-value {
                    font-family: $btn-ffamily;
                    font-size: $base-font + 4px;
                    line-height: 24px;
                    color: $ctd-primary-1;
                }

                .order-content {
                    padding-left: 0;
                }
            }

            &.wishlist-card {
                .card-info-group {
                    padding: 0;
                }

                .account-wishlist-item {
                    margin: 0;
                    border: 0;
                    border-bottom: 1px solid $ctd-secondary-5;
                    padding: 20px 20px 15px;
                }

                .account-wl-attributes {
                    font-family: $btn-ffamily;
                    font-size: $base-font - 3px;
                    line-height: 16px;
                    color: $ctd-secondary-1;
                }

                .wl-social-sharing-text {
                    font-family: $btn-ffamily;
                    font-weight: $font-weight-bold;
                    font-size: $base-font;
                    color: $ctd-secondary-1;
                }

                .share-icons {
                    i {
                        margin: 0 7px;

                        &:hover {
                            color: $ctd-primary-1;
                        }
                    }

                    .hover-off {
                        display: inline-block;
                        margin: 0 7px;
                    }

                    .hover-on {
                        display: none;
                    }

                    &:hover {
                        .hover-off {
                            display: none;
                        }

                        .hover-on {
                            display: inline-block;
                            margin: 0 7px;
                        }
                    }
                }

                .remove-from-wishlist {
                    right: 1rem;
                }
            }

            .overview-image,
            .account-wl-image {
                max-width: 110px;
            }

            .overview-image {
                height: 80px;
            }

            &.fflDealer {
                a {
                    -webkit-appearance: none;
                }

                .selected-store-with-inventory {
                    .card-body {
                        padding: 0;
                    }
                }

                .card-body {
                    .btn-get-in-store-inventory {
                        text-align: center;
                        margin-bottom: 22px;
                        display: inherit;
                        text-decoration: underline;
                    }
                }

                .store-map {
                    text-decoration: underline;
                }

                .store-name {
                    margin-bottom: 0;
                }

                address {
                    font-family: $btn-ffamily;
                    font-size: $base-font;
                    color: $ctd-secondary-1;
                    line-height: 19px;
                }
            }

            &.loyalityDashboard {
                .rewards-head {
                    font-size: $base-font + 1px;
                    line-height: 20px;
                    color: $ctd-secondary-1;
                    font-weight: $font-weight-medium;
                    margin-bottom: 8px;
                }

                .available_points,
                .used_points {
                    margin-bottom: 10px;
                }

                .usedPoints {
                    @include media-breakpoint-down(md) {
                        padding: 0 10px 0 0;
                    }
                }
            }
        }
    }
}

//myaccount Store Inventory
#inStoreInventoryModal {
    padding: 10px !important;
}

.modal-dialog {
    &.in-store-inventory-dialog {
        max-width: 900px;

        @include media-breakpoint-down(md) {
            margin: 0;
        }

        .hide-in-overlay {
            display: none;
        }

        .modal-content {
            border-radius: 0;
            border: 0;
        }

        .modal-header {
            padding: 20px 21px 22px 30px;
            background-color: $ctd-secondary-7;
            align-items: center;
            border: none;

            @include media-breakpoint-down(md) {
                padding-left: 12px;
            }

            .modal-title {
                font-size: $base-font + 1px;
                line-height: 20px;
                color: $ctd-secondary-1;
                font-weight: $font-weight-medium;
            }

            .close {
                padding: 0;
                margin: 0;
                opacity: 1;
            }
        }

        .modal-body {
            padding: 0 30px;

            @include media-breakpoint-down(md) {
                padding: 0 10px;
            }

            .ffl-dealer-text {
                padding: 12px 0 30px;
                font-size: $base-font;
                line-height: 19px;
                color: $darker-gray;
            }
        }

        .store-locator-container {
            .results {
                @include media-breakpoint-up(md) {
                    max-height: 21.875em;
                }

                &.striped {
                    &.ps--active-y > .ps__rail-y {
                        margin-right: 15px;
                    }

                    .select-dealer-one {
                        &.hide-in-page {
                            @include media-breakpoint-up(lg) {
                                display: none;
                            }
                        }
                    }
                }
            }

            .zip-code-div {
                @include media-breakpoint-up(lg) {
                    padding-right: 10px;
                }
            }

            .radius-div {
                @include media-breakpoint-up(lg) {
                    padding-left: 10px;
                }
            }

            .search-form {
                border-radius: 0;
                margin-bottom: 30px;
                border: 1px solid $ctd-secondary-5;

                @include media-breakpoint-down(md) {
                    margin-bottom: 20px;
                }

                .card-body {
                    padding: 30px;

                    @include media-breakpoint-down(md) {
                        padding: 30px 20px;
                    }

                    .form-group {
                        margin-bottom: 10px;
                    }

                    .button-find-dealer {
                        margin-bottom: 0;
                        color: $ctd-secondary-2;
                        font-size: $base-font - 1px;
                        line-height: 18px;
                        font-weight: $font-weight-bold;
                        padding: 12px;
                        text-transform: uppercase;
                        border: 1px solid $ctd-secondary-2;
                        background-color: transparent;

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }

            .results-card {
                border-radius: 0;
                border: 1px solid $ctd-secondary-5;

                @include media-breakpoint-down(md) {
                    margin-bottom: 0;
                    border: 0;
                }

                .results-card-select {
                    padding: 38px 30px 30px;

                    @include media-breakpoint-down(md) {
                        border: 1px solid $ctd-secondary-5;
                        padding: 38px 20px 30px;
                    }

                    .card-header {
                        select.form-control {
                            height: 44px;
                        }
                    }
                }

                .card-body {
                    padding: 0;

                    @include media-breakpoint-down(md) {
                        border-top: 0;
                    }

                    .form-check {
                        .form-check-input {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    .store-locator-no-results {
                        margin-bottom: 0;
                        padding: 14px 30px;
                        color: $ctd-light-red;
                        font-size: $base-font;
                        font-style: italic;
                        line-height: 19px;
                        border-top: 1px solid $ctd-secondary-5;

                        @include media-breakpoint-down(md) {
                            border: 1px solid $ctd-secondary-5;
                            border-top: 0;
                            padding: 10px 20px;
                        }
                    }

                    .striped {
                        > div:nth-of-type(odd) {
                            &:not(.ps__rail-y) {
                                background: none;
                            }
                        }

                        .card-body-border {
                            border-top: 1px solid $ctd-secondary-5;
                        }

                        .card-body {
                            padding: 30px;
                            border-bottom: 1px solid $ctd-secondary-5;

                            @include media-breakpoint-down(md) {
                                padding: 15px 20px;
                                border-left: 1px solid $ctd-secondary-5;
                                border-right: 1px solid $ctd-secondary-5;
                            }

                            .store-details {
                                margin-left: 0;

                                .store-name {
                                    margin-bottom: 10px;
                                    font-size: $base-font + 1px;
                                    line-height: 20px;
                                    color: $ctd-secondary-1;
                                    font-weight: $font-weight-medium;
                                }

                                address {
                                    margin-bottom: 0;
                                    color: $darker-gray;
                                    font-size: $base-font;
                                    line-height: 19px;

                                    .store-map {
                                        text-decoration: underline;
                                        color: $ctd-secondary-1;
                                    }

                                    .store-hours {
                                        margin-top: 20px;
                                    }

                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                            }

                            &.show-more {
                                @include media-breakpoint-down(md) {
                                    display: none;
                                }
                            }
                        }

                        .show-more-stores {
                            margin: 20px 0 0;
                        }
                    }
                }
            }

            .select-dealer {
                max-width: 240px;
                margin: 0 auto;

                @include media-breakpoint-down(md) {
                    max-width: 100%;
                    width: 100%;
                    padding: 20px 0 0;

                    &.select-dealer-one {
                        padding: 30px 0 20px;
                    }
                }

                .select-store {
                    margin-top: 0;
                    width: 100%;
                }
            }

            .cant-findyour-dealer {
                max-width: 310px;
                text-align: center;
                margin: 20px auto;
                font-size: $base-font - 1px;
                line-height: 18px;

                span {
                    display: none;
                }

                .cant-find-link {
                    display: none;
                }
            }
        }
    }
}
