@import "~base/account/profile";
@import "../variables";
@import "../ups_modal";
@import "../print";

.page {
    background-color: $ctd-primary-4;
}

.container {
    .breadcrumb {
        padding: 10px 10px 8px 0;
        border-bottom: 1px solid $ctd-secondary-5;

        @include media-breakpoint-down(md) {
            margin-bottom: 0;
            border: 0;
        }
    }

    h1 {
        &.page-title {
            position: static;
            background: transparent;
            color: $ctd-secondary-1;
            padding: 0;
            margin: 25px 0 30px;
            font-size: $base-font + 20px;
            width: 100%;

            @include media-breakpoint-down(md) {
                font-size: $base-font + 12px;
                line-height: 32px;
                margin-top: 0;
            }

            &::before {
                display: none;
            }
        }
    }

    .category-breadcrumb,
    .paymentInstruments {
        max-width: 1088px;
        margin: 0 auto;
    }

    .paymentInstruments {
        .no-saved-card-message {
            font-family: $barlow;
            font-size: $base-font + 12px;
            color: $ctd-dark-red;
            letter-spacing: 1.31px;
            font-weight: $font-weight-medium;
        }
    }
}

.main-add {
    @include media-breakpoint-up(md) {
        max-width: 480px;
        flex: unset;
    }

    @include media-breakpoint-down(md) {
        padding: 0 12px;
    }

    .left-form {
        .btn {
            padding: 0;
        }
    }

    .address-heading {
        width: 85%;
    }

    .card-header {
        border-bottom: none;
        background-color: $ctd-secondary-7;
        padding: 20px 20px 22px 30px;

        @include media-breakpoint-down(md) {
            padding-left: 20px;
        }
    }

    h3,
    h4 {
        font-family: $btn-ffamily;
        font-weight: $font-weight-medium;
        font-size: $base-font + 1px;
        line-height: 20px;
        color: $ctd-secondary-1;
        margin: 0;
    }

    .address-required {
        font-family: $btn-ffamily;
        font-size: $base-font - 3px;
        line-height: 14px;
        color: $ctd-secondary-1;
        margin-bottom: 10px;
    }

    .payment-form {
        .service-error {
            font-family: $btn-ffamily;
            font-size: $base-font - 5px;
            color: $ctd-dark-red;
            background-color: transparent;
            border-color: transparent;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
        }

        .card-number-wrapper {
            &::after {
                top: 7px;
            }
        }
    }

    .card {
        border: 1px solid $ctd-secondary-5;
        border-radius: unset;
        margin-bottom: 30px;

        .form-group {
            margin-bottom: 20px;
        }

        @include media-breakpoint-up(md) {
            .left-form {
                padding-right: 10px;
            }

            .right-form {
                padding-left: 10px;
            }
        }

        .btn {
            margin: 15px 0 10px;
        }

        .form-button {
            .left-form {
                padding-right: 10px;
            }

            .right-form {
                padding-left: 10px;
            }
        }
    }

    .payment-section,
    .payment-card {
        .left-content {
            padding-right: 10px;
        }

        .right-content {
            padding-left: 10px;
        }
    }

    .card-body-positioning {
        padding: 20px 11% 30px 6.6%;
    }

    .btn-light {
        &:not(:disabled) {
            &:not(.disabled) {
                &:active {
                    background-color: $ctd-secondary-7;
                    border-color: $ctd-secondary-7;
                }
            }
        }
    }

    .remove-btn {
        width: 34px;
        background-color: $ctd-secondary-7;
        margin-top: 2px;
        padding: 0;
        cursor: pointer;
    }

    .card-make-default-link {
        margin-top: 20px;
    }

    .address-bottom {
        margin: 5px 0 12%;

        @include media-breakpoint-down(md) {
            margin: 5px 0 13%;

            .main-add {
                padding: 0;
            }
        }
    }

    .custom-control-label {
        &::before,
        &::after {
            display: none;
        }
    }

    .address-mobile {
        @include media-breakpoint-down(md) {
            .col {
                flex-basis: unset;
                margin-top: 15px;
            }
        }

        .add-button {
            @include media-breakpoint-down(md) {
                margin-top: 0;
            }
        }
    }
}

.address-bottom {
    margin: 5px 0 3.7%;

    @include media-breakpoint-down(md) {
        margin-bottom: 7%;

        .col {
            flex-basis: unset;
        }

        .back-link {
            margin-top: 20px;
        }
    }

    @include media-breakpoint-down(xs) {
        margin-bottom: 12%;
    }

    .row {
        align-items: center;
    }

    .back-to-account-link {
        text-decoration: underline;
    }

    .add-button {
        @include media-breakpoint-up(md) {
            a {
                width: 79%;
            }
        }

        @include media-breakpoint-down(md) {
            margin-top: 0;
            padding: 0;
        }
    }
}

.order-history {
    .main-add {
        @include media-breakpoint-up(md) {
            margin: auto;
        }

        &.row {
            align-items: center;
            margin-top: 15px;
        }
    }

    .order-content {
        padding-left: 0;
    }

    p {
        font-family: $btn-ffamily;
        font-size: $base-font - 3px;
        line-height: 16px;
        color: $ctd-secondary-1;
        padding-left: 0;
        margin-bottom: 7px;
    }

    .dashboard-order-card-footer-value {
        font-size: $base-font + 2px;
        line-height: 22px;
    }

    .total-value {
        font-family: $btn-ffamily;
        font-size: $base-font + 4px;
        line-height: 24px;
        color: $ctd-primary-1;
    }

    .order-top {
        @include media-breakpoint-down(md) {
            .col-12 {
                padding: 0;
            }
        }
    }

    .overview-image {
        max-width: 110px;
        height: 80px;
    }

    .card-body,
    .card-footer {
        padding: 20px 20px 7px 30px;

        @include media-breakpoint-down(md) {
            padding-left: 20px;
        }
    }
}

.order-detail {
    margin-top: 2%;

    .print-receipt {
        color: $ctd-secondary-1;
    }

    .hide-window,
    .hide-or {
        display: none;
    }

    a {
        &.select-dealer {
            display: none;
        }
    }

    .card {
        border: 1px solid $ctd-secondary-5;
        border-radius: unset;
        margin-bottom: 30px;

        .card-header {
            border-bottom: none;
            background-color: $ctd-secondary-7;
            padding: 20px 20px 22px 30px;

            @include media-breakpoint-down(md) {
                padding-left: 20px;
            }
        }
    }

    h4,
    .line-item-name,
    .h4-heading,
    .grand-total-label,
    .grand-total-price {
        font-family: $btn-ffamily;
        font-weight: $font-weight-medium;
        font-size: $base-font + 1px;
        line-height: 20px;
        color: $ctd-secondary-1;
    }

    .line-item-attributes,
    .line-item-total-text,
    .line-item-pricing-info,
    .start-lines,
    .end-lines {
        font-family: $btn-ffamily;
        font-size: $base-font - 3px;
        line-height: 16px;
        color: $ctd-secondary-1;
    }

    .pricing {
        font-family: $btn-ffamily;
        font-weight: $font-weight-bold;
        font-size: $base-font + 4px;
        line-height: 24px;
        color: $ctd-primary-1;
    }

    .start-lines {
        &::before {
            content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ";
            position: absolute;
            font-size: 11px;
            bottom: 14px;
            color: $ctd-secondary-4;
        }
    }

    .grand-total-label {
        margin-bottom: 13px;
        display: inline-block;
    }

    .order-details-summary {
        .shipping-method,
        .shipping-method-price {
            margin-bottom: 5px;
        }

        .start-lines {
            &::before {
                bottom: 5px;
            }
        }

        .shipping-method-price {
            display: inline-block;
            float: right;
            position: relative;
            background-color: #fff;
            z-index: 2;
        }
    }

    .shipping-method-price,
    .order-number-date span,
    .address-summary span,
    .credit-card-type,
    .credit-card-number,
    .credit-card-expiration-date {
        font-family: $btn-ffamily;
        font-size: $base-font;
        line-height: 19px;
        color: $ctd-secondary-1;
        font-weight: normal;
        text-transform: unset;
    }

    .qty-card-quantity-count {
        font-size: $base-font + 2px;
        line-height: 22px;
        color: $ctd-secondary-1;
        font-weight: normal;
    }

    .summary-section-label {
        font-size: $base-font + 1px;
        line-height: 20px;
        text-transform: uppercase;
    }

    .summary-details {
        font-size: $base-font;
    }

    .product-summary-block {
        margin: 0;

        .list-message,
        .low-message,
        .savings-message {
            display: none;
        }

        .savings-price {
            .savings {
                .value,
                .saving-percentage {
                    color: $ctd-primary-2;
                    font-weight: $font-weight-medium;
                    font-size: $base-font;
                }
            }
        }

        .price {
            .sales {
                .value {
                    color: $ctd-primary-1;
                }
            }
        }
    }

    .bypass-firearm-message {
        display: inline-block;

        .select-ffl-dealer {
            text-decoration: underline;
        }
    }

    .salesform-reminder-message {
        margin: 10px 0;

        .bell-icon,
        .bypass-message {
            vertical-align: middle;

            .select-dealer {
                cursor: pointer;
            }
        }
    }

    .my-account {
        margin-bottom: 7%;

        @include media-breakpoint-down(md) {
            margin-bottom: 13%;
        }

        a {
            text-decoration: underline;
        }
    }

    .savings-total {
        .start-lines {
            &::before {
                content: '';
            }
        }
    }
}

.delete-confirmation-header {
    h4 {
        color: $ctd-secondary-1;
    }
}
