@import "../variables";

.checkout-footer-wrapper {
    @include media-breakpoint-down(md) {
        padding: 0 12px;
    }

    .copyright-notice {
        max-width: 576px;
        margin: 0 auto;
        padding: 60px 0 40px;

        @include media-breakpoint-down(md) {
            padding: 36px 0 16px;
            max-width: 340px;
        }
    }

    .footer-content-links {
        padding-top: 20px;

        @include media-breakpoint-down(md) {
            padding-top: 0;
        }

        .secondary-links {
            max-width: 576px;

            @include media-breakpoint-down(md) {
                text-align: center;
                max-width: 340px;
            }
        }

        .content-links {
            width: auto;
            display: inline-block;
            padding-left: 14px;
            padding-right: 15px;
            border-right: 2px solid $ctd-secondary-1;
            line-height: 14px;

            @include media-breakpoint-down(md) {
                margin-top: 20px;
                padding-left: 12px;
                padding-right: 12px;

                &:nth-child(even) {
                    padding-right: 0;
                    border-right: 0;
                }

                &:nth-child(3n) {
                    padding-left: 0;
                }
            }

            &:last-child {
                padding-right: 0;
                border-right: 0;
            }

            &:first-child {
                padding-left: 0;
            }

            a {
                font-size: $base-font;
                font-weight: $font-weight-bold;
                color: $ctd-secondary-1;
            }
        }
    }
}
