@import "../variables";

.checkout-header {
    .header-box {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        max-width: 1230px;
        margin: 0 auto;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            padding: 12px;
            position: relative;
        }
    }

    .navbar-header {
        &.logo {
            position: relative;

            @include media-breakpoint-between(sm, md) {
                left: 30vw;
            }

            @include media-breakpoint-down(xs) {
                left: 14vw;
            }
        }

        &.brand {
            padding-top: 0;
            float: none;

            @include media-breakpoint-down(md) {
                margin-right: 0;
                display: inline-block;
                left: 0;
                position: relative;
                margin-left: 0;
            }
        }

        .need-help,
        .mobile-livechat,
        .telephone-number {
            width: auto;
            float: left;
            margin-right: 25px;

            @include media-breakpoint-down(md) {
                margin-right: 0;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .mobile-livechat {
            @include media-breakpoint-down(md) {
                position: absolute;
                left: 12px;
            }
        }

        .need-help {
            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        .telephone-number {
            margin-right: 0;

            @include media-breakpoint-down(md) {
                .label {
                    display: none;
                }

                .telephone-icon {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .page-heading {
            margin-left: 20px;

            @include media-breakpoint-down(md) {
                margin: 0;
                display: inline-block;
                font-size: $base-font - 1px;
                line-height: 15px;
                margin-left: 7px;
                width: 25%;
                vertical-align: middle;
            }
        }

        .live-chat {
            &.fa-flip-horizontal {
                transform: none;
            }

            .live-chatmsg {
                font-size: $base-font;
                font-weight: 400;
                line-height: 19px;
                color: $ctd-secondary-1;
                text-decoration: underline;
                font-style: normal;

                @include media-breakpoint-down(md) {
                    display: none;
                }
            }

            @include media-breakpoint-down(md) {
                .livechat-icon {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }
}
