@import "~base/checkout/checkoutComponents";
@import "../variables";

.page {
    background-color: $ctd-primary-4;
}

.order-total-summary {
    .leading-lines {
        .start-lines {
            &::before {
                content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
                position: absolute;
                font-size: 11px;
                bottom: 14px;
                color: $ctd-secondary-4;
            }
        }
    }
}

.order-product-summary {
    .product-summary-block {
        .leading-lines {
            .start-lines {
                &::before {
                    display: none;
                }
            }
        }
    }
}

.leading-lines {
    .start-lines {
        &::before {
            content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
            color: $ctd-secondary-4;
            position: absolute;
            bottom: -2px;
        }
    }
}
