@import "~base/checkout/checkoutLogin";
@import "./checkoutHeader";
@import "./checkoutFooter";
@import "../variables";

.items-content > div {
    @include media-breakpoint-down(md) {
        padding: 0 12px;
    }
}

.checkout-inner-conatiner {
    margin: 60px 0 29px;

    @include media-breakpoint-down(md) {
        margin: 30px 0 29px;
        padding: 0 12px;
    }

    .card {
        max-width: 540px;
        margin: 0 auto 31px;
        border-radius: 0;
        border: 1px solid $ctd-secondary-5;

        @include media-breakpoint-down(md) {
            max-width: 100%;
        }

        .card-header {
            background: $ctd-secondary-7;
            padding: 20px 30px 22px;
            border-bottom: 0;

            @include media-breakpoint-down(md) {
                padding: 20px 20px 22px;
            }

            &:first-child {
                border-radius: 0;
            }

            .row-heading {
                color: $ctd-secondary-1;
                font-size: $base-font + 1px;
                font-weight: $font-weight-medium;
                line-height: 20px;
                font-family: $barlow;
            }
        }

        .card-body {
            padding: 20px 30px 30px;
            text-align: center;

            @include media-breakpoint-down(md) {
                padding: 20px 20px 30px;

                button {
                    width: 100%;
                }
            }

            p {
                margin-bottom: 35px;
                text-align: left;

                @include media-breakpoint-down(md) {
                    font-size: $base-font - 1px;
                    line-height: 18px;
                    margin-bottom: 20px;
                }
            }

            &.guest-login {
                padding-top: 12px;

                @include media-breakpoint-down(md) {
                    padding-top: 12px;
                }
            }

            form {
                &.login {
                    .login-button {
                        margin-top: 15px;
                        max-width: 247px;
                        background-color: $ctd-primary-1;
                        border-color: $ctd-primary-1;

                        @include media-breakpoint-down(md) {
                            margin-top: 10px;
                            max-width: 100%;
                        }

                        &:hover {
                            background-color: rgba(167, 28, 33, 1);
                            border-color: transparent;
                        }
                    }
                }

                &.login-oauth {
                    display: flex;
                    justify-content: center;
                    margin-top: 35px;

                    @include media-breakpoint-down(md) {
                        margin-top: 26px;
                        justify-content: space-between;
                    }

                    .form-group {
                        margin-bottom: 0;
                        line-height: normal;
                        margin-right: 35px;

                        @include media-breakpoint-down(md) {
                            margin-right: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                            margin-left: 35px;

                            @include media-breakpoint-down(md) {
                                margin-left: 0;
                            }
                        }
                    }

                    .oauth-google,
                    .oauth-facebook {
                        padding: 0;
                        background: transparent;
                        border: 0;
                        color: $ctd-secondary-1;
                        text-transform: initial;
                        height: auto;
                        font-size: $base-font;
                        line-height: 19px;
                        font-weight: 400;
                        position: relative;
                        text-decoration: underline;

                        @include media-breakpoint-down(md) {
                            line-height: 18px;
                            font-size: $base-font - 1px;
                        }

                        i {
                            display: none;
                        }
                    }
                }
            }

            .form-group {
                margin-bottom: 20px;

                &.custom-checkbox {
                    padding-left: 0;

                    input {
                        z-index: 1;
                        margin-top: 0;
                    }

                    .custom-control-label {
                        font-size: $base-font;
                        line-height: 19px;
                        color: $ctd-secondary-1;
                        text-transform: capitalize;

                        @include media-breakpoint-down(md) {
                            font-size: $base-font - 1px;
                            line-height: 18px;
                        }

                        &::after,
                        &::before {
                            display: none;
                        }
                    }

                    .span-checkbox {
                        z-index: 0;
                    }
                }
            }

            .forgot-password {
                a {
                    font-size: $base-font;
                    line-height: 19px;
                    text-transform: capitalize;
                    color: $ctd-secondary-1;
                    position: relative;
                    text-decoration: underline;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 1px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
