@import "~base/checkout/checkout";
@import "./checkoutComponents";
@import "./checkoutHeader";
@import "./checkoutFooter";
@import "../variables";
@import "../ups_modal";
@import "../print";

.next-step-button {
    @include media-breakpoint-down(md) {
        position: fixed;
        padding: 20px 0;
        background-color: $ctd-primary-4;
        box-shadow: 0 -2px 4px 0 rgba(34, 34, 34, 0.24);

        div {
            padding: 1rem;
        }

        button {
            &.submit-shipping,
            &.submit-payment,
            &.place-order {
                width: 100%;
            }
        }
    }
}

//Place order page design
.checkout-main {
    .hide-in-overlay {
        display: none;
    }

    .form-group {
        &.signupForNewsLetter {
            label {
                width: calc(100% - 25px);
                line-height: 19px;

                @include media-breakpoint-down(md) {
                    font-size: $base-font - 1px;
                    line-height: 18px;
                }
            }
        }
    }

    .store-locator-page {
        .store-locator-top-content {
            display: inline-block !important;
            width: 100%;
        }

        .select-dealer-one {
            &.hide-in-overlay {
                display: none !important;
            }

            &.hide-in-page {
                display: block !important;
            }
        }
    }

    &.container {
        max-width: 880px;
        margin: 60px auto;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin-top: 30px;
            padding: 0 12px;
        }
    }

    @include media-breakpoint-down(md) {
        .total-items-price {
            margin-bottom: 20px;

            .grand-total-label,
            .grand-total-price {
                color: $ctd-secondary-1;
                font-size: $base-font + 1px;
                font-weight: $font-weight-medium;
                line-height: 20px;
            }
        }
    }

    .gutter-padding {
        @include media-breakpoint-up(lg) {
            .pad-right {
                padding-right: 10px;
            }

            .pad-left {
                padding-left: 10px;
            }
        }
    }

    .ghost {
        opacity: 1;
        margin-top: 30px;
    }

    //promo section styles
    .checkout-promo-section {
        margin-bottom: 30px;
        padding: 0 20px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        .apply-promo-toggle,
        .apply-giftcard-toggle {
            color: $ctd-secondary-1;
            font-size: $base-font + 1px;
            font-weight: $font-weight-medium;
            line-height: 20px;
            cursor: pointer;
            display: inline-block;
        }

        .apply-promo,
        .apply-giftcard {
            .form-group {
                margin-bottom: 0;
            }
        }

        .apply-promo {
            .enter-promo {
                display: none !important;
            }
        }

        .checkout-enter-promo {
            display: none !important;
        }

        .coupon-error,
        .giftcard-error {
            color: $ctd-dark-red;
            margin-top: 2px;
            font-size: $base-font - 5px;
            line-height: 13px;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            text-align: left;
        }

        .coupon-missing-error,
        .giftcard-missing-error {
            display: none;
        }

        .promo-content {
            margin: 0;
            margin-top: 20px;

            .promo-field {
                padding: 0;

                @include media-breakpoint-up(lg) {
                    max-width: 303px;
                    flex-basis: 100%;
                }

                input {
                    border-right: 0;
                }
            }

            .promo-code-submit {
                padding: 0;
                @include media-breakpoint-up(lg) {
                    max-width: 144px;
                }
            }
        }

        .coupons-and-promos,
        .gift-card-displays {
            margin-top: 10px;

            .coupon-price-adjustment {
                border: 1px solid $ctd-secondary-5;
                padding: 8px 12px 10px 10px;
                margin-bottom: 10px;

                .coupon-code {
                    font-size: 13px;
                    font-weight: $font-weight-medium;
                    line-height: 16px;

                    .remove-coupon,
                    .remove-giftcard {
                        border: 0;
                        background: transparent;
                    }

                    .coupon-applied {
                        color: $ctd-primary-2;
                    }

                    .coupon-not-applied {
                        color: $ctd-dark-red;
                    }
                }

                .coupon-promotion-relationship,
                .gift-card-relationship {
                    font-size: 13px;
                    font-weight: normal;
                    line-height: 16px;
                    margin-top: 2px;
                }
            }
        }
    }

    .checkout-gift-section {
        margin-bottom: 20px;

        .giftcard-empty {
            display: none;
        }

        .gift-card-remaining {
            padding: 0 15px;

            p {
                margin-bottom: 0;
            }
        }

        .divider-gift {
            border-bottom: 2px solid $ctd-secondary-5;
            margin-top: 15px;
        }

        .info-icon {
            vertical-align: text-top;
            margin-left: 8px;
        }
    }

    .card-header {
        border: 0;
        background-color: $ctd-secondary-7;
        padding: 20px 20px 22px 30px;
        line-height: normal;

        .h4-heading {
            color: $ctd-secondary-1;
            font-size: $base-font + 1px;
            font-weight: $font-weight-medium;
            line-height: 20px;

            &.selected-ffl-text {
                display: inline-block;
                float: none;
            }
        }

        .payment-heading {
            color: $ctd-secondary-3;
            font-size: $base-font + 1px;
            font-weight: $font-weight-medium;
            line-height: 20px;
        }

        .edit-button {
            color: $ctd-secondary-1;
            font-size: 14px;
            line-height: 17px;
        }
    }

    .grand-total {
        &.savings-total {
            font-weight: $font-weight-medium;
            color: $ctd-primary-2;
            font-size: 14px !important;
        }
    }

    .card {
        border: 1px solid $ctd-secondary-5;
        border-radius: 0;
        margin-bottom: 30px;

        .card-body {
            padding: 12px 20px 30px;

            @include media-breakpoint-down(md) {
                padding: 12px 20px 10px;
            }

            .summary-section-label {
                color: $ctd-secondary-1;
                font-size: $base-font;
                line-height: 19px;
                margin-bottom: 0;
                font-weight: normal;

                @include media-breakpoint-down(md) {
                    font-size: $base-font - 1px;
                }
            }

            .h4-heading {
                color: $ctd-secondary-1;
                font-size: $base-font + 1px;
                font-weight: $font-weight-medium;
                line-height: 20px;

                &.selected-ffl-text {
                    display: inline-block;
                    float: none;
                }
            }
        }

        &.payment-summary {
            margin-bottom: 20px;

            .summary-details {
                margin-bottom: 0;

                .payment-details {
                    color: $ctd-secondary-1;
                    font-size: $base-font;
                    line-height: 19px;
                    margin-top: 8px;

                    @include media-breakpoint-down(md) {
                        font-size: $base-font - 1px;
                        line-height: 18px;
                    }
                }

                &.billing {
                    .bypass-ffldealer-selection {
                        display: none;
                    }
                }
            }

            .billing {
                color: $ctd-secondary-1;
                font-size: $base-font;
                line-height: 19px;
                margin: 8px 0 20px;

                @include media-breakpoint-down(md) {
                    font-size: $base-font - 1px;
                    line-height: 18px;
                }

                .address-summary {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .single-shipping {
        .summary-details {
            &.shipping {
                color: $ctd-secondary-1;
                font-size: $base-font;
                line-height: 19px;
                margin: 8px 0 20px;

                @include media-breakpoint-down(md) {
                    font-size: $base-font - 1px;
                    line-height: 18px;
                }
            }

            .address-summary {
                margin-bottom: 20px;
            }
        }

        .leading-lines {
            margin-bottom: 0;

            .start-lines {
                font-size: $base-font;
                line-height: 19px;

                &::before {
                    content: "- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -";
                    position: absolute;
                    font-size: 12.5px;
                    bottom: -3px;
                }

                .shipping-method {
                    margin-bottom: 0;
                }
            }

            .end-lines {
                font-size: $base-font;
                line-height: 19px;

                .shipping-method-price {
                    margin-bottom: 0;
                }
            }
        }

        //styles for single FFL Dealer 
        .store-shipment {
            padding-top: 5px;

            .pickup-in-store {
                .store-header-text {
                    display: block !important;

                    .shipping-ffl {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 20px;

                        .close-button {
                            color: $ctd-secondary-1;
                            font-size: 14px;
                            line-height: 17px;
                            cursor: pointer;
                        }
                    }
                }

                .store-locator-container {
                    .ffl-dealer-text {
                        display: none;
                    }

                    .search-form {
                        border: 1px solid $ctd-secondary-5;
                        margin-bottom: 20px;

                        .card-body {
                            padding: 30px 20px;
                        }
                    }

                    .select-dealer {
                        display: block;
                        max-width: 247px;
                        margin: 0 auto;

                        @include media-breakpoint-down(md) {
                            max-width: 100%;
                            margin: {
                                top: 20px;
                                bottom: 20px;
                            }

                            button.select-store {
                                width: 100%;
                            }
                        }
                    }

                    .cant-findyour-dealer {
                        max-width: 290px;
                        text-align: center;
                        margin: 20px auto 0;
                        font-size: 15px;
                        line-height: 18px;

                        span {
                            display: block;
                        }

                        .cant-find-link {
                            cursor: pointer;
                        }
                    }

                    .results-card {
                        border: 1px solid $ctd-secondary-5;
                        margin-bottom: 30px;

                        @include media-breakpoint-down(md) {
                            border: 0;
                            margin-bottom: 0;
                        }

                        .results-card-select {
                            padding: 38px 20px 30px;

                            @include media-breakpoint-down(md) {
                                border: 1px solid $ctd-secondary-5;
                            }
                        }

                        .card-header {
                            padding: 0;
                            border-bottom: 0;
                        }

                        .card-body {
                            padding: 0;

                            .show-more-stores {
                                margin-top: 15px;
                                max-width: 100%;
                            }

                            .store-locator-no-results {
                                margin-bottom: 0;
                                padding: 14px 30px;
                                color: $ctd-light-red;
                                font-size: $base-font;
                                font-style: italic;
                                line-height: 19px;
                                border-top: 1px solid $ctd-secondary-5;

                                @include media-breakpoint-down(md) {
                                    border: 1px solid $ctd-secondary-5;
                                }
                            }

                            .card-body {
                                padding: 20px;
                                border-bottom: 1px solid $ctd-secondary-5;

                                @include media-breakpoint-down(md) {
                                    border: 1px solid $ctd-secondary-5;
                                    border-top: 0;

                                    &.show-more {
                                        display: none;
                                    }

                                    &.card-body-border {
                                        border-top: 1px solid $ctd-secondary-5;
                                    }
                                }

                                .store-name {
                                    margin-bottom: 10px;
                                    line-height: 20px;
                                    font-size: $base-font + 1px;
                                    color: $darker-gray;
                                    font-weight: $font-weight-medium;
                                }

                                .store-map {
                                    text-decoration: underline;
                                    color: $ctd-secondary-1;
                                }

                                .store-hours {
                                    margin-top: 20px;
                                }

                                address {
                                    margin-bottom: 0;
                                    color: $darker-gray;
                                    font-size: $base-font;
                                    line-height: 19px;

                                    p {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .selectedStore {
                    .store-name {
                        color: $ctd-secondary-1;
                        font-size: $base-font + 1px;
                        font-weight: $font-weight-medium;
                        line-height: 20px;
                    }

                    address {
                        margin-bottom: 0;

                        .store-map {
                            text-decoration: underline;
                            color: $ctd-secondary-1;
                            font-size: $base-font;
                            line-height: 19px;
                        }

                        .store-hours {
                            color: $ctd-secondary-1;
                            font-size: $base-font;
                            line-height: 19px;
                        }
                    }
                }

                .store-name {
                    color: $ctd-secondary-1;
                    font-size: $base-font + 1px;
                    font-weight: $font-weight-medium;
                    line-height: 20px;
                }

                address {
                    margin: 0 auto;

                    .store-map {
                        text-decoration: underline;
                        color: $ctd-secondary-1;
                    }

                    .storelocator-phone {
                        color: $ctd-secondary-1;
                    }
                }
            }

            .button-find-dealer {
                margin-bottom: 0;
                color: $ctd-secondary-2;
                font-size: $base-font - 1px;
                line-height: 18px;
                font-weight: $font-weight-bold;
                padding: 12px;
                text-transform: uppercase;
                border: 1px solid $ctd-secondary-2;
                background-color: transparent;
                border-radius: 0;
            }

            .change-store {
                max-width: 247px;
                display: block;
                margin: 20px auto 0;
            }
        }
    }

    .pad-left {
        .order-total-summary,
        .order-product-summary {
            padding-top: 19px;

            .leading-lines {
                color: $ctd-secondary-1;
                font-size: 14px;
                font-weight: $font-weight-medium;
                line-height: 17px;

                &.giftcard-discount,
                &.order-discount {
                    color: $ctd-primary-2;
                }

                &.grand-total {
                    font-size: 14px !important;

                    .order-receipt-label,
                    .text-right {
                        span {
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }
        }

        .order-product-summary {
            padding-top: 0;

            .card-body {
                padding: 20px 20px 30px;

                .product-summary-block {
                    margin-top: 20px;
                    margin-bottom: 0;

                    .line-item-unit-price {
                        p {
                            margin: 0;
                        }
                    }

                    .line-item-name {
                        color: $ctd-secondary-1;
                        font-size: 17px;
                        font-weight: $font-weight-medium;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }

                    .item-image {
                        margin-right: 15px;
                    }

                    .line-item-attributes,
                    .line-item-number {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }

                    .line-item-number {
                        margin-bottom: 0;
                    }

                    .line-item-divider {
                        border-top: 1px solid $ctd-secondary-5;
                    }

                    .line-item-total-text {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }

                    .price {
                        .sales {
                            color: $ctd-primary-1;
                            font-size: 20px;
                            font-weight: $font-weight-bold;
                            line-height: 24px;
                        }
                    }

                    .qty-card-quantity-count {
                        color: $ctd-secondary-1;
                        font-size: $base-font + 2px;
                        line-height: 22px;
                        font-weight: normal;
                    }

                    .line-item-total-price-amount {
                        color: $ctd-primary-1;
                        font-size: 20px;
                        font-weight: $font-weight-bold;
                        line-height: 24px;
                    }

                    .shipment-block,
                    .multi-shipping {
                        h5,
                        p,
                        .leading-lines {
                            color: $ctd-secondary-1;
                            font-family: Barlow;
                            font-size: 13px;
                            line-height: 16px;
                            margin-bottom: 0;

                            .display-name,
                            .price {
                                font-weight: normal;
                            }
                        }

                        h5 {
                            margin-top: 10px;
                        }
                    }

                    .shipment-block::before {
                        border-bottom: 2px solid $ctd-secondary-5;
                        margin-top: 20px;
                        margin-bottom: 20px;

                        @include media-breakpoint-down(md) {
                            margin: 20px -20px;
                        }
                    }

                    .list-message,
                    .low-message,
                    .savings-message {
                        display: none;
                    }

                    .savings-price {
                        .savings {
                            .value,
                            .saving-percentage {
                                color: $ctd-primary-2;
                                font-weight: $font-weight-medium;
                                font-size: $base-font;
                            }
                        }
                    }
                }

                .grand-total,
                .grand-total-label,
                .grand-total-price {
                    color: $ctd-secondary-1;
                    font-size: $base-font + 1px;
                    font-weight: $font-weight-medium;
                    line-height: 20px;
                }
            }
        }
    }

    //billing page styles
    &.multi-ship {
        .product-line-item::before {
            border-bottom: 2px solid $ctd-secondary-5;
            margin-top: 20px;
            margin-bottom: 20px;

            @include media-breakpoint-down(md) {
                margin: 20px -20px;
            }
        }
    }

    .payment-form {
        .card-body {
            padding: 20px 20px 30px;

            .form-group {
                margin-bottom: 20px;

                .custom-select {
                    margin-bottom: 10px;
                }

                .update-add {
                    color: $ctd-secondary-1;
                    font-size: 16px;
                    line-height: 19px;
                    text-decoration: underline;
                }
            }

            .payment-information {
                margin-bottom: 20px;

                .nav-link {
                    padding: 0 0 15px;
                    border-bottom: 2px solid $ctd-secondary-5;
                }
            }
        }

        .form-flex-design {
            .securityCode {
                flex-basis: 90%;
            }

            .security-space {
                flex-basis: 8%;

                @include media-breakpoint-up(md) {
                    margin-left: 5px;
                }
            }
        }

        .email-phone {
            .info-icon {
                @include media-breakpoint-up(md) {
                    margin-left: 5px;
                }
            }
        }

        .adjust-tool-icon {
            input {
                flex-basis: 90%;
            }

            .info-icon {
                flex-basis: 8%;
            }
        }

        .all-fields {
            color: $ctd-secondary-1;
            font-size: 13px;
            line-height: 14px;
            margin-bottom: 10px;
        }

        .address-selector-block {
            .selected-option {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                padding-right: 63px;
            }
        }

        .add-payment-btn {
            border: 0;
            text-decoration: underline;
            margin: 20px auto 0;
            padding: 0;
            width: auto;
            display: block;

            &:hover {
                color: $ctd-secondary-1;
                background-color: transparent;
            }

            &:active {
                border: 0;
                color: $ctd-secondary-1;
                background-color: transparent;
            }
        }

        .user-payment-instruments {
            .security-code-input:not(.checkout-hidden) {
                display: flex;
                align-items: center;
                flex-wrap: wrap;

                .info-icon {
                    padding-left: 8px;
                }
            }

            .saved-payment-instrument {
                .saved-security-code {
                    margin-bottom: 0;
                    padding-left: 0;

                    .card-image {
                        width: auto;
                    }
                }

                .saved-payment-information {
                    margin: 23px 0 0;
                }

                &.selected-payment {
                    background-color: $ctd-secondary-7;
                    padding: 0 20px;
                    margin-top: 20px;

                    &:first-child {
                        margin-top: 0;
                    }

                    .saved-security-code {
                        padding: 0;
                        margin: 15px 0 25px;

                        input[type="text"] {
                            width: 66px;
                        }
                    }

                    .saved-payment-information {
                        margin: 12px 0 15px;
                    }
                }
            }
        }
    }

    .bypass-ffldealer-selection {
        .salesform-reminder-message {
            margin-top: 10px;
            display: inline-block;
        }

        .bell-icon {
            vertical-align: middle;
        }

        .bypass-message {
            vertical-align: middle;
            margin-left: 4px;
            width: calc(100% - 35px);
            display: inline-block;

            .bypass-firearm-message {
                display: inline-block;

                .select-ffl-dealer {
                    text-decoration: underline;
                }
            }

            .select-dealer {
                cursor: pointer;
            }
        }
    }
}

//Order confirmation styles
.order-confirmation {
    .hide-window,
    .hide-or {
        display: none;
    }

    a {
        &.select-dealer {
            display: none;
        }
    }

    &.container {
        max-width: 55.6%;
        margin: 60px auto;

        @include media-breakpoint-down(md) {
            max-width: 100%;
            margin-top: 30px;
            padding: 0 12px;
        }
    }

    .print-receipt {
        color: $ctd-secondary-1;
    }

    .h4-heading {
        color: $ctd-secondary-1;
        font-size: $base-font + 1px;
        font-weight: $font-weight-medium;
        line-height: 20px;

        &.selected-ffl-text {
            display: inline-block;
            float: none;
        }
    }

    .card {
        border: 1px solid $ctd-secondary-5;
        border-radius: 0;
        margin-bottom: 30px;

        .card-header {
            border: 0;
            background-color: $ctd-secondary-7;
            padding: 20px 20px 22px 30px;
            line-height: normal;

            .print-receipt {
                color: $ctd-secondary-1;
                font-size: 14px;
                line-height: 17px;
            }
        }
    }

    .confirmation-row {
        @include media-breakpoint-up(lg) {
            .confirmation-left {
                padding-right: 10px;
            }

            .confirmation-right {
                padding-left: 10px;
            }
        }

        @include media-breakpoint-down(md) {
            .confirmation-left {
                order: 2;
            }
        }

        .confirm-details {
            .card-body {
                padding: 12px 20px 30px;

                .order-number-date {
                    line-height: 19px;
                    margin-bottom: 20px;

                    .summary-section-label {
                        color: $ctd-secondary-1;
                        font-size: $base-font;
                        line-height: 19px;
                        margin-bottom: 20px;
                        font-weight: normal;
                    }
                }

                .shipping-addr-label {
                    font-weight: normal;
                    margin-bottom: 20px;
                    color: $ctd-secondary-1;
                    font-size: 16px;
                    line-height: 19px;

                    &.h4-heading {
                        color: $ctd-secondary-1;
                        font-size: $base-font + 1px;
                        font-weight: $font-weight-medium;
                        line-height: 20px;
                        margin-bottom: 0;

                        &.selected-ffl-text {
                            display: inline-block;
                            float: none;
                        }
                    }
                }

                .summary-details {
                    &.billing {
                        color: $ctd-secondary-1;
                        font-size: $base-font;
                        line-height: 19px;
                        margin: 8px 0 20px;
                    }

                    &.shipping {
                        color: $ctd-secondary-1;
                        font-size: $base-font;
                        line-height: 19px;
                        margin: 8px 0 20px;
                    }

                    .address-summary {
                        margin-bottom: 15px;
                    }
                }

                .shipping-method-label {
                    margin-bottom: 8px;
                }

                .summary-details {
                    margin-bottom: 0;

                    .payment-details {
                        color: $ctd-secondary-1;
                        font-size: $base-font;
                        line-height: 19px;
                        margin-top: 8px;
                    }

                    &.order-details-summary {
                        margin-bottom: 20px;
                    }
                }

                .single-shipping {
                    .shipping-method-price {
                        font-weight: normal;
                        z-index: 2;
                        background-color: $ctd-primary-4;
                        position: relative;
                        float: right;
                        display: inline-block;
                    }
                }
            }
        }

        .grand-total,
        .grand-total-label,
        .grand-total-price {
            color: $ctd-secondary-1;
            font-size: $base-font + 1px;
            font-weight: $font-weight-medium;
            line-height: 20px;
        }

        .order-product-summary {
            .card-body {
                padding: 20px 20px 30px;
            }

            .product-summary-block {
                margin: 20px 0 0;

                .product-line-item {
                    .line-item-name {
                        color: $ctd-secondary-1;
                        font-size: $base-font + 1px;
                        font-weight: $font-weight-medium;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }

                    .line-item-attributes,
                    .line-item-number {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }

                    .line-item-number {
                        margin-bottom: 0;
                    }

                    .line-item-divider {
                        border-top: 1px solid $ctd-secondary-5;
                    }

                    .line-item-total-text {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }

                    .price {
                        .sales {
                            color: $ctd-primary-1;
                            font-size: 20px;
                            font-weight: $font-weight-bold;
                            line-height: 24px;
                        }
                    }

                    .qty-card-quantity-count {
                        color: $ctd-secondary-1;
                        font-size: $base-font + 2px;
                        line-height: 22px;
                        font-weight: normal;
                    }

                    .line-item-total-price-amount {
                        color: $ctd-primary-1;
                        font-size: 20px;
                        font-weight: $font-weight-bold;
                        line-height: 24px;
                    }
                }

                .shipment-block,
                .multi-shipping {
                    h5,
                    p,
                    .order-page,
                    .leading-lines {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                        margin-bottom: 0;
                    }

                    h5 {
                        margin-top: 10px;
                    }
                }

                .shipment-block::before {
                    border-bottom: 2px solid $ctd-secondary-5;
                    margin-top: 20px;
                    margin-bottom: 20px;

                    @include media-breakpoint-down(md) {
                        margin: 20px -20px;
                    }
                }

                .store-details {
                    .store-name,
                    address {
                        margin-bottom: 0;
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }
        }

        .checkout-order-total-summary {
            margin-bottom: 35px;

            .order-total-summary {
                padding: 20px 20px 14px;

                .leading-lines {
                    color: $ctd-secondary-1;
                    font-size: 13px;
                    font-weight: $font-weight-medium;
                    line-height: 16px;

                    &.grand-total {
                        font-size: 14px !important;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .order-confirmation-continue-shopping {
                max-width: 241px;
                display: block;
            }
        }

        .order-thank-you-email-msg {
            color: $ctd-secondary-1;
            font-size: $base-font;
            line-height: 19px;
            margin-top: 12px;
        }

        .order-confirm-create-account {
            .card-body {
                padding: 20px 20px 30px;
            }

            @include media-breakpoint-up(lg) {
                .button-primary {
                    max-width: 224px;
                    padding: 0;
                }
            }

            .form-group {
                margin-bottom: 20px;
            }
        }
    }

    .bypass-ffldealer-selection {
        .bell-icon {
            vertical-align: middle;
        }

        .salesform-reminder-message {
            margin-bottom: 10px;
        }

        .bypass-message {
            vertical-align: middle;
            margin-left: 4px;
            width: calc(100% - 35px);
            display: inline-block;

            .select-ffl-dealer {
                display: inline-block;
                text-decoration: underline;
            }

            .select-dealer {
                cursor: pointer;
            }
        }

        .bypass-firearm-message {
            display: inline-block;
        }
    }

    .list-message,
    .low-message,
    .savings-message {
        display: none;
    }

    .savings-price {
        .savings {
            .value,
            .saving-percentage {
                color: $ctd-primary-2;
                font-weight: $font-weight-medium;
                font-size: $base-font;
            }
        }
    }
}

//Shipping page styles
.shipping-section {
    .single-shipping {
        .card {
            .card {
                margin-bottom: 0;
                border: 0;

                .card-header {
                    padding: 12px 20px 15px;
                    border-bottom: 2px solid $ctd-secondary-5;
                    background-color: $ctd-primary-4;

                    .item-attributes {
                        .line-item-attributes {
                            color: $ctd-secondary-1;
                            font-size: 13px;
                            line-height: 16px;
                        }
                    }
                }

                .shipping-method-block {
                    .h4-heading {
                        margin-bottom: 7px;
                    }
                }

                .shipping-content {
                    padding: 10px 20px 30px;
                    border-bottom: 1px solid $ctd-secondary-5;

                    .selected-ffl-text {
                        margin-bottom: 15px;
                        display: inline-block;
                    }

                    .shipping-method-block {
                        .leading-lines {
                            .start-lines {
                                &.custom-radio {
                                    margin-bottom: 13px;

                                    .span-radio {
                                        position: absolute;
                                        background-color: transparent;

                                        .span-active-radio {
                                            background-color: transparent;
                                        }
                                    }
                                }

                                .shipping-method-option {
                                    color: $ctd-secondary-1;
                                    font-size: 16px;
                                    line-height: 19px;
                                    position: relative;
                                    z-index: 2;

                                    .text-muted {
                                        color: $ctd-secondary-1 !important;
                                    }
                                }
                            }

                            .shipping-method-pricing {
                                font-weight: normal;
                            }
                        }
                    }

                    .shipping-address-block {
                        margin-top: 20px;

                        .all-fields {
                            color: $ctd-secondary-1;
                            font-size: 13px;
                            line-height: 14px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }

        .line-item-name {
            margin-bottom: 10px;
        }
    }
}

.single-shipping {
    .shipping-method-price {
        font-weight: normal;
        z-index: 2;
        background-color: $ctd-primary-4;
        position: relative;
        float: right;
        display: inline-block;
    }
}

.update-add {
    color: $ctd-secondary-1;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
}

.leading-lines {
    .shipping-method {
        .shipping-method-title,
        .shipping-method-arrival-time {
            color: $ctd-secondary-1;
            font-size: 15px;
            line-height: 18px;
        }
    }

    .shipping-method-price {
        color: $ctd-secondary-1;
        font-size: 15px;
        line-height: 18px;
    }

    .start-lines {
        span {
            &.text-muted {
                color: $ctd-secondary-1 !important;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .button-primary:not(.delete-coupon-confirmation-btn, .delete-giftcard-confirmation-btn) {
        max-width: 247px;
        width: 100%;
    }
}

@include media-breakpoint-down(md) {
    .shipping-method-list {
        .text-muted {
            display: block;
        }

        .shipping-cost {
            margin-top: 19px;
            display: inline-block;
        }

        &.leading-lines {
            .start-lines {
                &::before {
                    bottom: -6px;
                }
            }
        }
    }
}

//Multi-shipping styles
.shipping-section {
    .single-shipping {
        .card {
            margin-bottom: 0;
            border-bottom: 0;
        }

        .selected-option {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 63px;
        }
    }

    .multi-shipping {
        .card {
            &:first-child {
                border-top: 0;
            }

            .card-header {
                padding: 12px 20px 16px;
                border-bottom: 2px solid $ctd-secondary-5;
                background-color: $ctd-primary-4;

                .item-attributes {
                    .line-item-attributes {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 16px;
                    }
                }
            }

            .shipping-method-block {
                .h4-heading {
                    margin-bottom: 7px;
                }
            }

            .shipping-content {
                padding: 20px 20px 10px;

                .shipping-method-block {
                    .leading-lines {
                        .start-lines {
                            &.custom-radio {
                                margin-bottom: 13px;

                                .span-radio {
                                    position: absolute;
                                    background-color: transparent;

                                    .span-active-radio {
                                        background-color: transparent;
                                    }
                                }
                            }

                            .shipping-method-option {
                                color: $ctd-secondary-1;
                                font-size: 16px;
                                line-height: 19px;

                                .text-muted {
                                    color: $ctd-secondary-1 !important;
                                }
                            }
                        }

                        .shipping-method-pricing {
                            font-weight: normal;
                        }
                    }
                }

                .shipment-selector-block {
                    .update-add {
                        color: $ctd-secondary-1;
                        font-size: 16px;
                        line-height: 19px;
                        text-decoration: underline;
                    }

                    .selected-option {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        padding-right: 63px;
                    }
                }

                .shipping-address-block {
                    margin-top: 17px;

                    .all-fields {
                        color: $ctd-secondary-1;
                        font-size: 13px;
                        line-height: 14px;
                        margin-bottom: 10px;
                    }
                }

                .button-secondary {
                    display: block;
                    max-width: 247px;
                    padding: 0 20px;
                    margin: 35px auto 0;
                }
            }

            .shipping-content {
                padding: 20px 20px 30px;

                .view-address-block {
                    p {
                        margin-bottom: 0;
                    }

                    .h4-heading:not(.selected-ffl-text) {
                        margin-top: 30px;
                    }

                    .store-details {
                        margin-top: 15px;

                        .store-name {
                            color: $ctd-secondary-1;
                            font-size: $base-font + 1px;
                            font-weight: $font-weight-medium;
                            line-height: 20px;
                        }

                        address {
                            margin-bottom: 0;

                            .store-map {
                                text-decoration: underline;
                                color: $ctd-secondary-1;
                                font-size: $base-font;
                                line-height: 19px;
                            }

                            .store-hours {
                                color: $ctd-secondary-1;
                                font-size: $base-font;
                                line-height: 19px;
                            }
                        }
                    }
                }

                .store-shipment {
                    .pickup-in-store {
                        .store-header-text {
                            display: block !important;

                            .shipping-ffl {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 20px;

                                .close-button {
                                    color: $ctd-secondary-1;
                                    font-size: 14px;
                                    line-height: 17px;
                                    cursor: pointer;
                                }
                            }
                        }

                        .store-locator-container {
                            .ffl-dealer-text {
                                display: none;
                            }

                            .search-form {
                                border-top: 1px solid $ctd-secondary-5;

                                .card-body {
                                    padding: 30px 20px;
                                }
                            }

                            .select-dealer {
                                display: block;
                                max-width: 247px;
                                margin: 0 auto;

                                @include media-breakpoint-down(md) {
                                    max-width: 100%;
                                    margin: {
                                        top: 20px;
                                        bottom: 20px;
                                    }

                                    button.select-store {
                                        width: 100%;
                                    }
                                }
                            }

                            .cant-findyour-dealer {
                                max-width: 290px;
                                text-align: center;
                                margin: 20px auto 0;
                                font-size: 15px;
                                line-height: 18px;

                                span {
                                    display: block;
                                }

                                .cant-find-link {
                                    cursor: pointer;
                                }
                            }

                            .results-card {
                                border-top: 1px solid $ctd-secondary-5;

                                @include media-breakpoint-down(md) {
                                    border: 0;
                                    margin-bottom: 0;
                                }

                                .results-card-select {
                                    padding: 38px 20px 30px;

                                    @include media-breakpoint-down(md) {
                                        border: 1px solid $ctd-secondary-5;
                                    }
                                }

                                .card-header {
                                    padding: 0;
                                    border-bottom: 0;
                                }

                                .card-body {
                                    padding: 0;

                                    .show-more-stores {
                                        margin-top: 15px;
                                        max-width: 100%;
                                    }

                                    .store-locator-no-results {
                                        margin-bottom: 0;
                                        padding: 14px 30px;
                                        color: $ctd-light-red;
                                        font-size: $base-font;
                                        font-style: italic;
                                        line-height: 19px;
                                        border-top: 1px solid $ctd-secondary-5;

                                        @include media-breakpoint-down(md) {
                                            border: 1px solid $ctd-secondary-5;
                                        }
                                    }

                                    .card-body {
                                        padding: 20px;
                                        border-bottom: 1px solid $ctd-secondary-5;

                                        @include media-breakpoint-down(md) {
                                            border: 1px solid $ctd-secondary-5;
                                            border-top: 0;

                                            &.show-more {
                                                display: none;
                                            }

                                            &.card-body-border {
                                                border-top: 1px solid $ctd-secondary-5;
                                            }
                                        }

                                        .store-name {
                                            margin-bottom: 10px;
                                            line-height: 20px;
                                            font-size: $base-font + 1px;
                                            color: $darker-gray;
                                            font-weight: $font-weight-medium;
                                        }

                                        .store-map {
                                            text-decoration: underline;
                                            color: $ctd-secondary-1;
                                        }

                                        .store-hours {
                                            margin-top: 20px;
                                        }

                                        address {
                                            margin-bottom: 0;
                                            color: $darker-gray;
                                            font-size: $base-font;
                                            line-height: 19px;

                                            p {
                                                margin-bottom: 0;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .selectedStore {
                            .store-name {
                                color: $ctd-secondary-1;
                                font-size: $base-font + 1px;
                                font-weight: $font-weight-medium;
                                line-height: 20px;
                            }

                            address {
                                margin-bottom: 0;

                                .store-map {
                                    text-decoration: underline;
                                    color: $ctd-secondary-1;
                                    font-size: $base-font;
                                    line-height: 19px;
                                }

                                .store-hours {
                                    color: $ctd-secondary-1;
                                    font-size: $base-font;
                                    line-height: 19px;
                                }
                            }
                        }
                    }

                    .button-find-dealer {
                        margin-bottom: 0;
                        color: $ctd-secondary-2;
                        font-size: $base-font - 1px;
                        line-height: 18px;
                        font-weight: $font-weight-bold;
                        padding: 12px;
                        text-transform: uppercase;
                        border: 1px solid $ctd-secondary-2;
                        background-color: transparent;
                        border-radius: 0;
                    }

                    .change-store {
                        max-width: 247px;
                        display: block;
                        margin: 20px auto 0;
                    }
                }
            }
        }

        .line-item-name {
            margin-bottom: 10px;
        }
    }
}

//place-order page Content asset hide in other pages
.data-checkout-stage {
    &[data-checkout-stage=shipping] {
        .place-order-terms {
            display: none;
        }

        [data-address-mode=edit] {
            .shipping-address-block {
                display: block;
            }
        }

        &.multi-ship .order-product-summary {
            display: block;
        }
    }

    &[data-checkout-stage=payment] {
        .place-order-terms {
            display: none;
        }
    }

    &[data-checkout-stage=submitted] {
        .place-order-terms {
            display: none;
        }
    }
}

//checkout promo-section hide in other pages
.data-checkout-stage {
    &[data-checkout-stage=shipping] {
        .checkout-promo-section {
            display: none;
        }
    }

    &[data-checkout-stage=placeOrder] {
        .checkout-promo-section {
            display: none;
        }

        .place-order-terms {
            &.order-hide-mobile {
                @include media-breakpoint-down(md) {
                    display: none;
                }
            }
        }
    }

    &[data-checkout-stage=submitted] {
        .checkout-promo-section {
            display: none;
        }
    }
}

//fix for SFRA height issue fro select box
select.form-control:not([size]):not([multiple]) {
    height: auto;
}

//Restricted Product Overlay
#restricted-product-overlay {
    .modal-body {
        max-height: 100%;
        padding-right: 0;
    }

    .product-container-main {
        margin-top: 30px;
        border: 1px solid $ctd-secondary-5;
    }

    .product-container-heading,
    .restricted-product-name {
        color: $ctd-secondary-1;
        font-size: $base-font + 1px;
        font-weight: $font-weight-medium;
        line-height: 20px;
        padding: 15px 20px;
    }

    .product-container {
        padding: 15px 20px;
        border-top: 1px solid $ctd-secondary-5;

        img {
            height: 80px;
            width: 80px;
        }
    }

    .product-container-scrollbar {
        max-height: 145px;
    }

    .restricted-product-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0;
        margin-bottom: 10px;
    }

    .item-number {
        vertical-align: top;
        color: $ctd-secondary-1;
        font-size: $base-font - 3px;
        line-height: 16px;
        margin-left: 15px;
    }

    .container-buttons {
        margin: 35px 0 30px;

        @include media-breakpoint-up(lg) {
            margin: 35px 35px 30px;
        }

        .button-primary {
            max-width: 100%;
        }

        .btn-block + .btn-block {
            margin-top: 25px;
        }
    }

    .modal-footer {
        display: none;
    }

    .modal-header-description {
        @include media-breakpoint-down(md) {
            padding: 0 12px;
        }
    }
}

#foid-product-overlay {
    .button-primary {
        max-width: 100%;
    }

    .btn-block + .btn-block {
        margin-top: 25px;
    }
}

.electronic-gift-message {
    line-height: 19px;
    margin: 12px 20px 30px;

    @include media-breakpoint-down(md) {
        font-size: 15px;
        line-height: 18px;
    }
}

//tooltip issue for mobile in Billing page
.credit-card-selection-new {
    .info-icon {
        @include media-breakpoint-down(md) {
            .tooltip {
                left: -85px;

                &::after {
                    left: 91%;
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .tooltip {
                &::after {
                    margin-left: -21px;
                }
            }
        }
    }

    .saved-payment-instrument {
        .info-icon {
            @include media-breakpoint-down(md) {
                .tooltip {
                    left: inherit;

                    &::after {
                        left: 54.5%;
                    }
                }
            }
        }

        @include media-breakpoint-up(lg) {
            .tooltip {
                &::after {
                    margin-left: -9px;
                }
            }
        }
    }
}
